Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

Test CI fix
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
  tests/harness/test_mock_pid.py
  tests/harness/test_mock_pid_kill.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(tests): remove mock killpg spike scripts that execute module-level suicide on import
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
  tests/harness/test_mock_pid.py
  tests/harness/test_mock_pid_kill.py
Due: ruff-lint, ruff-format, mypy, vulture

test(ci): implement poka-yoke defense in depth against os.killpg worker suicides
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/harness/setup/composition.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): finalize case file 15 with solution and systemic poka-yoke prevention
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
Due: none

refactor(debugger): Overhaul debugging workflow and standardize Case File
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

fix(core): retain action descriptions in aborted action logs
  docs/project/debugging/16-generic-description-on-aborted-actions.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/core/services/action_executor.py
  tests/unit/core/services/test_action_executor_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Debugger platform specific probing refinement
  prompts/debugger.xml
Due: none

chore(prompts): refine execution guardrails and probing protocols
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

refine probing protocol
  prompts/debugger.xml
Due: none

Refine probing instructions
  prompts/debugger.xml
Due: none

Minor change
  prompts/debugger.xml
Due: none

refactor(prompts): apply global rationale and agent workflow refinements
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

refactor(debugger): optimize history checking and bisect steps
  prompts/debugger.xml
Due: none

feat(tui): define ALLOWED_RATIONALE_SECTIONS constant
  docs/project/slices/00-08-tui-rationale-scroll.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_section_filtering.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): introduce integration phase to developer workflow
  prompts/developer.xml
Due: none

docs(prompts): mandate asserting the frontier for intermediate tdd states
  prompts/developer.xml
Due: none

test(harness): extend TuiDriver and PlanBuilder for ContentSwitcher support
  tests/harness/drivers/plan_builder.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_tui_rationale_scrolling.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): mark harness deliverable complete and add implementation notes
  docs/project/slices/00-08-tui-rationale-scroll.md
Due: none

fix(web-scraper): defer trafilatura import to prevent windows ci crashes
  docs/project/debugging/17-windows-ci-worker-crash-github-scraping.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/suites/integration/core/services/test_lazy_loading_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): finalize case file for windows ci crash
  docs/project/debugging/17-windows-ci-worker-crash-github-scraping.md
Due: none

feat(tui): implement rationale scrolling and fix import regressions
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-08-tui-rationale-scroll.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
  tests/suites/acceptance/test_tui_rationale_scrolling.py
  tests/suites/acceptance/test_tui_save_as_workflow.py
  tests/suites/unit/adapters/inbound/test_rationale_filtering.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_widgets.py
  tests/suites/unit/adapters/inbound/test_tui_label_formatting.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): enforce iterative delivery cycle in developer workflow
  prompts/developer.xml
Due: none

test(tui): fix Windows CI crash in lazy loading regression test
  docs/project/debugging/18-windows-ci-winerror-10106.md
  tests/suites/integration/core/services/test_lazy_loading_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(parser): trim trailing whitespace to prevent misinterpretation of indentation as code blocks
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/unit/core/services/test_parser_trailing_whitespace.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(report): encapsulate user message in fenced code blocks
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/acceptance/test_instruction_bridge.py
  tests/suites/unit/core/services/test_report_message_fencing.py
Due: ruff-lint, ruff-format, mypy, vulture

test(tui): avoid asyncio in lazy loading regression test
  docs/project/debugging/18-windows-ci-winerror-10106.md
  tests/suites/integration/core/services/test_lazy_loading_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine dev workflow
  prompts/developer.xml
Due: none

feat(slice-00-05): finalize implementation plan and prototypes for session visibility
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  prototypes/final_session_ux_showcase.py
  prototypes/slice_00_05_logic.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): enforce remote execution for platform-specific bugs in debugger
  prompts/debugger.xml
Due: none

chore(prompts): standardize dashboards, rules, and blueprints across agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(slice): finalize planning lifecycle visibility and UI colors
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  prototypes/telemetry_color_matrix.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): standardize PROMPT action and commit-push workflow across agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(session): implement chronological session sorting with date prefixing
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/acceptance/helpers.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/acceptance/test_session_prefixing.py
  tests/suites/acceptance/test_session_resume_robustness.py
  tests/suites/acceptance/test_streamlined_init.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

dev - always Extract Test Helpers to Harness during refactor phase & also check for redundant tests to prune
  prompts/developer.xml
Due: none

docs(slice): replan 00-05 with findings and restore stable baseline
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

feat(prompts): add systemic recovery logic and refine DbC blueprint
  prompts/developer.xml
Due: none

feat(prompts): add systemic recovery logic and standardize concise DbC blueprints
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(slice): granular async transformation plan for 00-05
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

docs(prompts): add Contingency: Strategic Pivot protocol to developer.xml
  prompts/developer.xml
Due: none

docs(slice): update delta analysis for async transformation
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
