Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(prompts): refine Pathfinder, Architect, and Debugger workflows
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(core): refine agent prompts and migrate SLOC enforcement to CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
Due: none

fix(core): refine turn id extraction and auto-pruning heuristics
  docs/project/debugging/15-auto-pruning-failure.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_context_management_ui.py
  tests/suites/unit/core/services/test_session_pruning_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): refine auto-pruning heuristics and update slice deliverables
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

fix(core): resolve interactive regressions and implement recovery cleanup
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/resources/config/config.yaml
  tests/harness/setup/mocks.py
  tests/harness/setup/real_adapter_mixin.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_change_preview_feature.py
  tests/suites/acceptance/test_context_management_ui.py
  tests/suites/acceptance/test_interactive_execution.py
  tests/suites/acceptance/test_non_interactive_orchestration.py
  tests/suites/acceptance/test_quality_of_life_improvements.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
  tests/suites/unit/core/services/test_orchestrator_isolation.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
  tests/suites/unit/core/services/test_session_pruning_robustness.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slices): integrate retention limit heuristic into 00-04
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

fix(core): make auto-pruning path-agnostic for windows compatibility
  docs/project/debugging/15-auto-pruning-failure.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_windows.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone): consolidate technical debt and purge vulture references
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

fix(core): resolve windows encoding crash in auto-pruning tests
  tests/suites/acceptance/test_context_management_ui.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prompts): decouple debugger implementation to developer handoff!
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

build(prompts): generalize anti-mock poisoning rules to be language-agnostic
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Mock Poisoning Vertical slice
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  docs/project/slices/00-12-fix-context-path-crash.md
Due: none

build(prompts): add proactive test deduplication checks to architect and developer workflows
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/developer.xml
Due: none

Semantic Test Refactor Slice
  docs/project/slices/00-06-semantic-test-boundaries.md
Due: none

feat(prompts): modernize agent workflows and standardize spikes/ directory
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Adjust spike setting & update dependency
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  debug/mre_context_crash.py
  debug/repro_root/long_spec.md
  debug/trace_context.py
  docs/architecture/ARCHITECTURE.md
  poetry.lock
  prototypes/00-03/showcase.sh
  prototypes/00-03/telemetry_prototype.py
  prototypes/00-04/runner.py
  prototypes/00-04/showcase.sh
  pyproject.toml
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Debugger polish
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

docs(debugging): resolve windows path mismatch in context validation
  docs/project/debugging/16-windows-ci-failure-context-pruning.md
  docs/project/slices/00-04-context-management-ui.md
  spikes/debug/16-mre-path-context-verified.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(debugger): prioritize updating existing slices over creating new ones
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix(validation): normalize backslashes in is_path_in_context for Windows support
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/validation_rules/helpers.py
  tests/suites/unit/core/services/test_validation_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): normalize backslashes in resource path extraction
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service_extraction.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Clean up formatting
  docs/project/slices/00-04-context-management-ui.md
Due: none

fix(core): implement robust platform-agnostic path normalization
  debug_workspace/README.md
  docs/project/debugging/17-windows-ci-failure-context-retention.md
  spikes/debug/17-mre-fix-verified.py
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/validation_rules/helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

delete testing detritus
  debug_workspace/README.md
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none

log technical debt re emojis
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

chore(prompts): align all agent prompts with standardized protocol and formatting
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

chore(arch): enforce explicit utf-8 encoding in production
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debug): document windows encoding root cause and systemic fix
  docs/project/debugging/18-windows-encoding-crash.md
  docs/project/slices/00-07-systemic-encoding-fix.md
  spikes/debug/18-mre-encoding.py
  spikes/debug/18-mre-systemic-fix.py
Due: ruff-lint, ruff-format, mypy, vulture

test(harness): implement systemic UTF-8 encoding fix via Path monkeypatch
  docs/project/slices/00-07-systemic-encoding-fix.md
  tests/conftest.py
  tests/suites/unit/test_systemic_encoding.py
Due: ruff-lint, ruff-format, mypy, vulture

test(acceptance): remove redundant explicit UTF-8 encodings
  docs/project/slices/00-07-systemic-encoding-fix.md
  tests/suites/acceptance/test_context_management_ui.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(prompts): refine debugger for systemic fixes and simple remote probing
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(debug): setup permanent remote probing infrastructure
  .github/workflows/debug.yml
  spikes/debug/remote_probe.py
Due: ruff-lint, ruff-format, mypy, vulture

debug: diagnostic probe for platform behavior
  spikes/debug/remote_probe.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

debug: remote probe and case file
  docs/project/debugging/01-rpp-demonstration.md
Due: none

debug: implement and verify polyglot RPP
  .github/workflows/debug.yml
  spikes/debug/remote_probe.sh
Due: none

debug: remote probe update for environment investigation
  .github/workflows/debug.yml
  docs/project/debugging/01-ci-platform-mismatch.md
  spikes/debug/remote_probe.sh
Due: none

refine RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none
