Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

fix(report): classify report content render placement in single pass
  docs/project/PROJECT.md
  docs/project/debugging/53-execute-read-duplicate-content.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/acceptance/test_execute_read_adhoc_params.py
  tests/suites/unit/core/services/test_report_read_render_placement.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(milestones): plan debt slices for report template and test harness observer
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

fix(adapters): make write_file newline-deterministic for byte-exact persistence
  docs/architecture/adapters/outbound/local_file_system_adapter.md
  docs/project/PROJECT.md
  docs/project/debugging/53-persistent-ci-windows-tests-and-quality-gate.md
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
  spikes/debug/probe.sh
  spikes/debug/shadow_local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_newline_determinism.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(io): extend newline-determinism invariant to residual write sites
  docs/project/PROJECT.md
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/update_checker.py
  tests/suites/unit/adapters/inbound/test_tui_editor_flush_outside_suspend.py
  tests/suites/unit/adapters/inbound/test_tui_editor_process_group_restoration.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_newline_determinism.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove completed debt entries
  docs/project/PROJECT.md
Due: none

docs(project): add session interrupt and resume -m task brief
  docs/project/PROJECT.md
  docs/project/tasks/00-21-session-interrupt-resume-message.md
Due: none

docs(session-interrupt-resume-message): add vertical slice for session interrupt and resume -m flows
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

docs(session-interrupt-resume-message): re-partition meta persistence into non-breaking session service seam
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

perf(windows-startup-latency): thread project context through lifecycle to eliminate double gather
  docs/project/PROJECT.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/acceptance/test_context_management_ui.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
  tests/suites/unit/core/services/test_bug_04_mock_unpacking.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_planner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session-interrupt-resume-message): pin awaiting_reply flag round-trip contract for session meta
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/suites/unit/core/services/test_session_repository_meta_contract.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session-interrupt-resume-message): expose repository-backed turn-meta load/save on session service
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_repository_meta_contract.py
  tests/suites/unit/core/services/test_session_service_turn_meta.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(windows-startup-latency): add pre-commit hook compare-and-skip guard
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_precommit_hook_skip_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(windows-startup-latency): persist OpenRouter model registry cache
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): suppress turn finalization for pipeline message turns
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_pipeline_suppression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(windows-startup-latency): prewarm tiktoken encoding at init
  docs/project/PROJECT.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): add resume --message/-m flag and thread through handlers
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/adapters/inbound/test_resume_message_threading.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(windows-startup-latency): make context re-gather fallback-only
  docs/architecture/core/services/planning_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_planner.md
  docs/project/PROJECT.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): consume awaiting-reply turns on resume and clear loop message
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/adapters/inbound/test_resume_message_threading.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
  tests/suites/unit/core/services/test_session_lifecycle_awaiting_reply.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): append smart-fenced user request on complete-turn resume
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_awaiting_reply.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): add two-phase interrupt guard contract
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/utils/interrupt_guard.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/core/utils/test_interrupt_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-interrupt-resume-message): re-partition interrupt wiring into atomic deliverables
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

feat(session-interrupt-resume-message): add interrupt guard seam to orchestrator ports
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/orchestrator_ports.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_interrupt_guard_seam.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): supply real interrupt guard in harness orchestrator factory
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session-interrupt-resume-message): supply interrupt guard in harness without_reviewer factory
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

feat(session-interrupt-resume-message): wire interrupt guard into session loop boundary
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/container.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/adapters/inbound/test_session_loop_interrupt_wiring.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-interrupt-resume-message): mark interrupt-drain logic deliverable in progress
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

test(session-interrupt-resume-message): characterize shell SIGINT shield and windows behavior
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_kwargs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): drain remaining actions on two-phase ctrl-c interrupt
  docs/project/PROJECT.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator_interrupt_drain.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-interrupt-resume-message): mark interrupt-drain logic deliverable complete
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

test(session-interrupt-resume-message): supply interrupt guard in harness without_reviewer factory
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(session-interrupt-resume-message): add empty-branch message-consumption logic deliverable to slice plan
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

feat(session-interrupt-resume-message): consume injected message in the EMPTY resume branch
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_empty_message.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): wire pipeline message suppression, resume -m, and two-phase interrupt
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_service.md
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): add cost-calculation-accuracy task brief
  docs/project/tasks/00-22-cost-calculation-accuracy.md
Due: none

docs(session-interrupt-resume-message): append consumption-semantics amendment deliverables
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

feat(session-interrupt-resume-message): add consumption seam to session ports
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/planning_ports.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_consumption_seam.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): finalize awaiting-reply turn on reply consumption
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
  tests/suites/unit/core/services/test_session_lifecycle_awaiting_reply.py
  tests/suites/unit/core/services/test_session_lifecycle_reply_finalization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): stop again on pipeline resume without message
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_pipeline_stop_again.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): relocate user request section to end of report template
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_report_user_request_placement.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(session-interrupt-resume-message): prepend resume -p contract deliverable to slice plan
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none
