Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(session_pruning): move Heuristic 4 inside non-VF report guard
  docs/architecture/core/services/session_pruning_service.md
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-13-validation-failure-pruning-timing.md
  spikes/prototypes/02-13-validation-failure-timing.py
Due: ruff-lint, ruff-format, mypy, vulture

Minor change
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): update status to In Progress and re-partition deliverables for 02-13
  docs/project/slices/02-13-validation-failure-pruning-timing.md
Due: none

feat(pruning): guard Heuristic 4 by non-VF report existence
  docs/project/slices/02-13-validation-failure-pruning-timing.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_status_anchoring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(pruning): add integration tests for Heuristic 4 non-VF report guard
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-13-validation-failure-pruning-timing.md
  tests/suites/integration/core/services/test_validation_failure_pruning_timing_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(docs): slice 02-14 session context write-time dedup design
  .secrets.baseline
  docs/architecture/core/services/session_service.md
  docs/project/slices/02-14-session-context-write-time-dedup.md
Due: none

refactor(session-service): add order-preserving dedup to _prepare_session_context
  docs/architecture/core/services/session_service.md
  docs/project/slices/02-14-session-context-write-time-dedup.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-context-dedup): mark slice 02-14 as completed
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-14-session-context-write-time-dedup.md
Due: none

docs(architect): add Tweak slice type for low-risk work routing
  src/teddy_executor/resources/prompts/architect.xml
Due: none

docs(prototyper): add Tweak slice type to Vertical Slice blueprint
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(developer): add Tweak slice type to Vertical Slice blueprint
  src/teddy_executor/resources/prompts/developer.xml
Due: none

docs(debugger): add Tweak slice type to Vertical Slice blueprint
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

Clean up requirements
  docs/project/PROJECT.md
Due: none

docs(debugging): add Case File 17 and Vertical Slice 02-15 for model override bug
  docs/project/debugging/17-invalid-model-metadata.md
  docs/project/slices/02-15-model-override-fix.md
  spikes/debug/17-fallback-probe.py
  spikes/debug/17-invalid-model-mre.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(cleanup): remove temporary debug files for bug 17
  spikes/debug/17-fallback-probe.py
  spikes/debug/17-invalid-model-mre.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): prepend hydrator fix as prerequisite deliverable in 02-15
  docs/project/slices/02-15-model-override-fix.md
Due: none

fix(hydrator): handle non-convertible string-typed pricing values gracefully
  docs/project/slices/02-15-model-override-fix.md
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): add explicit 00-prefix note to debugger and prototyper
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(slice): reorder deliverables in 02-15 for systemic recovery
  docs/project/slices/02-15-model-override-fix.md
Due: none

fix(parser): improve MESSAGE action validation error with mutual exclusivity hint
  docs/project/debugging/17-message-action-validation-error.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/plan_validator.py
  tests/suites/unit/core/services/test_bug_17_message_validation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone): add slice 02-15-model-override-fix to milestone document
  docs/project/milestones/02-stability-and-polish.md
Due: none

refactor(truncation): refine truncation hint messages and remove completed requirement from PROJECT.md
  docs/project/PROJECT.md
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_capping.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(adapter): harden hydration float conversion and get_completion_cost TypeError catch
  docs/project/slices/02-15-model-override-fix.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(parser): add slice 02-16 for refactoring parser complexity
  docs/project/slices/02-16-refactor-parser-complexity.md
Due: none

refactor(parser): extract _validate_mutual_exclusivity from parse method
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/02-16-refactor-parser-complexity.md
  spikes/prototypes/02-13-validation-failure-timing.py
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(adapter): complete param layering fix and resolve persistent float+str test regression
  docs/project/slices/02-15-model-override-fix.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(parser): extract _parse_section_content from parse method
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/02-16-refactor-parser-complexity.md
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(parser): finalize complexity reduction of parse method below C901 threshold
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-16-refactor-parser-complexity.md
Due: none

feat(adapter): add startup model validation method
  docs/project/slices/02-15-model-override-fix.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): mark deliverable 4 done, add implementation notes, start deliverable 5
  docs/project/slices/02-15-model-override-fix.md
Due: none

fix(test): correct IGetContextUseCase import to use explicit module path
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-15-model-override-fix.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Mark slice as completed
  docs/project/milestones/02-stability-and-polish.md
Due: none

feat(architect): add Delta Analysis step to prevent redundant deliverables
  src/teddy_executor/resources/prompts/architect.xml
Due: none

Set default max_turns_retention: 10
  src/teddy_executor/resources/config/config.yaml
Due: none

fix(telemetry): remove redundant "Actual model" display line for Bug #18
  docs/project/debugging/18-model-display-resolution.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_bug_18_model_display.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(telemetry): persist actual model in meta.yaml and remove gpt-4o fallback for Bug #18
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/prompt_manager.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_cli_context_flag.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): preserve user-configured model prefix in meta.yaml for Bug #19
  docs/project/debugging/19-session-auth-crash.md
  src/teddy_executor/core/services/prompt_manager.py
  tests/suites/acceptance/test_cli_context_flag.py
  tests/suites/unit/core/services/test_bug_19_model_prefix_preservation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): auto-add EDIT target file path to turn.context on execution failure
  docs/project/debugging/19-context-add-after-failed-edit.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_bug_19_execution_failure_context.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Add validation recovery section in execution report
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

fix(display): show actual_model from meta.yaml with model fallback across terminal outputs
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_bug_18_model_display.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
