Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(session-interrupt-resume-message): thread pipeline flag through resume command
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_resume_message_threading.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session-interrupt-resume-message): pin finalized resume -p consumption semantics in the acceptance suite
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(session-interrupt-resume-message): add case files for resume -p consumption and Ctrl+C verification findings
  docs/project/debugging/54-resume-p-consumption-display-and-finalization.md
  docs/project/debugging/55-user-request-section-spacing-and-details-ordering.md
  docs/project/debugging/56-ctrl-c-not-firing-on-host-terminal.md
Due: none

docs(debugging): document resume -p consumption RCA and fix slice deliverables
  docs/project/PROJECT.md
  docs/project/debugging/54-resume-p-consumption-display-and-finalization.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

docs(debugging): fold message-turn synthesis into slice 00-21 and retire its debt entry
  docs/project/PROJECT.md
  docs/project/debugging/54-resume-p-consumption-display-and-finalization.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

fix(session-interrupt-resume-message): thread injected reply into MESSAGE action log details
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
  tests/suites/unit/core/services/test_session_lifecycle_pipeline_stop_again.py
  tests/suites/unit/core/services/test_session_lifecycle_reply_finalization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session-interrupt-resume-message): unify MESSAGE rendering across pipeline and stop-again paths
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_lifecycle_pipeline_stop_again.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(report): order scalar action metadata under Status and blank-line User Request
  docs/project/debugging/55-user-request-section-spacing-and-details-ordering.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_report_action_summary_ordering.py
  tests/suites/unit/core/services/test_session_lifecycle_user_request_spacing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone-5): propose systemic debt slices from the report-surface audit
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

test(session-interrupt-resume-message): pin Bug 54 consumption parity at the acceptance gate
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
Due: ruff-lint, ruff-format, mypy, vulture

Minor change
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

refactor(session-interrupt-resume-message): route message-turn synthesis through the report assembler
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/planning_ports.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_awaiting_reply.py
  tests/suites/unit/core/services/test_session_lifecycle_pipeline_stop_again.py
  tests/suites/unit/core/services/test_session_lifecycle_reply_finalization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debug): finalize Ctrl+C RCA and formalize terminal-mode fix deliverables
  docs/project/PROJECT.md
  docs/project/debugging/56-ctrl-c-not-firing-on-host-terminal.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

fix(session): consume injected reply on pending communication turns
  docs/project/PROJECT.md
  docs/project/debugging/57-resume-message-interactive-no-pipeline.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_pending_plan_communication_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone): record resume state-machine debts as proposed slices
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

docs(debug): formalize Bug 56 bare-q quit key and interrupt-notice deliverables
  docs/project/PROJECT.md
  docs/project/debugging/56-ctrl-c-not-firing-on-host-terminal.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

fix(session-interrupt-resume-message): re-enable ISIG/IEXTEN in terminal cooked-mode restores
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  tests/suites/unit/adapters/outbound/test_terminal_cooked_mode_restore.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-interrupt-resume-message): restore terminal after console ask-loop CLI editor exit
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_restore.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-interrupt-resume-message): propagate Ctrl+C from the console ask prompt
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_interrupt.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session-interrupt-resume-message): extract shared cooked-mode restore helper
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/outbound/console_interactor_helpers.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  src/teddy_executor/core/utils/terminal.py
  tests/suites/unit/core/utils/test_restore_cooked_mode.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-interrupt-resume-message): plan bare-q quit-listener harness deliverable
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

feat(session-interrupt-resume-message): add terminal single-key quit listener port
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/ports/outbound/quit_key_listener.py
  tests/suites/unit/core/ports/outbound/test_quit_key_listener_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): add in-memory fake quit-key listener harness double
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/harness/setup/fake_quit_key_listener.py
  tests/suites/unit/test_quit_key_listener_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session-interrupt-resume-message): register process-global terminal quit-key listener
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/terminal_quit_key_listener.py
  src/teddy_executor/container.py
  tests/suites/unit/adapters/outbound/test_terminal_quit_key_listener_seam.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): implement terminal quit-key reader and stdin-ownership guard
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/terminal_quit_key_listener.py
  src/teddy_executor/core/utils/stdin_ownership.py
  tests/suites/unit/adapters/outbound/test_terminal_quit_key_listener_reader.py
  tests/suites/unit/core/utils/test_stdin_ownership.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): claim stdin ownership at console read sites
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_stdin_ownership_claims.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-interrupt-resume-message): start and stop the quit-key listener around the turn loop
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_loop_quit_listener_wiring.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine docs
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

refactor(session-interrupt-resume-message): route reader restore through shared cooked-mode helper
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/outbound/terminal_quit_key_listener.py
  tests/suites/unit/adapters/outbound/test_terminal_quit_key_listener_reader.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session-interrupt-resume-message): reword and single-source the session-interrupt notice
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/utils/interrupt_guard.py
  tests/suites/unit/adapters/inbound/test_session_loop_interrupt_wiring.py
  tests/suites/unit/core/services/test_execution_orchestrator_interrupt_drain.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session-interrupt-resume-message): extract shared ContainerStub harness double
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/harness/setup/container_stub.py
  tests/suites/unit/adapters/inbound/test_resume_message_threading.py
  tests/suites/unit/adapters/inbound/test_session_loop_interrupt_wiring.py
  tests/suites/unit/adapters/inbound/test_session_loop_quit_listener_wiring.py
  tests/suites/unit/test_container_stub_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(tasks): add task brief to deprecate --console mode
  docs/project/tasks/deprecate-console-mode.md
Due: none

docs(deprecate-console-mode): add vertical slice skeleton for console deprecation
  docs/project/slices/00-22-deprecate-console-mode.md
Due: none

test(deprecate-console-mode): relocate console plan reviewer into test harness
  docs/project/PROJECT.md
  docs/project/slices/00-22-deprecate-console-mode.md
  tests/harness/setup/harness_plan_reviewer.py
  tests/harness/setup/real_adapter_mixin.py
  tests/suites/unit/test_harness_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(deprecate-console-mode): remove --console/--tui flag and ui-mode override helpers
  docs/project/slices/00-22-deprecate-console-mode.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  tests/suites/acceptance/test_tui_instruction_bridge.py
  tests/suites/acceptance/test_ui_mode_toggling.py
  tests/suites/unit/adapters/inbound/test_cli_console_mode_removal.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(quit-key-in-flight-interrupt): add bug 58 case file and plan the fix slice
  docs/project/PROJECT.md
  docs/project/debugging/58-q-interrupt-mid-execution.md
  docs/project/slices/00-23-quit-key-in-flight-interrupt.md
Due: none

docs(milestone-05): add proposed slice for unused enter_waiting() guard
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

refactor(deprecate-console-mode): collapse reviewer registry to TUI-only
  docs/project/slices/00-22-deprecate-console-mode.md
  src/teddy_executor/registries/reviewer.py
  tests/suites/integration/core/services/test_reviewer_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(deprecate-console-mode): remove the console plan reviewer adapter
  docs/project/slices/00-22-deprecate-console-mode.md
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  tests/harness/setup/harness_plan_reviewer.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer_removal.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(deprecate-console-mode): remove residual ui_mode references
  docs/project/PROJECT.md
  docs/project/slices/00-22-deprecate-console-mode.md
  docs/project/specs/openrouter-monetization-oauth.md
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_context_management_ui.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
  tests/suites/unit/test_environment_harness_config_mock.py
Due: ruff-lint, ruff-format, mypy, vulture

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
