Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(tui): synchronize backgrounds, fix selection persistence, and add rationale navigation
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): enforce user-directed iteration loop for Assistant
  prompts/assistant.xml
Due: none

update milestone
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

feat(core): expand slugification stopwords with conversational fillers
  src/teddy_executor/core/utils/string.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(docs): add vertical slice for ls-R tree format
  docs/project/slices/00-05-ls-r-tree-format.md
Due: none

Fix slugify test
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(adapters): implement ls-R style repository tree format
  docs/architecture/adapters/outbound/local_repo_tree_generator.md
  docs/project/slices/00-05-ls-r-tree-format.md
  docs/project/specs/context-payload-format.md
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
  tests/suites/integration/adapters/outbound/test_local_repo_tree_generator.py
  tests/suites/integration/adapters/outbound/test_tree_generator_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(specs): add unified HANDOFF protocol with agent stack logic
  docs/project/specs/handoff-protocol.md
Due: none

feat(prompts): streamline Architect Alignment Gate and As-Built workflow
  prompts/architect.xml
Due: none

fix(adapters): add missing os import and normalize path separators
  .github/workflows/debug-probe.yml
  debug/repro_path_issue.py
  docs/project/debugging/03-windows-path-regression.md
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: finalize case file for windows path regression
  docs/project/debugging/03-windows-path-regression.md
Due: none

cleanup: remove diagnostic artifacts
  .github/workflows/debug-probe.yml
  debug/repro_path_issue.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine remote probing protocol
  prompts/debugger.xml
Due: none

feat(debugger): optimize remote probing protocol for speed and history purity
  prompts/debugger.xml
Due: none

fix(core): ensure abort messages propagate and sessions terminate correctly
  docs/project/debugging/04-abort-handling-bugs.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_abort_logic_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): ensure session termination and prompt on plan abort
  docs/project/debugging/04-abort-handling-bugs.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_abort_handling_regression.py
  tests/suites/unit/core/services/test_abort_logic_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): allow whitespace-only code blocks between actions
  docs/project/debugging/06-plan-parser-backtick-bug.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/unit/core/services/test_parser_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): improve debugger investigation and regression protocols
  prompts/debugger.xml
Due: none

feat(prompts): synchronize case file blueprints and discrepancy formats
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/prototyper.xml
Due: none

feat(core): improve slugify apostrophe handling and expand stopwords
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): resolve Vulture race condition by isolating DI boundary tests and removing redundant ratchet
  tests/suites/acceptance/test_vulture_whitelist_enforcement.py
Due: ruff-lint, ruff-format, mypy, vulture

Minor formatting change
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/prototyper.xml
Due: none

Cleanup
  docs/project/debugging/01-session-replanning-crash.md
  docs/project/debugging/02-windows-ci-worker-crash.md
  docs/project/debugging/03-windows-path-regression.md
  docs/project/debugging/04-abort-handling-bugs.md
  docs/project/debugging/06-plan-parser-backtick-bug.md
  docs/tasks/01-tui-polish.md
Due: none

fix(tui): open actual plan.md in session view mode
  docs/project/debugging/01-session-view-plan-path.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_view_plan_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): streamline workflows and standardize version control protocol
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Minor path change
  prompts/pathfinder.xml
Due: none

Minor polish
  prompts/debugger.xml
Due: none

feat(config): add max_output_lines and max_read_lines config keys
  config/config.yaml
  docs/project/slices/00-06-cap-execute-output.md
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(utils): add truncate_lines utility for output capping
  docs/project/slices/00-06-cap-execute-output.md
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(shell): implement shell output truncation in ShellAdapter
  docs/project/slices/00-06-cap-execute-output.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_capping.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement head truncation for file reads in LocalFileSystemAdapter
  docs/project/slices/00-06-cap-execute-output.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_capping.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): centralize truncation hints for execute and read actions
  docs/project/slices/00-06-cap-execute-output.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(config): wire truncation limits and finalize documentation
  docs/architecture/adapters/outbound/local_file_system_adapter.md
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/core/ports/outbound/config_service.md
  src/teddy_executor/registries/infrastructure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): update 00-06 completion status and notes
  docs/project/slices/00-06-cap-execute-output.md
Due: none

fix(shell): handle windows diagnostic transformations in failure reports
  docs/project/debugging/02-windows-ci-shell-failure.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_granular_failure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine debugger and developer workflows
  prompts/debugger.xml
  prompts/developer.xml
Due: none

docs: plan centralized configuration baseline
  docs/architecture/ARCHITECTURE.md
  docs/project/PROJECT.md
  docs/project/slices/00-07-centralized-configuration-baseline.md
Due: none

feat(prompt): replace Path with Handoff Target in dashboard
  prompts/pathfinder.xml
Due: none

Refine vertical slice
  docs/project/slices/00-07-centralized-configuration-baseline.md
Due: none

Add centralized config instructions
  prompts/assistant.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none
