Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

fix(planning): pass cache_dir to get_context to enable web caching during planning
  docs/project/PROJECT.md
  docs/project/debugging/10-web-cache-ignored.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_bug_10_web_cache.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): remove Bug #10 technical debt entry per user request
  docs/project/PROJECT.md
Due: none

refactor(update): remove uv detection, always show pip commands
  README.md
  src/teddy_executor/__main__.py
  src/teddy_executor/core/services/update_checker.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
  tests/suites/unit/core/services/test_bug_07_update_network_error.py
  tests/suites/unit/core/services/test_update_checker.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update Project.md
  docs/project/PROJECT.md
Due: none

chore(prompts): improve agent prompt instructions
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

refactor(update-checker): remove auto-update, wire startup notification
  docs/project/PROJECT.md
  docs/project/debugging/09-experimental-network-error-dev-update.md
  docs/project/slices/00-02-update-checker.md
  docs/project/specs/update-checker.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/update_checker.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
  tests/suites/unit/core/services/test_update_checker.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): enhance Component Design blueprint with DbC contract standards
  src/teddy_executor/resources/config/prompts/architect.xml
Due: none

fix(pathfinder): correct direct-execution vs handoff-to-assistant logic
  docs/project/PROJECT.md
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

Revert "fix(pathfinder): correct direct-execution vs handoff-to-assistant logic"
  docs/project/PROJECT.md
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

docs(pathfinder): skip Task Brief creation when executing directly
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

feat(update): improve message for experimental version users when running teddy update without --experimental
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): add task brief for teddy init subcommands and update message cleanup
  docs/project/tasks/init-subcommands-and-update-messages.md
Due: none

TeDDy v0.1.5
  pyproject.toml
Due: none

Log security debt
  docs/project/PROJECT.md
Due: none

chore(project): remove completed debt item for InitService bare except fix
  README.md
  docs/project/PROJECT.md
  src/teddy_executor/__main__.py
  src/teddy_executor/core/ports/inbound/init.py
  src/teddy_executor/core/services/init_service.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update): uninstall before install for stable release switch
  spikes/debug/.gitkeep
  spikes/prototypes/update-checker/__init__.py
  spikes/prototypes/update-checker/probe_baseline.py
  spikes/prototypes/update-checker/probe_prototype.py
  spikes/prototypes/update-checker/shadow_cli_helpers.py
  spikes/prototypes/update-checker/shadow_update_checker.py
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(init): skip callback summary when subcommand is invoked
  docs/project/debugging/11-init-prompts-unchanged.md
  src/teddy_executor/__main__.py
  tests/suites/unit/test_init_cli_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): auto-install pre-commit hooks and git init with green notifications
  docs/project/tasks/00-05-precommit-install-to-start.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session_cli_handlers): check CWD only for git detection instead of walking parent directories
  docs/project/debugging/07-git-detection-subfolder.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_git_detection_cwd_only.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

ci(workflows): bump Python version from 3.11 to 3.14
  .github/workflows/ci.yml
  .github/workflows/debug.yml
  .github/workflows/publish.yml
Due: none

debug: add windows git detection probe
  spikes/debug/12-git-detection-rpp.py
Due: ruff-lint, ruff-format, mypy, vulture

debug: add windows git detection remote probe
  spikes/debug/remote_probe.sh
Due: none

fix(tests): use pathlib.name for cross-platform .git detection in monkeypatches
  docs/project/debugging/12-git-detection-windows.md
  spikes/debug/12-git-detection-rpp.py
  spikes/debug/remote_probe.sh
  tests/suites/unit/adapters/inbound/test_git_detection_cwd_only.py
  tests/suites/unit/adapters/inbound/test_git_detection_path_helper.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(tests): correct regression test for cross-platform absolute path detection
  docs/project/debugging/13-posix-cwd-validation-windows.md
  src/teddy_executor/core/services/validation_rules/helpers.py
  tests/suites/unit/core/services/test_validation_path_detection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): finalize Case File for Bug #13 POSIX absolute CWD fix
  docs/project/debugging/13-posix-cwd-validation-windows.md
Due: none

docs(project): document pip-audit vulnerability assessment and litellm blocker
  docs/project/PROJECT.md
Due: none

fix(tests): make regression test cross-platform for POSIX absolute path detection
  tests/suites/unit/core/services/test_validation_path_detection.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prompts): remove pre-commit install step from VCP in all agents
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

fix(parser): strip non-alphabetic characters from action type names for symbol tolerance
  docs/project/PROJECT.md
  docs/project/debugging/14-action-name-symbol-tolerance.md
  spikes/debug/.gitkeep
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/unit/core/services/test_parser_symbol_tolerance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(context): show full git status in input.md, preserve short format for per-file metadata
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  src/teddy_executor/core/ports/outbound/environment_inspector.py
  src/teddy_executor/core/services/context_service.py
  tests/harness/setup/mocks.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine README
  README.md
Due: none

Edit image
  assets/workflow-schematic.png
Due: none

Refine image
  assets/workflow-schematic.png
Due: none

remove ui config settings
  src/teddy_executor/resources/config/config.yaml
Due: none

fix(tui): harvest action content from pending temp file before execution
  docs/project/debugging/15-tui-create-content-not-picked-up.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  tests/suites/unit/adapters/inbound/test_tui_content_harvest.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(pathfinder): integrate first-principles thinking into mission
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

feat(prototyper): rename to Behavioral Prototype & Spec Validator
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none
