Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(prompts): standardize possible outcomes and escalation
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(prompts): enforce binding status transitions in agent rationale
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(prompts): strictly enforce Status Protocol and ban blind retries
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Update vertical slice doc
  docs/project/slices/00-09-fix-validation-latency.md
Due: none

fix(deps): update primp in poetry.lock to resolve installation failure
  poetry.lock
Due: none

chore(prompts): refactor agent prompts for consistency and clarity
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(dev-prompt): refine verification and testing strategy definitions
  prompts/dev.xml
Due: none

Docs cleanup
  docs/project/debugging/mre/stale-container-leakage.md
  docs/project/debugging/mre/suite-wide-timeouts-and-mock-pollution.md
  docs/project/debugging/rca/punq-type-locking-leakage.md
  docs/project/debugging/rca/suite-wide-timeouts-and-mock-pollution.md
  docs/project/debugging/rca/validation-latency-fuzzy-matching.md
  docs/project/slices/00-01-standardize-reference-files-parser.md
  docs/project/slices/00-02-enforce-action-isolation.md
  docs/project/slices/00-03-edit-mismatch-indicator.md
  docs/project/slices/00-04-validation-diagnostics-polish.md
  docs/project/slices/00-05-hanging-command-management.md
  docs/project/slices/00-06-create-action-overwrite.md
  docs/project/slices/00-07-session-prompt-llm-config-polish.md
  docs/project/slices/00-07b-enhanced-validation-diagnostics.md
  docs/project/slices/00-08-polishing-ux-logic.md
  docs/project/slices/00-09-fix-validation-latency.md
Due: none

feat(docs): add protocol polish specs and implementation slice
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  docs/project/specs/report-format.md
Due: none

feat(protocol): support File Path alias for READ and PRUNE with URL validation
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/validation_rules/prune.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/acceptance/test_flexible_resource_parsing.py
  tests/unit/core/services/test_resource_alias_unit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(parser): add multi-line query splitting for RESEARCH action
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/specs/plan-format.md
  src/teddy_executor/core/services/action_parser_complex.py
  tests/integration/core/services/test_research_parsing_integration.py
  tests/unit/core/services/test_parser_advanced_actions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

minor change
  docs/project/debugging/rca/validation-performance-bottleneck.md
Due: none

minor change
  src/teddy_executor/core/services/validation_rules/create.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "minor change"
  docs/project/debugging/rca/validation-performance-bottleneck.md
Due: none

perf(validation): optimize edit matching and lazy load parser
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/plan_validator.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/unit/core/services/test_validator_edit_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(validation): implement priority capping in EditMatcher
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(report): improve validation error formatting and diff reliability
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/services/parser_reporting.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_replanner.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_enhanced_validation.py
  tests/integration/core/services/test_enhanced_validation_integration.py
  tests/unit/core/services/test_formatter_action_logs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(validation): optimize fuzzy matching heuristics for large files
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): refine deliverables for resilient EDIT matching slice
  docs/project/slices/00-01-protocol-polish-resilience.md
Due: none

perf(validation): optimize matching heuristics and CLI startup
  src/teddy_executor/__main__.py
  src/teddy_executor/container.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  tests/acceptance/test_validation_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Container fix for importing speeds
  src/teddy_executor/container.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Make performance test more lenient of windows to resolve CI error
  tests/acceptance/test_validation_performance.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(core): implement resilient fuzzy matching for EDIT actions
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/outbound/local_file_system_adapter.md
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/services/edit_simulator.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/plan_validator.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/specs/plan-format-validation.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_validation_performance.py
  tests/integration/adapters/outbound/test_file_system_adapter.py
  tests/integration/core/services/test_resilient_edit_matching_integration.py
  tests/unit/core/services/test_edit_matcher_resilience.py
  tests/unit/core/services/test_edit_simulator_fuzzy.py
  tests/unit/core/services/test_parser_edit_threshold.py
  tests/unit/core/services/test_validator_edit.py
  tests/unit/core/services/test_validator_edit_performance.py
  tests/unit/core/services/test_validator_edit_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  docs/project/slices/00-01-protocol-polish-resilience.md
Due: none

Refine slice
  docs/project/slices/00-01-protocol-polish-resilience.md
Due: none

feat(shell): implement high-precision granular failure reporting
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/core/domain/shell_output.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/domain/models/shell_output.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_execute_granular_failure.py
  tests/unit/adapters/outbound/test_shell_adapter_granular_failure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(shell): resolve windows quoting and complexity regressions
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

attempt fix shell adapter for windows
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): decompose ActionExecutor and satisfy quality gates
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/core/services/edit_simulator.md
  docs/architecture/core/services/markdown_report_formatter.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_diff_manager.py
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  src/teddy_executor/core/utils/diff.py
  tests/acceptance/test_edit_multi_block_transparency.py
  tests/acceptance/test_edit_transparency_and_bulk.py
  tests/acceptance/test_edit_ux_polish.py
  tests/integration/core/services/test_action_dispatch_logic.py
  tests/integration/core/services/test_execution_orchestrator.py
  tests/integration/core/services/test_flexible_resource_parsing.py
  tests/integration/core/services/test_partial_execution_integration.py
  tests/integration/core/services/test_report_whitespace_sanitization.py
  tests/integration/core/services/test_resilient_edit_matching_integration.py
  tests/unit/core/services/test_edit_simulator.py
  tests/unit/core/services/test_edit_simulator_bulk.py
  tests/unit/core/services/test_edit_simulator_fuzzy.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_orchestrator_data_flow.py
  tests/unit/core/services/test_orchestrator_isolation.py
  tests/unit/core/services/test_parser_edit_bulk.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Attempt CI shell adapter fix
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Attempt CI shell adapter fix
  docs/project/debugging/rca/windows-exit-code-swallowing.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(protocol): document Replace All parameter for EDIT action
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

fix(shell): resolve windows exit code swallowing and improve wrapping
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/project/debugging/rca/windows-exit-code-swallowing.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/unit/adapters/outbound/test_shell_adapter_windows_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(shell): resolve windows exit code swallowing in cmd.exe chains
  docs/architecture/ARCHITECTURE.md
  docs/project/debugging/rca/windows-exit-code-swallowing.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/integration/adapters/outbound/test_shell_adapter.py
  tests/unit/adapters/outbound/test_shell_adapter_windows_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Increase similarity threshold from 0.95 to 0.96
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/edit_simulator.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/specs/plan-format-validation.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_validation_performance.py
  tests/integration/core/services/test_resilient_edit_matching_integration.py
  tests/unit/core/services/test_parser_edit_threshold.py
  tests/unit/core/services/test_validator_edit_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(rca): add analysis for windows exit code quoting issue
  docs/project/debugging/rca/windows-exit-code-quoting-issue.md
Due: none

fix(shell_adapter): Prevent quote-related syntax errors in Windows cmd wrapper
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert default threshold to 0.95
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/edit_simulator.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/specs/plan-format-validation.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_validation_performance.py
  tests/integration/core/services/test_resilient_edit_matching_integration.py
  tests/unit/core/services/test_parser_edit_threshold.py
  tests/unit/core/services/test_validator_edit_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore: Add temporary workflow for debug spike
  .github/workflows/debug-spike.yml
  .gitignore
  docs/project/debugging/mre/windows-exit-code-quoting-regression.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
