Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

test(resume-session-slug): cover _resolve_session_name slug fallback
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/ports/outbound/session_manager.md
  docs/architecture/core/services/session_service.md
  docs/project/PROJECT.md
  docs/project/slices/00-30-resume-by-session-slug.md
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_slug_fallback.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(resume-session-slug): mark slice completed
  docs/project/slices/00-30-resume-by-session-slug.md
Due: none

feat(config-passthrough): remove provider special-case and add regression tests
  docs/project/slices/00-31-config-passthrough-provider-routing.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(config-passthrough): remove --provider CLI flag from start/resume
  docs/project/slices/00-31-config-passthrough-provider-routing.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_cli_context_flag.py
  tests/suites/unit/test_cli_flag_removal.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(config-passthrough): remove provider parameter from session_cli_handlers handler signatures and forwards
  docs/project/slices/00-31-config-passthrough-provider-routing.md
  spikes/debug/45-cache-bloat-mre.py
  spikes/prototypes/editor-validation-and-discovery/README.md
  spikes/prototypes/editor-validation-and-discovery/editors_demo.py
  spikes/prototypes/editor-validation-and-discovery/set_setting_shadow.py
  spikes/prototypes/editor-validation-and-discovery/spike.py
  spikes/prototypes/windows-startup-latency/orchestrator_execute_audit.md
  spikes/prototypes/windows-startup-latency/registry_cache_prototype.py
  spikes/prototypes/windows-startup-latency/validate_shim_determinism.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_bug_24_model_override_on_resume.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_api_key_gate.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_resume_meta.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(config-passthrough): remove provider parameter from planning_service.py
  docs/project/PROJECT.md
  docs/project/slices/00-31-config-passthrough-provider-routing.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(config-passthrough): remove provider option write from session_service.py
  docs/project/PROJECT.md
  docs/project/slices/00-31-config-passthrough-provider-routing.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(config): document local models and genericize provider routing
  src/teddy_executor/resources/config/config.yaml
Due: none

docs(config-passthrough): update litellm_adapter.md with corrected provider routing example
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/project/slices/00-31-config-passthrough-provider-routing.md
Due: none

docs(config-passthrough): finalize verification and mark slice completed
  docs/project/slices/00-31-config-passthrough-provider-routing.md
Due: none

chore(release): bump version to 0.1.16
  docs/project/releases/v0.1.16.md
  pyproject.toml
  uv.lock
Due: none

docs(project): refresh pip-audit debt entry
  docs/project/PROJECT.md
Due: none

Refine README
  README.md
Due: none

prompts(all): Move blueprints to template files
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

refine
  docs/architecture/ARCHITECTURE.md
  docs/project/PROJECT.md
  docs/project/inbox/01-harness-workflow-improvements.md
  docs/project/milestones/03-foundational-refactors.md
  docs/project/slices/03-02-mrp-base-prompt.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/resources/config/prompts/MRP.xml
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(harness): add make test and reconcile template/MRP conventions
  Makefile
  docs/architecture/core/services/init_service.md
  docs/project/inbox/01-harness-workflow-improvements.md
  docs/project/milestones/03-foundational-refactors.md
  docs/project/slices/03-02-mrp-base-prompt.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/resources/MRP.xml
  src/teddy_executor/resources/templates/ARCHITECTURE.md
  src/teddy_executor/resources/templates/PROJECT.md
  src/teddy_executor/resources/templates/case-file.md
  src/teddy_executor/resources/templates/makefile.md
  src/teddy_executor/resources/templates/milestone.md
  src/teddy_executor/resources/templates/task-brief.md
  src/teddy_executor/resources/templates/vertical-slice.md
Due: none

docs(inbox): fold all groups and new items into suggested ordering
  docs/project/inbox/01-harness-workflow-improvements.md
Due: none

docs(inbox): restructure backlog into to-do and done halves
  docs/project/inbox/01-harness-workflow-improvements.md
Due: none

docs(harness): finish Tier 1 and centralize Makefile provisioning
  Makefile
  docs/project/inbox/01-harness-workflow-improvements.md
  src/teddy_executor/resources/MRP.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/templates/PROJECT.md
  src/teddy_executor/resources/templates/makefile.md
Due: none

docs(harness): add pre-commit template and abstract test runs to make test
  docs/project/inbox/01-harness-workflow-improvements.md
  src/teddy_executor/resources/MRP.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/templates/PROJECT.md
  src/teddy_executor/resources/templates/pre-commit.md
Due: none

chore(spikes): add importlib.resources probe verifying bundled MRP.xml loading
  docs/project/slices/03-02-mrp-base-prompt.md
  spikes/prototypes/mrp-base-prompt/FINDINGS.md
  spikes/prototypes/mrp-base-prompt/probe_importlib_resources.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(mrp-base-prompt): reconcile deliverables and add wiring gate
  docs/project/slices/03-02-mrp-base-prompt.md
Due: none

feat(mrp-base-prompt): inject agent name header and append MRP base prompt
  docs/project/PROJECT.md
  docs/project/slices/03-02-mrp-base-prompt.md
  src/teddy_executor/core/services/prompt_manager.py
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
  tests/suites/unit/core/services/test_prompt_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(mrp-base-prompt): add acceptance behavioral gate for MRP prompt assembly
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/prompt_manager.md
  docs/project/slices/03-02-mrp-base-prompt.md
  tests/suites/acceptance/test_mrp_prompt_assembly.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(mrp-base-prompt): mark MRP base prompt slice complete
  docs/project/milestones/03-foundational-refactors.md
  docs/project/slices/03-02-mrp-base-prompt.md
Due: none

docs(templates-init): re-partition deliverables into green-to-green order
  docs/project/slices/03-03-templates-and-init.md
Due: none

feat(templates-init): implement template copy support in InitService
  docs/project/PROJECT.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/core/services/init_service.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(templates-init): declare ensure_templates_initialized on IInitUseCase
  docs/project/PROJECT.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/core/ports/inbound/init.py
  tests/suites/unit/core/ports/inbound/test_init.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(templates-init): auto-scaffold docs/templates on bare init
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/core/ports/inbound/init.py
  src/teddy_executor/core/services/init_service.py
  tests/suites/acceptance/test_templates_auto_init.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(templates-init): add teddy init templates subcommand
  README.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_init_templates_command.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(templates-init): add docs/templates/ directives to agent prompts
  docs/architecture/core/services/init_service.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
  tests/suites/unit/test_agent_template_directives.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(templates-init): mark templates-and-init slice complete
  docs/project/milestones/03-foundational-refactors.md
  docs/project/slices/03-03-templates-and-init.md
Due: none

test(cli): isolate bare-init test CWD to prevent repo-root pollution
  docs/project/debugging/01-macos-ci-test-failure.md
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
  tests/suites/unit/adapters/inbound/test_cli_init_command_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture

ci(pre-commit): guard against unisolated raw side-effecting CLI invocations
  .githooks/check_raw_cli_invoke.py
  .pre-commit-config.yaml
  tests/suites/unit/test_githooks_raw_cli_invoke.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update): query PyPI for experimental channel instead of TestPyPI
  docs/architecture/core/services/update_checker.md
  docs/project/PROJECT.md
  docs/project/debugging/02-update-experimental-not-finding-latest.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/update_checker.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_command_experimental_channel_fix.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(parser): name the found node in plan action-stream error headlines
  docs/project/debugging/03-uninformative-validation-errors.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/suites/unit/core/services/test_parser_action_error_messages.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Add templates
  docs/templates/ARCHITECTURE.md
  docs/templates/PROJECT.md
  docs/templates/case-file.md
  docs/templates/ci.md
  docs/templates/component-design.md
  docs/templates/makefile.md
  docs/templates/milestone.md
  docs/templates/pre-commit.md
  docs/templates/specification-document.md
  docs/templates/task-brief.md
  docs/templates/vertical-slice.md
Due: none

docs(session): record session-behaviour refinements RCA and handoff slice
  docs/project/debugging/04-session-behaviour-refinements.md
  docs/project/slices/00-32-session-behaviour-refinements.md
Due: none

docs(session-behaviour): re-sort slice deliverables and mark Item 1 in progress
  docs/project/slices/00-32-session-behaviour-refinements.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
