Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(tui): implement interactive PROMPT answering, CREATE save-as, and space binding
  docs/architecture/core/domain_model.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/action_dispatcher.py
  tests/suites/acceptance/test_prompt_action.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
  tests/suites/unit/core/services/test_action_dispatcher.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement concurrent "Save As" and confirmation prompts for CREATE and EDIT
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/acceptance/test_tui_save_as_workflow.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency_edit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement RUNNING state and background worker for execution
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/models/test_execution_status.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement manual execution orchestration and reporting persistence
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/registries/reviewer.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
  tests/suites/acceptance/test_tui_save_as_workflow.py
  tests/suites/acceptance/test_tui_ux_polish.py
  tests/suites/acceptance/test_tui_view_plan.py
  tests/suites/acceptance/test_tui_view_plan_robustness.py
  tests/suites/integration/core/services/test_manual_execution_persistence.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency_edit.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
  tests/suites/unit/core/ports/inbound/test_plan_reviewer_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): unify expectation logic and refine developer intent mandate
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Minor change
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  prototypes/tui_canonical_final.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine pathfinder prompt
  prompts/pathfinder.xml
Due: none

docs(tui): finalize UX refinements discovery and behavioral prototype
  docs/project/debugging/tui-refinement-unresponsive.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  prototypes/tui_deferred_harvest.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): migrate to universal spiker and standardize workflows
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/spiker.xml
Due: none

Delete debugger agent
  prompts/debugger.xml
Due: none

refactor(prompts): restructure spiker experimentation loop for scientific rigor
  prompts/spiker.xml
Due: none

docs(prompts): refine spiker integration and state transition logic
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/spiker.xml
Due: none

chore(prompts): enforce DbC order and atomic commit constraints for deliverables
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(tui): replace ParameterList with ParameterDetail (ListView) and align acceptance tests
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
  tests/suites/unit/adapters/inbound/test_reviewer_widgets.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(domain): add pending_temp_file to ActionData for deferred harvesting
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/core/domain/models/plan.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine Rule 6 and remove PRUNE action across all agents
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/spiker.xml
Due: none

docs(project): clean up slice 00-04 to meet structural standards
  docs/project/slices/00-04-tui-ux-polish-refinements.md
Due: none

feat(tui): implement dual-pane layout with ParameterDetail ListView and refactor modules
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/core/domain/models/execution_report.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
  tests/suites/unit/adapters/inbound/test_action_parameter_resolution.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency_edit.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): update plan title placeholders and test execution rules
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/spiker.xml
Due: none

refactor(tui): modularize reviewer logic and fix quality gate violations
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(console): resolve input corruption and blocking previews
  docs/project/experiments/console-mode-input-regression.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_interactor_helpers.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  tests/suites/acceptance/test_interactive_execution.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(experiment): validate soft-isolation for terminal actions
  docs/project/experiments/isolation-rule-enforcement.md
  prototypes/isolation_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement terminal action soft-isolation and deselection reason
  .gitignore
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_action_isolation.py
  tests/suites/acceptance/test_terminal_action_isolation.py
  tests/suites/integration/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_action_executor.py
  tests/suites/unit/core/services/test_terminal_action_deselection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Skip action rephrase
  docs/project/experiments/isolation-rule-enforcement.md
  prototypes/isolation_logic.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_action_isolation.py
  tests/suites/acceptance/test_terminal_action_isolation.py
  tests/suites/integration/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_action_executor.py
  tests/suites/unit/core/services/test_terminal_action_deselection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): implement surgical registration guard in bootstrap and harmonize test workspaces
  docs/project/debugging/cascading-context-and-newline-regressions.md
  docs/project/debugging/terminal-action-isolation-failure.md
  docs/project/experiments/terminal-action-isolation-failure.md
  src/teddy_executor/__main__.py
  tests/harness/setup/real_adapter_mixin.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_edit_newline_mismatch.py
  tests/suites/acceptance/test_terminal_action_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Workflow overhaul
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
  prompts/spiker.xml
Due: none

docs(prompts): refine agent workflows and protocols
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Minor change
  prompts/developer.xml
Due: none

feat(quality): refine quality gates and fix security vulnerabilities
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  poetry.lock
  pyproject.toml
Due: none

Clean up
  docs/project/debugging/cascading-context-and-newline-regressions.md
  docs/project/debugging/console-interactor-m-support-failure.md
  docs/project/debugging/instruction-bridge-regressions.md
  docs/project/debugging/invalid-action-reporting.md
  docs/project/debugging/session-finalization-typeerror.md
  docs/project/debugging/session-orchestration-hangs.md
  docs/project/debugging/teddy-start-exit.md
  docs/project/debugging/terminal-action-isolation-failure.md
  docs/project/debugging/test-preview-plan.md
  docs/project/debugging/tui-refinement-unresponsive.md
  docs/project/debugging/tui-view-plan-suspension-failure.md
  docs/project/debugging/windows-worker-crash.md
  docs/project/experiments/console-mode-input-regression.md
  docs/project/experiments/isolation-rule-enforcement.md
  docs/project/experiments/terminal-action-isolation-failure.md
Due: none

fix(tui): resolve edit typeerror and refine create interaction model
  docs/project/debugging/tui-edit-and-create-bugs.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/acceptance/test_tui_edit_workflow.py
  tests/suites/acceptance/test_tui_save_as_workflow.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency.py
  tests/suites/unit/adapters/inbound/test_preview_concurrency_edit.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): implement multi-issue investigation ledger and sync MRE blueprints
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

refactor(debugger): adopt reality-driven spikes and flat MRE structure
  prompts/debugger.xml
Due: none

refactor(prompts): redesign debugger methodology to use system model probing loop
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

delete MRE
  docs/project/debugging/tui-edit-and-create-bugs.md
Due: none

fix(tui): resolve async deadlock by replacing app.suspend with deferred harvest pattern
  docs/project/debugging/tui-editor-freeze.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/acceptance/test_tui_view_plan_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Polish MRE template
  prompts/debugger.xml
Due: none

fix(tui): replace deepcopy with shallow copy and fix test suite statusbar references
  docs/project/debugging/tui-multi-bug-fixes.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(tui): implement comprehensive regression tests for tui bug fixes
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(debugging): formalize prevention and generalization strategies in the tui living case file
  docs/project/debugging/tui-multi-bug-fixes.md
Due: none
