Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

docs(prototyper): require full UX demo, add alignment gate, concise example
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(prototyper): streamline prototyping phase with MRE and shadow file workflow
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(prompts): add baseline MRE and behavior observation to prototyper triage
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

Minor change
  src/teddy_executor/resources/config/prompts/assistant.xml
Due: none

Refine prototyper
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

Minor changes
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

refactor(prototyper-prompt): refine triage and prototyping workflow for empirical-first approach
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

refactor(prototyper): add Empirical Probe step before Baseline Capture Script
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(session): add console visibility for plan status emoji and user messages
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/00-00-console-and-message-visibility.md
  spikes/prototypes/console_and_message_visibility/__init__.py
  spikes/prototypes/console_and_message_visibility/probe_visibility.py
  spikes/prototypes/console_and_message_visibility/shadow_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

Revert "feat(session): add console visibility for plan status emoji and user messages"
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/00-00-console-and-message-visibility.md
  spikes/prototypes/console_and_message_visibility/__init__.py
  spikes/prototypes/console_and_message_visibility/probe_visibility.py
  spikes/prototypes/console_and_message_visibility/shadow_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prototyper): enforce empirical probe methodology and state probing verification
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(prototyper): add domain adaptation for multi-domain prototype support
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(assistant): add dependency verification to validation step
  src/teddy_executor/resources/config/prompts/assistant.xml
Due: none

refactor(prototyper): rename Solution Prototype to Showcase Gate and add raw evidence mandates
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(console-visibility): add plan status header and user message to session output
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/00-console-and-message-visibility.md
  spikes/prototypes/00-console-and-message-visibility/raw_demo.py
  spikes/prototypes/00-console-and-message-visibility/shadow_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

Rename slice
  docs/project/slices/00-01-console-and-message-visibility.md
Due: none

refactor(tui): rename "Execution Report" to "Report" in session history display
  src/teddy_executor/core/utils/markdown.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
  tests/suites/unit/core/utils/test_markdown_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): update session history assertions from "Execution Report" to "Report"
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prompts): standardize VCP post-conditions with mandatory test gate and pre-commit bypass
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(logging): implement console visibility helper functions
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_console_visibility.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): propagate system_prompt_tokens to ProjectContext DTO for correct token display
  docs/project/debugging/01-tui-token-count.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_bug_01_tui_token_count.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(logging): implement console visibility helper functions"
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_console_visibility.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(hooks): add pre-flight checks to post-commit hook
  .githooks/post-commit
Due: none

docs(prompts): condense post-commit execution blueprint in pathfinder prompt
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

fix(tui): propagate system_prompt_tokens in session_orchestrator context build
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): remove hardcoded gpt-4o fallback from service layer
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session_orchestrator): wire console visibility helpers into execute()
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session_orchestrator): make _print_header_bar resilient to mock/non-standard plans
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): complete migration deliverable (no-op)
  docs/project/slices/00-01-console-and-message-visibility.md
Due: none

docs(slice): complete cleanup deliverable (no-op)
  docs/project/slices/00-01-console-and-message-visibility.md
Due: none

docs(slice): complete slice 00-01 console and message visibility
  docs/project/slices/00-01-console-and-message-visibility.md
Due: none

refactor(tui): pre-compute system prompt token count before context construction
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_01_tui_token_count.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session_orchestrator): decouple console helpers from explicit message parameter
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(case-file): finalize TUI token count bug investigation with Option 3 solution
  docs/project/debugging/01-tui-token-count.md
Due: none

docs(slice): revert slice 00-01 status to In Progress, add remaining deliverables
  docs/project/slices/00-01-console-and-message-visibility.md
Due: none

fix(lifecycle-manager): print initial request before planning header
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(action-dispatcher): suppress MESSAGE action logging output
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/action_dispatcher.py
  tests/suites/unit/core/services/test_action_dispatcher_normalization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
