Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

docs(milestone2): add validation pruning timing and session context dedup requirements
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
Due: none

fix(session): auto-sync meta.yaml model on resume
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_resume_meta.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine debugger prompt
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

chore(utils): add "help" to and remove "not" from slugify STOPWORDS
  src/teddy_executor/core/utils/string.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(spec): replace complex session-log.md with simplified history.log spec
  docs/project/PROJECT.md
  docs/project/specs/session-history-view.md
Due: none

docs(pruning): add slice 02-07 and update component design for threshold refinement
  docs/architecture/core/services/session_pruning_service.md
  docs/project/slices/02-07-pruning-refinement.md
Due: none

feat(config): rename global_context_threshold to turn_context_threshold in bundled config.yaml
  docs/project/slices/02-07-pruning-refinement.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(pruning): rename config key and remove system_prompt_tokens parameter
  docs/project/slices/02-07-pruning-refinement.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(pruning): add backward compatibility seam for config key rename
  docs/project/slices/02-07-pruning-refinement.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(pruning): rename global_context_threshold to turn_context_threshold in test fixtures
  docs/project/slices/02-07-pruning-refinement.md
  tests/suites/integration/core/services/test_session_pruning_persistence.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
  tests/suites/unit/core/services/test_session_pruning_preserve_messages_budget.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
  tests/suites/unit/core/services/test_session_pruning_windows.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(arch): add provider routing & display design for slice 02-08
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/core/services/planning_service.md
  docs/architecture/core/services/prompt_manager.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-08-provider-routing-and-display.md
Due: none

refactor(pruning): extract _get_turn_context_threshold helper
  docs/project/slices/02-07-pruning-refinement.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(pruning): remove dead system_prompt_tokens extraction logic
  docs/project/slices/02-07-pruning-refinement.md
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(pruning): complete Slice 02-07 documentation cleanup
  docs/architecture/core/ports/outbound/config_service.md
  docs/architecture/core/services/session_pruning_service.md
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-07-pruning-refinement.md
  docs/project/specs/context-management-ui.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

docs(slice): add planning artifacts for slice 02-10-preserve-user-message-turns
  docs/architecture/core/services/session_pruning_service.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-10-preserve-user-message-turns.md
Due: none

feat(docs): design session web content caching (slice 02-09)
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-09-session-web-content-caching.md
Due: none

feat(slice-02-09): validate web content caching design with prototype
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/02-09-session-web-content-caching.md
  spikes/prototypes/02-09-web-content-caching.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(slice-02-10): finalize de-risking with prototype and delta analysis
  docs/architecture/core/services/session_pruning_service.md
  docs/project/slices/02-10-preserve-user-message-turns.md
  spikes/prototypes/10-preserve-user-message-turns.py
Due: ruff-lint, ruff-format, mypy, vulture

docs: cancel provider-routing-and-display slice based on real OpenRouter findings
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-08-provider-routing-and-display.md
  spikes/prototypes/02-08-provider-routing.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(context): add cache_dir parameter to IGetContextUseCase and ContextService
  docs/project/slices/02-09-session-web-content-caching.md
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/ports/inbound/test_get_context_use_case_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(context): inject web cache check into get_context URL-fetching loop
  docs/project/slices/02-09-session-web-content-caching.md
  spikes/prototypes/02-09-web-content-caching.py
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service_caching.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): wire cache_dir from plan_path to ContextService.get_context()
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): finalize slice 02-09 session web content caching
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/02-09-session-web-content-caching.md
Due: none

test(pruning): add unit tests for _check_report_has_user_request detection
  docs/project/slices/02-10-preserve-user-message-turns.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_preserve_user_requests.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-pruning): add spared turn integration tests for user_request sparing
  docs/project/slices/02-10-preserve-user-message-turns.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_preserve_user_requests.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): mark Logic and Wiring deliverables as pre-satisfied (slice 02-10)
  docs/project/slices/02-10-preserve-user-message-turns.md
Due: none

refactor(session-pruning): rename successful_messages to spared_turns (slice 02-10)
  docs/project/slices/02-10-preserve-user-message-turns.md
  src/teddy_executor/core/services/session_pruning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): refine handoff protocols, add de-risking gate, simplify routing
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(config): add slice 02-12 config validation and transient retry
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-12-config-validation-and-transient-retry.md
Due: none

docs: finalize design artifacts for slice 02-11 (AST parser resilience)
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/parser_infrastructure.md
  docs/project/slices/02-11-ast-parser-resilience.md
Due: none

feat(docs): finalize config validation & transient retry prototype (slice 02-12)
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  spikes/prototypes/12-config-validation-retry.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): sync milestone 02-07 checkbox and mark slice 02-05 as completed
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-05-architecture-efficiency.md
Due: none

feat(config): add timeout: 300 default to llm section
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_layering.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(tests): add mock_time_service fixture for retry backoff verification
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  tests/harness/setup/mocks.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice-02-10): complete preserve user-message turns slice
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-10-preserve-user-message-turns.md
Due: none

docs(slice-02-11): finalize AST parser resilience prototype and implementation plan
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/parser_infrastructure.md
  docs/project/slices/02-11-ast-parser-resilience.md
  spikes/prototypes/02-11-ast-parser-resilience.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(llm): add lazy validation guard and retry-all-errors to LiteLLMAdapter
  .secrets.baseline
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/harness/setup/composition.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_retries.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(parser): strip trailing text on closing fence lines (6+ backticks/tildes)
  docs/project/slices/02-11-ast-parser-resilience.md
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/unit/core/services/test_parser_fence_cleanup.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(parser): add 6-tilde closing fence trailing text unit test
  docs/project/slices/02-11-ast-parser-resilience.md
  tests/suites/unit/core/services/test_parser_fence_cleanup.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(llm): add timeout default fallback (300s) to _prepare_completion_params
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_retries.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
