Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(tui): implement modal editing for EXECUTE/RESEARCH and previews for READ/PRUNE
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): decouple status and emoji logic
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

fix(tests): ensure environmental isolation for editor mock hooks
  docs/project/debugging/console-interactor-m-support-failure.md
  docs/project/milestones/10-interactive-session-and-config.md
  tests/conftest.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
  tests/suites/unit/adapters/outbound/test_console_interactor_m_support.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(core): implement diagnostic clarity for AST and EDIT failures
  clarity_test.txt
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  fail_labels.md
  src/teddy_executor/core/services/parser_reporting.py
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/suites/unit/core/services/test_parser_reporting.py
  tests/suites/unit/core/services/test_validator_edit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): add TUI and UX polish slice
  docs/project/PROJECT.md
  docs/project/slices/10-10-tui-ux-polish-refinements.md
Due: none

Rename slice numbering
  docs/project/slices/00-04-tui-ux-polish-refinements.md
Due: none

docs(project): refine TUI and UX polish slice requirements
  docs/project/slices/00-04-tui-ux-polish-refinements.md
Due: none

refactor(adapters): update find_editor to return command list and support config
  docs/architecture/adapters/outbound/console_interactor.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_tooling.py
  src/teddy_executor/registries/infrastructure.py
  tests/suites/acceptance/test_change_preview_feature.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
  tests/suites/unit/adapters/outbound/test_console_interactor_m_support.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): fix plan view robustness and mandatory save confirmation
  clarity_test.txt
  config/config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/outbound/console_interactor.md
  docs/project/debugging/tui-view-plan-suspension-failure.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  fail_labels.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/outbound/console_tooling.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/registries/infrastructure.py
  src/teddy_executor/registries/reviewer.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_tui_view_plan.py
  tests/suites/acceptance/test_tui_view_plan_robustness.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
  tests/suites/unit/core/ports/inbound/test_plan_reviewer_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Adjust vertical slice
  docs/project/slices/00-04-tui-ux-polish-refinements.md
Due: none

Prompt polish
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

refactor(tui): consolidate edit bindings and remove ConfirmScreen
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): refine rationale conditions for all agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

chore(prompts): refine conditions protocol and developer commit phase
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Revert "refactor(tui): consolidate edit bindings and remove ConfirmScreen"
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): finalize TUI UX roadmap (m/p/e split, non-blocking, universal previews, prompt answering)
  docs/project/debugging/test-preview-plan.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  docs/project/specs/interactive-session-workflow.md
Due: none

refactor(workflow): Enhance agent prompts with prototype validation
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(prompts): refine prototype lifecycle and multi-slice fast-track
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(planning): finalize TUI polish and add planning lifecycle visibility slices
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  prototypes/tui_canonical_final.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): Standardize on Expectation-based Rationale
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

refactor(ci): move slow checks from pre-commit to CI pipeline
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

fix(tests): restore CWD after tests to prevent Windows CI crashes
  docs/project/debugging/windows-worker-crash.md
  docs/project/milestones/10-interactive-session-and-config.md
  tests/conftest.py
  tests/suites/integration/core/services/test_session_validation_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine architect prompt to add fast track
  prompts/architect.xml
Due: none

Slight rephrasing
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Minor change
  prompts/developer.xml
Due: none

feat(domain): add execution state tracking to ActionData
  docs/architecture/core/domain_model.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/models/test_models.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(reviewer): render TUI node labels with execution status colors
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): hit file length limits and quality gates
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  prototypes/tui_canonical_final.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): resolve mypy type assignment and finalize quality compliance
  docs/project/milestones/10-interactive-session-and-config.md
  prototypes/tui_canonical_final.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): refine agent prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

docs(prompts): refine agent workflows with delta analysis step
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

docs(slice): refine TUI polish slice with delta analysis
  docs/project/slices/00-04-tui-ux-polish-refinements.md
Due: none

docs(prompts): refine agent workflows for exhaustive delta analysis
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(tui): set header title from plan metadata
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/acceptance/test_tui_ux_polish.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): enable clock in ReviewerApp header
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/acceptance/test_tui_ux_polish.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement dual-pane layout and parameter inspection
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): consolidate bindings and refactor for file length
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/project/slices/00-04-tui-ux-polish-refinements.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
