Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(prompts): refine status protocol and mandate validation error section
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Bug fix slice
  docs/project/slices/00-fix-diff-newline-corruption.md
Due: none

refine prompt wording
  prompts/pathfinder.xml
Due: none

fix(validator): ensure diff lines are always separated by newlines
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: mark diff corruption slice as complete
  docs/project/slices/00-fix-diff-newline-corruption.md
Due: none

Delete completed slice
  docs/project/slices/00-fix-diff-newline-corruption.md
Due: none

docs(prompts): add error suppression instruction to EXECUTE action
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

perf(tests): optimize litellm unit tests and di container fixture
  tests/conftest.py
  tests/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

perf(tests): document parallel testing and finalize optimizations
  docs/architecture/ARCHITECTURE.md
  poetry.lock
  pyproject.toml
Due: none

docs(architecture): update testing execution guide for parallel default
  docs/architecture/ARCHITECTURE.md
  pyproject.toml
Due: none

docs(architecture): add rule for EXECUTE internal redirection
  docs/architecture/ARCHITECTURE.md
Due: none

Update prompts EXECUTE instructions
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(spec): refactor EXECUTE action structure and validation rules
  docs/project/slices/00-01-execute-action-refactor.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
Due: none

feat(execute): add Setup and Allow Failure metadata to EXECUTE action
  .secrets.baseline
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/acceptance/test_execute_action_refactor.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_parser_infrastructure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(execute): separate setup from command and enforce strict validation
  docs/architecture/core/services/plan_validator.md
  docs/project/slices/00-01-execute-action-refactor.md
  src/teddy_executor/core/services/validation_rules/execute.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(testing): optimize local test loop for speed and silence
  .github/workflows/ci.yml
  docs/architecture/ARCHITECTURE.md
  pyproject.toml
Due: none

feat(prompts): standardize EXECUTE format, dashboard WIP, and Debugger handoff
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

chore(prompts): replace dashboard emojis with unicode status indicators
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(architecture): remove internal redirection and mandate strict EXECUTE rules
  docs/architecture/ARCHITECTURE.md
  tests/acceptance/test_execute_action_refactor.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(protocol): relax EXECUTE action requirements
  docs/project/slices/00-02-relax-execute-protocol.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
Due: none

[TODO] correction
  prompts/dev.xml
Due: none

feat(core): relax EXECUTE protocol to allow chaining and remove Setup
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/validation_rules/execute.py
  tests/acceptance/test_execute_action_refactor.py
  tests/acceptance/test_relax_execute_protocol.py
  tests/integration/adapters/outbound/test_shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): relax EXECUTE protocol to allow chaining and directives
  .gitignore
  .secrets.baseline
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/00-02-relax-execute-protocol.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(core): align component documentation with relaxed EXECUTE protocol
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/core/services/action_parser_strategies.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/plan_validator.md
Due: none

test(core): fix CI regressions and restore 90% coverage for relaxed EXECUTE
  tests/acceptance/test_relax_execute_protocol.py
  tests/integration/adapters/outbound/test_shell_adapter.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(prompts): relax EXECUTE and tighten agent workflow protocols
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

test(core): fix cross-platform fragility in relaxed EXECUTE acceptance tests
  tests/acceptance/test_relax_execute_protocol.py
Due: ruff-lint, ruff-format, mypy, vulture

delete completed slices
  docs/project/slices/00-01-execute-action-refactor.md
  docs/project/slices/00-02-relax-execute-protocol.md
Due: none

feat(arch): define plan validation and automated re-plan loop
  docs/architecture/core/ports/inbound/plan_validator.md
  docs/architecture/core/services/session_orchestrator.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-05-plan-validation-self-correction.md
  docs/project/specs/plan-format-validation.md
Due: none

polish change
  scripts/verify_test_pyramid.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(validation): implement context-aware plan validation and auto-replan
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/inbound/plan_validator.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/execute.py
  src/teddy_executor/core/services/validation_rules/helpers.py
  src/teddy_executor/core/services/validation_rules/prune.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/acceptance/test_session_validation.py
  tests/integration/adapters/inbound/test_cli_adapter.py
  tests/integration/core/services/test_session_orchestrator_validation.py
  tests/unit/core/services/test_context_aware_validation.py
  tests/unit/core/services/test_session_orchestrator.py
  tests/unit/core/services/test_session_orchestrator_validation.py
  tests/unit/core/services/test_session_service_context.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: update architecture and milestone for slice 09-05 completion
  docs/architecture/core/ports/inbound/plan_validator.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-05-plan-validation-self-correction.md
Due: none

feat(validation): implement context-aware validation and refactor rules hierarchy
  docs/project/slices/09-05-plan-validation-self-correction.md
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/helpers.py
  src/teddy_executor/core/services/validation_rules/prune.py
  src/teddy_executor/core/services/validation_rules/read.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): standardize reference files and debugging paths
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs: standardize reference files and update communication specs
  docs/project/slices/00-01-standardize-reference-files-parser.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
Due: none

docs: refine PROMPT parsing strategy and standardize reference files
  docs/project/slices/00-01-standardize-reference-files-parser.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
Due: none

docs(prompts): refine developer scenario-based sync workflow
  prompts/dev.xml
Due: none

feat(parser): finalize reference files standardization and resolve hook failures
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_prompt_action.py
  tests/integration/core/services/test_reference_files_integration.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: finalize vertical slice 00-01
  docs/project/slices/00-01-standardize-reference-files-parser.md
Due: none

feat(parser): finalize terminology standardization and UI polish
  docs/architecture/core/services/parser_metadata.md
  docs/project/specs/interactive-session-workflow.md
  prompts/architect.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
