Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

Revert "feat(history-log): install Tee in SessionOrchestrator for history.log capture"
  docs/project/slices/00-25-history-log.md
  history.log
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_wiring_history_log.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(history-log): add metadata header printing to SessionOrchestrator"
  docs/project/slices/00-25-history-log.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(history-log): implement Tee utility class for stdout tee'ing"
  docs/project/slices/00-25-history-log.md
  src/teddy_executor/core/utils/io.py
  tests/suites/unit/core/utils/test_io.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(report,tui): suppress metadata alias, prevent Lines context pollution, show lines/tail params
  docs/project/tasks/26-fix-report-and-tui-read-execute-params.md
Due: none

Revert "feat(history-log): implement Tee utility class for stdout tee'ing"
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(history-log): finalize design for Option D (dual Tee capture)
  docs/architecture/core/utils/io.md
  docs/project/slices/00-25-history-log.md
  docs/project/specs/session-history-view.md
Due: none

docs(tasks): add planning artifacts for CLI refinements (init, update check, plan removal, OAuth linkage)
  docs/architecture/adapters/inbound/cli.md
  docs/project/specs/openrouter-monetization-oauth.md
  docs/project/specs/update-checker.md
  docs/project/tasks/23-cli-refinements-init-and-plan.md
Due: none

docs(debugging): add Centennial Switch Bug #21 case file and fix vertical slice
  docs/project/debugging/21-centennial-switch-bug.md
  docs/project/slices/00-26-centennial-switch-fix.md
Due: none

feat(contract): change IRunPlanUseCase.resume() return type to tuple[str, Optional[ExecutionReport]]
  docs/project/slices/00-26-centennial-switch-fix.md
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  tests/suites/unit/ports/inbound/test_run_plan_use_case_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add teddy init command and remove teddy plan CLI command
  README.md
  docs/architecture/adapters/inbound/cli.md
  docs/project/tasks/23-cli-refinements-init-and-plan.md
  src/teddy_executor/__main__.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): fix pre-commit hooks for resume tuple return
  docs/project/slices/00-26-centennial-switch-fix.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): update 00-25-history-log status to In Progress and mark completed deliverables
  docs/project/slices/00-25-history-log.md
  spikes/prototypes/00-25-history-log-corrected.py
  spikes/prototypes/00-25-history-log-final.py
  spikes/prototypes/00-25-history-log-fixed.py
  spikes/prototypes/00-25-history-log-live.py
  spikes/prototypes/00-25-history-log-real.py
  spikes/prototypes/00-25-history-log-run.py
  spikes/prototypes/00-25-history-log.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/utils/io.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(test-harness): add Tee fixtures and helper assertions
  docs/project/slices/00-25-history-log.md
  tests/suites/unit/core/utils/test_io.py
Due: ruff-lint, ruff-format, mypy, vulture

test(session): add integration regression test for centennial migration resume loop
  docs/project/slices/00-26-centennial-switch-fix.md
  tests/suites/integration/core/services/test_session_orchestration_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(session): complete centennial switch fix slice with final refactor notes
  docs/project/slices/00-26-centennial-switch-fix.md
  spikes/prototypes/00-25-history-log-corrected.py
  spikes/prototypes/00-25-history-log-final.py
  spikes/prototypes/00-25-history-log-fixed.py
  spikes/prototypes/00-25-history-log-live.py
  spikes/prototypes/00-25-history-log-real.py
  spikes/prototypes/00-25-history-log-run.py
  spikes/prototypes/00-25-history-log.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(test-history-log): fix integration tests - restore result vars, fix append mode and tee failure tests
  docs/project/slices/00-25-history-log.md
  tests/suites/integration/core/services/test_session_orchestration_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): mark 00-25-history-log as Completed
  docs/project/slices/00-25-history-log.md
Due: none

chore(ci): add history.log, path/, and session/ to .gitignore
  .gitignore
Due: none

docs(prototyper): replace interactive prototype with standalone scenario runner
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(prototyper): update example section to scenario runner terminology
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

fix(session): fix bandit B110 in Tee cleanup and add technical debt note
  .gitignore
  docs/project/slices/00-26-centennial-switch-fix.md
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(pathfinder): update prototyper handoff target description to scenario runner
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

docs(pathfinder): make handoff target descriptions generic
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

fix(test): add detritus cleanup to test fixture and fix sources
  tests/conftest.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(io): capture logging output in Tee by replacing root logger handlers
  docs/project/debugging/22-history-log-missing-action-logs.md
  src/teddy_executor/core/utils/io.py
  tests/suites/unit/core/utils/test_bug_22_history_log_tee_logging.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prototyper): mandate user-facing entrypoints and update example
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs: add bug 23 case file and vertical slice 00-27 for history.log timing fix
  docs/project/debugging/23-history-log-missing-turn-headers.md
  docs/project/slices/00-27-history-log-timing-fix.md
Due: none

docs(debugger): clarify MRE environment mocking
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(session-lifecycle): add tee_active contract flag for Tee timing fix
  docs/project/slices/00-27-history-log-timing-fix.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(harness): add Tee installation timing fixtures for history.log fix
  docs/project/slices/00-27-history-log-timing-fix.md
  tests/conftest.py
  tests/harness/setup/composition.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(session): move Tee installation to lifecycle manager before planning with guard in orchestrator
  docs/project/slices/00-27-history-log-timing-fix.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session): add unit tests for Tee timing and guard behavior
  docs/project/slices/00-27-history-log-timing-fix.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(template): suppress Resource Contents note for line-range READ actions
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

test(session): add integration test verifying planning output in history.log
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/utils/io.md
  docs/project/slices/00-27-history-log-timing-fix.md
  tests/suites/integration/core/services/test_session_orchestration_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(io): strip ANSI escape codes from history.log in _TeeWriter.write()
  docs/project/debugging/24-history-log-ansi-codes.md
  src/teddy_executor/core/utils/io.py
  tests/suites/unit/core/utils/test_bug_24_history_log_ansi_stripping.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(action_executor): reset file hashes at plan start to prevent cross-turn staleness and add logging
  docs/project/debugging/24-file-content-hash-stale.md
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_bug_24_hash_staleness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestones): add proposed DI resolution audit slice to Milestone 2
  docs/project/milestones/02-stability-and-polish.md
Due: none

docs(prompts): add scope slug, verification checklist, test debris prevention, and final approval rule
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

fix(session-cli): clear actual_model from meta.yaml on resume to fix model override display
  docs/project/debugging/24-model-override-on-resume.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_bug_24_model_override_on_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone): add pending plan model override gap to Milestone 2 requirements
  docs/project/milestones/02-stability-and-polish.md
Due: none
