Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(prompts): standardize metadata and refine agent workflows
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

style(prompts): harmonize action formats and reference file lists
  prompts/debugger.xml
  prompts/prototyper.xml
Due: none

docs(architecture): simplify key architectural decisions format
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
  prompts/debugger.xml
Due: none

Prune architecture.md
  docs/architecture/ARCHITECTURE.md
Due: none

feat(core): update WebScraper contract to accept extraction hints
  docs/architecture/core/ports/outbound/web_scraper.md
  docs/project/slices/10-11-github-issue-comment-scraping.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/core/ports/outbound/web_scraper.py
  tests/suites/unit/adapters/outbound/test_web_scraper_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(integration): add harness for GitHub issue scraping
  docs/project/slices/10-11-github-issue-comment-scraping.md
  tests/integration/adapters/outbound/test_web_scraper_github_scraping.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(adapters): implement high-fidelity GitHub issue/PR scraping
  docs/project/slices/10-11-github-issue-comment-scraping.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): decouple deliverables from scenarios and redefine harness type
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

fix(tests): patch socket.getfqdn to prevent macOS CI DNS timeouts
  docs/project/debugging/10-macos-ci-dns-timeout.md
  tests/conftest.py
Due: ruff-lint, ruff-format, mypy, vulture

Draft TUI polish slice
  docs/project/slices/00-08-tui-rationale-scroll.md
Due: none

refactor(prompts): refine debugger prompt and synchronize case file blueprints
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Refine debugger prompt
  prompts/debugger.xml
Due: none

refine debugger prompt
  prompts/debugger.xml
Due: none

fix(shell): prevent SIGTTIN suspension during process group execution
  docs/project/debugging/11-terminal-state-corruption-timeout.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/integration/adapters/outbound/test_shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(shell): prevent SIGTTIN suspension by isolating stdin to DEVNULL
  docs/project/debugging/11-terminal-state-corruption-timeout.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): apply reality-driven workflows, phase decoupling, and blueprint standardizations
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

refactor(prompts): streamline agent personas and enforce strict MRP compliance
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

fix(tests): patch os.killpg with create=True to prevent Windows CI AttributeError
  docs/project/debugging/12-windows-ci-killpg-attributeerror.md
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture

Minor change
  prompts/debugger.xml
Due: none

Refine protyper prompt
  prompts/prototyper.xml
Due: none

feat(tui): add de-risked slice and prototype for rationale scroll
  docs/project/slices/00-08-tui-rationale-scroll.md
  prototypes/tui_ui_integration_spike.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(shell): prevent playback terminal corruption and fix windows ci timeout test
  docs/project/debugging/11-terminal-state-corruption-timeout.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(config): ignore prototypes/ from linting pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(orchestrator): preserve manually executed action logs on plan abort
  docs/project/debugging/13-tui-manual-execution-issues.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update gitignore
  .gitignore
Due: none

feat(debugger): Enhance workflow for robustness, auditing, and MRE standards
  prompts/debugger.xml
Due: none

fix(infrastructure): prevent infinite recursion in repo tree generator
  docs/project/debugging/14-ubuntu-ci-hang.md
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
  tests/suites/integration/adapters/outbound/test_local_repo_tree_generator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(outbound): prevent SIGTTOU hangs during test execution
  docs/project/debugging/14-ubuntu-ci-hang.md
  src/teddy_executor/adapters/outbound/console_interactor_helpers.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  tests/suites/unit/adapters/outbound/test_tty_guards.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Ubuntu hang casefile
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
Due: none

debugger update
  prompts/debugger.xml
Due: none

debugger probing refinement
  prompts/debugger.xml
Due: none

docs(prompts): enforce robust remote probing protocol
  prompts/debugger.xml
Due: none

probing protocol refinement
  prompts/debugger.xml
Due: none

refactor(prompt): simplify remote probing protocol in debugger
  prompts/debugger.xml
Due: none

test(tui): replace naked ReviewerApp instances to prevent leaks and fix linter debt
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture

Update case file
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
Due: none

fix(tests): remove unmanaged Textual app instantiations to prevent Ubuntu CI hangs
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
  tests/suites/acceptance/test_tui_view_plan.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
  tests/suites/unit/adapters/inbound/test_tui_ux_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(core): route TUI subprocess.Popen calls to DEVNULL to prevent file descriptor leaks
  docs/project/debugging/15-ubuntu-ci-hang-reopened.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/acceptance/test_tui_view_plan_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
