Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

Update vertical slice
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

Refine prompts
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

test(harness): implement unified sync/async mock synchronization
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_unified_mock.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): pivot plan after async CLI integration regression
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

chore(prompts): enforce constructor injection and forbid service locator
  prompts/architect.xml
  prompts/developer.xml
Due: none

chore(prompts): shift milestone ownership to architect and add debt tracking
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

feat(specs): add dependency injection boundary rules
  docs/project/specs/di-boundary-rules.md
Due: none

chore(prompts): move DI rules to Required Quality Checks in architect blueprint
  prompts/architect.xml
Due: none

chore(prompts): integrate DI enforcement into pre-commit hook standard in architect blueprint
  prompts/architect.xml
Due: none

chore(specs): align DI boundary enforcement with pre-commit standard
  docs/project/specs/di-boundary-rules.md
Due: none

docs(arch): prioritize DI boundary enforcement as Milestone 09
  docs/architecture/ARCHITECTURE.md
  docs/project/PROJECT.md
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/09-01-di-boundary-enforcement.md
Due: none

feat(harness): implement core di boundary pre-commit hook
  .pre-commit-config.yaml
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-01-di-boundary-enforcement.md
  tests/suites/acceptance/test_di_boundary_enforcement.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(harness): add mock_port method to TestEnvironment
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-01-di-boundary-enforcement.md
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine architect prompt
  prompts/architect.xml
Due: none

docs(arch): add formal dependency injection section and update hooks
  docs/architecture/ARCHITECTURE.md
Due: none

refactor(core): transition ActionFactory to constructor injection and decorator pattern
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-01-di-boundary-enforcement.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/action_factory.py
  tests/suites/integration/core/services/test_config_defaults.py
  tests/suites/unit/core/services/test_action_factory.py
  tests/suites/unit/core/services/test_action_factory_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(test-harness): extract mocking infrastructure and unify registration
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-01-di-boundary-enforcement.md
  tests/harness/setup/mocking.py
  tests/harness/setup/mocks.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_di_boundary_enforcement.py
  tests/suites/unit/adapters/inbound/test_session_orchestrator_async.py
  tests/suites/unit/test_environment_harness.py
  tests/suites/unit/test_unified_mock.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(arch): reconcile milestone 09 debt and secure dependencies
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/domain/action_ports.md
  docs/architecture/core/ports/inbound/edit_simulator.md
  docs/architecture/core/services/action_factory.md
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-02-structural-hardening-and-security.md
  poetry.lock
  pyproject.toml
Due: none

feat(core): implement ActionPorts DTO to group outbound dependencies
  docs/project/slices/09-02-structural-hardening-and-security.md
  src/teddy_executor/core/domain/models/__init__.py
  src/teddy_executor/core/domain/models/action_ports.py
  tests/suites/unit/core/domain/models/test_action_ports.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): sync IEditSimulator signature with implementation
  docs/project/slices/09-02-structural-hardening-and-security.md
  src/teddy_executor/core/ports/inbound/edit_simulator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): inject ActionPorts DTO into ActionFactory
  docs/project/slices/09-02-structural-hardening-and-security.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/action_factory.py
  tests/suites/unit/core/services/test_action_factory.py
  tests/suites/unit/core/services/test_action_factory_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): decompose shell, orchestration, and planning logic
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-02-structural-hardening-and-security.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): harden structure and harness type safety
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-02-structural-hardening-and-security.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/harness/setup/mocking.py
  tests/harness/setup/test_environment.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): reconcile architectural debt in milestones 09 and 10
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): extract SessionLifecycleManager from SessionOrchestrator
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py.bak
  src/teddy_executor/core/services/session_planner.py.bak
  tests/suites/unit/adapters/inbound/test_session_orchestrator_async.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): update deliverables for file length reconciliation
  docs/project/slices/09-03-file-length-debt-reconciliation.md
Due: none

refactor(shell): extract ShellCommandBuilder to reduce file length
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/adapters/outbound/shell_command_builder.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/registries/infrastructure.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_windows_logic.py
  tests/suites/unit/adapters/outbound/test_shell_command_builder.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): extract ExecutionReportAssembler from ExecutionOrchestrator
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/outbound/execution_report_assembler.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/execution_report_assembler.py
  tests/suites/integration/core/services/test_manual_execution_persistence.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_report_assembler.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
  tests/suites/unit/core/services/test_orchestrator_persistence.py
  tests/suites/unit/core/services/test_terminal_action_deselection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): extract PromptManager and fix port types
  .pre-commit-config.yaml
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/planning_ports.py
  src/teddy_executor/core/ports/outbound/__init__.py
  src/teddy_executor/core/ports/outbound/prompt_manager.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
  tests/conftest.py
  tests/harness/setup/composition.py
  tests/harness/setup/mocks.py
  tests/suites/unit/core/services/test_planning_service.py
  tests/suites/unit/core/services/test_planning_service_async.py
  tests/suites/unit/core/services/test_planning_service_logging.py
  tests/suites/unit/core/services/test_prompt_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): extract SessionRepository from SessionService
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/outbound/session_repository.py
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): extract plan parsing strategies from MarkdownPlanParser
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/parser_reporting.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): extract editor orchestration and fix regressions
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(debt): finalize file length reconciliation and milestone 09
  .pre-commit-config.yaml
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-03-file-length-debt-reconciliation.md
  pyproject.toml
  src/teddy_executor/adapters/inbound/cli_formatter.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  src/teddy_executor/adapters/outbound/console_interactor_helpers.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(design): add final cleanup slice for milestone 09
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-04-final-debt-cleanup.md
Due: none

refactor(core): remove prototype imports and legacy showcase logic
  docs/project/slices/09-04-final-debt-cleanup.md
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(debt): finalize architectural debt reconciliation and quality gate cleanup
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-04-final-debt-cleanup.md
  pyproject.toml
  tests/suites/unit/adapters/outbound/test_litellm_adapter_telemetry.py
  tests/suites/unit/core/services/test_edit_matcher_indentation.py
  tests/suites/unit/core/services/test_edit_matcher_whitespace.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(architecture): formalize type-safe vulture whitelisting strategy
  docs/architecture/ARCHITECTURE.md
  docs/architecture/tests/harness/vulture_whitelist.md
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-05-type-safe-vulture-whitelist.md
Due: none

docs(arch): finalize vulture whitelist strategy and slice 09-05
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-05-type-safe-vulture-whitelist.md
Due: none

chore(cleanup): finalize hybrid whitelist and pass all gates
  docs/project/slices/09-05-type-safe-vulture-whitelist.md
  pyproject.toml
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/core/domain/models/action_ports.py
  src/teddy_executor/core/domain/models/planning_ports.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/action_changeset_builder.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/harness/vulture_whitelist.py
  tests/suites/acceptance/test_vulture_whitelist_enforcement.py
  tests/suites/unit/core/services/test_orchestrator_data_flow.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): conclude milestone 09 and update roadmap
  docs/architecture/tests/harness/vulture_whitelist.md
  docs/project/PROJECT.md
  docs/project/milestones/09-architectural-debt-reconciliation.md
  docs/project/slices/09-05-type-safe-vulture-whitelist.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
