Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

refactor(prompts): rename "To De-risk" to "Pending Prototype" and fix example titles
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

chore(release): bump to v0.1.6 and add release notes
  docs/project/releases/v0.1.6.md
  pyproject.toml
Due: none

Refine update message
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update README to link youtube video
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README
  README.md
  assets/matrix.png
Due: none

feat(update): migrate installation and upgrade instructions from pip to pipx
  .secrets.baseline
  README.md
  docs/project/slices/00-02-update-checker.md
  docs/project/specs/update-checker.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
  tests/suites/unit/test_init_cli_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(post-commit): migrate hook to Python for cross-platform compatibility
  .githooks/post-commit
  .githooks/post-commit.py
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(release): bump version to v0.1.7 and add release notes
  docs/project/releases/v0.1.7.md
  pyproject.toml
Due: none

infra(tooling): migrate from poetry/pipx to uv
  .githooks/post-commit.py
  .github/workflows/ci.yml
  .github/workflows/debug.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  docs/architecture/ARCHITECTURE.md
  docs/project/releases/v0.1.7.md
  poetry.lock
  pyproject.toml
  src/teddy_executor/__main__.py
  tests/harness/drivers/cli_adapter.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_di_boundary_enforcement.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
  tests/suites/unit/test_init_cli_regression.py
  uv.lock
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(release): v0.1.8
  docs/project/releases/v0.1.8.md
  pyproject.toml
Due: none

fix(lock): sync uv.lock version to 0.1.8
  uv.lock
Due: none

update readme
  README.md
Due: none

fix(update): add --force flag to experimental upgrade command
  README.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(pre-commit): port bash hooks to Python for Windows compat; add --pre flag to experimental install
  .githooks/check_core_di_boundary.py
  .githooks/check_explicit_utf8.py
  .pre-commit-config.yaml
  README.md
  docs/project/releases/v0.1.8.md
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): update acceptance test expectations for --pre flag in experimental upgrade message
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(execution_orchestrator, shell_adapter): prevent MESSAGE reply duplicate and fix Python 3.14.2 subprocess init
  docs/project/debugging/16-tui-m-user-request-duplicate.md
  docs/project/debugging/17-debugger-python-environment.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_kwargs.py
  tests/suites/unit/core/services/test_bug_16_message_user_request.py
  uv.lock
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Typo fix
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

Linter fixes
  docs/project/debugging/16-tui-m-user-request-duplicate.md
  docs/project/debugging/17-debugger-python-environment.md
  tests/suites/unit/core/services/test_bug_16_message_user_request.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(release): bump version to 0.1.9
  docs/project/releases/v0.1.9.md
  pyproject.toml
  uv.lock
Due: none

ci(publish): add CI status wait gate to production PyPI publish
  .github/workflows/publish.yml
Due: none

fix(session-orchestrator): restore terminal logging for MESSAGE action replies
  docs/project/debugging/17-message-terminal-logging.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_message_reply_terminal_output.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ci): bump astral-sh/setup-uv from v5 to v8.3.2 to fix Node.js 20 deprecation
  .github/workflows/ci.yml
  .github/workflows/debug.yml
  .github/workflows/publish.yml
Due: none

fix(ci): remove empty env: block preventing workflow parsing
  .github/workflows/ci.yml
Due: none

chore(release): bump version to 0.1.10
  docs/project/releases/v0.1.10.md
  pyproject.toml
  uv.lock
Due: none

Fix publish workflow
  .github/workflows/publish.yml
Due: none

docs: add Case File and Vertical Slice for CLI arg normalization (case-insensitive agent name + context path normalization)
  docs/project/PROJECT.md
  docs/project/debugging/16-cli-case-insensitive-and-path-normalization.md
  docs/project/slices/00-03-cli-arg-normalization.md
Due: none

fix(session_cli_handlers): emit yellow warning on health check subprocess failure and guard shutil.which
  docs/project/debugging/16-precommit-check-not-logged.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(parser): decode percent-encoded sequences in normalize_path
  docs/project/debugging/18-filepath-space-percent20.md
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/unit/core/services/test_normalize_path_percent_decoding.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(action_factory): wrap get_content with try/except to prevent error propagation
  docs/project/debugging/16-web-scraper-error-bubble.md
  src/teddy_executor/core/services/action_factory.py
  tests/suites/unit/core/services/test_action_factory_web_read_error_handling.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix: apply casefold to agent name comparisons and normalize context paths
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/prompts.py
  tests/suites/acceptance/test_cli_context_flag.py
  tests/suites/unit/core/services/test_cli_arg_normalization_regression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix: apply casefold to agent name comparisons and normalize context paths
  tests/suites/acceptance/test_cli_context_flag.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(cli): update upgrade instructions from pipx to uv
  docs/project/PROJECT.md
  docs/project/slices/00-02-update-checker.md
  docs/project/specs/update-checker.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): normalize path separators in context assertion test
  docs/project/debugging/19-windows-context-path-backslash.md
  tests/suites/acceptance/test_cli_context_flag.py
  tests/suites/unit/core/services/test_context_path_normalization.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(parser): safely coerce action params with best-effort number extraction
  docs/project/debugging/18-shell-float-str-bug.md
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/unit/core/services/test_param_coercion.py
  tests/suites/unit/core/services/test_parser_metadata.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

style: post-commit formatting adjustments (end-of-file-fixer, ruff)
  docs/project/debugging/18-shell-float-str-bug.md
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/action_parser_strategies.py
  tests/suites/unit/core/services/test_param_coercion.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(cli): normalize agent name comparisons and context paths
  docs/project/debugging/16-cli-case-insensitive-and-path-normalization.md
  docs/project/slices/00-03-cli-arg-normalization.md
  tests/suites/unit/core/services/test_cli_arg_normalization_regression.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(releases): add v0.1.11 release notes
  docs/project/releases/v0.1.11.md
Due: none

chore(release): bump version to 0.1.11
  pyproject.toml
  uv.lock
Due: none
