Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

test(parser): add unit test for trailing code block after last action (existing skip already handles)
  docs/project/slices/02-11-ast-parser-resilience.md
  tests/suites/unit/core/services/test_parser_fence_cleanup.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(test): add pragma allowlist secret to avoid detect-secrets warning
  .secrets.baseline
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(session-pruning): remove global_context_threshold backward compatibility fallback
  docs/project/slices/02-15-deprecate-global-context-threshold.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice-02-11): mark D4 Logic deliverable completed, add DEBT note for pre-existing test regression
  docs/project/slices/02-11-ast-parser-resilience.md
Due: none

docs(config-service): remove deprecated global_context_threshold references from config_service.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/project/slices/02-15-deprecate-global-context-threshold.md
Due: none

feat(test): add wiring integration test for validation-then-retry flow
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  tests/suites/integration/adapters/outbound/test_llm_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(parser): finalize AST parser resilience with Wiring acceptance test
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/parser_infrastructure.md
  docs/project/slices/02-11-ast-parser-resilience.md
  tests/suites/acceptance/test_ast_parser_resilience_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(session-pruning): remove deprecated global_context_threshold references from session_pruning_service.md
  docs/architecture/core/services/session_pruning_service.md
  docs/project/slices/02-15-deprecate-global-context-threshold.md
Due: none

docs(slice): mark slice 02-12 as completed
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-12-config-validation-and-transient-retry.md
Due: none

feat(litellm): implement lazy config validation and retry-all-errors
  .secrets.baseline
  docs/project/slices/02-12-config-validation-and-transient-retry.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/harness/setup/composition.py
  tests/harness/setup/mocks.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_retries.py
  tests/suites/unit/core/services/test_validator_edit_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone): remove deprecated global_context_threshold note from 02-stability-and-polish.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-15-deprecate-global-context-threshold.md
Due: none

fix(test): add timeout=300 to litellm completion assertion (bug #14)
  docs/project/debugging/14-ci-env-mismatch.md
  tests/suites/unit/adapters/outbound/test_bug_14_timeout_mismatch.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(test): remove redundant regression test (bug #14)
  docs/project/debugging/14-ci-env-mismatch.md
  tests/suites/unit/adapters/outbound/test_bug_14_timeout_mismatch.py
Due: ruff-lint, ruff-format, mypy, vulture

Minor changes
  docs/project/milestones/02-stability-and-polish.md
  src/teddy_executor/resources/config/config.yaml
Due: none

refactor(prompts): add validation error discipline, milestone completion, and slice prefix rules
  spikes/prototypes/02-08-provider-routing.py
  spikes/prototypes/02-11-ast-parser-resilience.py
  spikes/prototypes/10-preserve-user-message-turns.py
  spikes/prototypes/12-config-validation-retry.py
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: ruff-lint, ruff-format, mypy, vulture

fix(session-orchestrator): terminate session on empty message turn reply
  docs/project/debugging/15-empty-message-termination-bug.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_15_empty_message_termination.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-orchestrator): correct empty-reply detection via ActionLog.details
  docs/project/debugging/15-empty-message-termination-bug.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_15_empty_message_termination.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session-orchestrator): fix pruning test mock for is_communication_turn guard
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine post commit
  .githooks/post-commit
Due: none

Refine pathfinder prompt
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

fix(security): resolve all security linting issues
  .pre-commit-config.yaml
  .secrets.baseline
  poetry.lock
  pyproject.toml
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(cli): show project-relative path in "Resuming session" message
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(docs): create vertical slice for context payload format restructure
  docs/project/slices/00-03-context-payload-restructure.md
Due: none

feat(docs): expand slice scope to include ContextService code changes
  docs/project/slices/00-03-context-payload-restructure.md
Due: none

feat(slice): add 00-03-double-newlines-message-output slice skeleton
  docs/project/slices/00-03-double-newlines-message-output.md
Due: none

refactor(context-payload): remove numbering from section titles and reorder Session History
  docs/project/slices/00-03-context-payload-restructure.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement double_newlines() utility function for message display
  docs/project/slices/00-03-double-newlines-message-output.md
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(context-payload): remove numbering from section titles in examples and inline refs
  docs/project/specs/context-payload-format.md
Due: none

docs(context-payload): move Session History section after System Information and update example code block
  docs/project/specs/context-payload-format.md
Due: none

feat(adapter): wire double_newlines() preprocessing into display_message
  docs/architecture/adapters/outbound/console_interactor.md
  docs/project/slices/00-03-double-newlines-message-output.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(context-payload): finalize slice completion with cross-reference updates
  docs/project/debugging/11-dot-strip-context.md
  docs/project/slices/00-03-context-payload-restructure.md
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(prompts): apply 4 workflow refinements across all agent prompts
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

fix(core): correct double_newlines injection point to action_factory instead of display_message
  docs/project/tasks/correct-double-newlines-injection.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/services/action_factory.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
  tests/suites/unit/core/services/test_action_factory_message.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(pathfinder): update Task Brief blueprint format
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Minor changes
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(parser): correct raw content extraction slice and strip heading line
  docs/project/tasks/correct-double-newlines-injection.md
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
  tests/suites/unit/core/services/test_action_factory_message.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Cleanup
  docs/project/slices/02-15-deprecate-global-context-threshold.md
Due: none

fix(cli): display --model override in configuration check message
  docs/project/debugging/16-model-override-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_bug_16_model_override_message.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session_service): auto-add EDIT/CREATE paths on validation failure
  docs/project/debugging/16-edit-auto-add-skipped-on-validation.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_robustness.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-pruning): design conditional validation failure pruning (slice 02-13)
  docs/architecture/core/services/session_pruning_service.md
  docs/project/slices/02-13-validation-failure-pruning-timing.md
Due: none
