Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(ports): update IPlanReviewer contract with review_plan and review_action
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  tests/suites/unit/core/ports/inbound/test_plan_reviewer_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): reinforce engineering rigour in dev prompt
  prompts/dev.xml
Due: none

feat(reviewer): implement sequential ConsolePlanReviewer with shared ChangeSet logic
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/core/services/action_changeset_builder.py
  src/teddy_executor/core/services/action_executor.py
  tests/suites/acceptance/test_ui_mode_toggling.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

adjust documentation handling
  prompts/dev.xml
Due: none

refine implementation notes
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

minor polish
  prompts/dev.xml
Due: none

feat(reviewer): implement bulk plan review for console mode
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/core/ports/outbound/user_interactor.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): refactor developer documentation workflow for conciseness and consolidation
  prompts/dev.xml
Due: none

slight rewording
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

refactor(orchestrator): delegate action confirmation to IPlanReviewer
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/conftest.py
  tests/harness/setup/composition.py
  tests/suites/integration/core/services/test_partial_execution_integration.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): add Deprecation and Cleanup to deliverable prefixes
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

Change Replace All to Match All in EDIT action to avoid AI confusion
  docs/architecture/core/services/edit_simulator.md
  docs/architecture/tests/drivers/plan_builder.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_changeset_builder.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/harness/drivers/plan_builder.py
  tests/suites/acceptance/test_edit_transparency_and_bulk.py
  tests/suites/unit/core/services/test_edit_simulator_bulk.py
  tests/suites/unit/core/services/test_parser_edit_bulk.py
  tests/suites/unit/test_plan_builder.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine implementation notes instructions
  prompts/architect.xml
  prompts/dev.xml
Due: none

Restructure vertical slice doc
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

change config default timeout
  config/config.yaml
Due: none

feat(config): add ui_mode to configuration template and tests
  .secrets.baseline
  config/config.yaml
  docs/project/slices/10-08-tui-and-ux-polish.md
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(cli): implement UI mode toggling and stabilize test harness
  docs/project/debugging/systemic-quality-gate-regression.md
  docs/project/debugging/systemic-tui-timeout-regression.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/container.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/utils/serialization.py
  src/teddy_executor/registries/__init__.py
  src/teddy_executor/registries/infrastructure.py
  src/teddy_executor/registries/reviewer.py
  src/teddy_executor/registries/validators.py
  tests/harness/drivers/cli_adapter.py
  tests/harness/setup/composition.py
  tests/harness/setup/mocks.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/acceptance/test_systemic_quality_gate_repair.py
  tests/suites/acceptance/test_ui_mode_toggling.py
  tests/suites/integration/core/services/test_reviewer_wiring.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
  tests/suites/unit/core/services/test_planning_service_logging.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(workflow): optimize multi-agent quality gates and handoffs
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
Due: none

build(ci): consolidate remote pipeline and shift strict gates to pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

docs(prompts): mandate OS compatibility matrix in architect CI blueprint
  prompts/architect.xml
Due: none

docs(slice): restructure implementation notes to extract architectural feedback
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

delete obsolete debugging docs
  docs/project/debugging/mismatch-on-exact-find.md
  docs/project/debugging/systemic-quality-gate-regression.md
  docs/project/debugging/systemic-tui-timeout-regression.md
  docs/project/debugging/trailing-whitespace-mismatch.md
Due: none

docs(context): specify and plan git status inclusion in payload
  docs/project/slices/00-03-git-status-context.md
  docs/project/specs/context-payload-format.md
Due: none

refactor(prompts): update agent error handling and architectural guidelines
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

refactor: debloat all prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

ci(arch): define and implement dual-job CI pipeline
  .github/workflows/ci.yml
  docs/architecture/ARCHITECTURE.md
Due: none

docs(prompts): update dashboard template and turn responsibility rules
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Harden CPD
  .pre-commit-config.yaml
Due: none

ci: upgrade github actions to v6 and node to 24
  .github/workflows/ci.yml
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none

Fix CI python version
  .github/workflows/ci.yml
Due: none

chore(prompts): synchronize quality gate escape hatch across agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/pathfinder.xml
Due: none

CI: bump setup-node version
  .github/workflows/ci.yml
Due: none

refactor(prompts): upgrade personas, AST boundaries, and strict blueprints
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

build(config): enforce strict 0% duplication threshold and ignore ports
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-07-ux-polish-logging.md
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

chore(prompts): enforce rationale encapsulation in code block
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(domain): add git_status field to ProjectContext
  docs/project/slices/00-03-git-status-context.md
  src/teddy_executor/core/domain/models/project_context.py
  tests/suites/unit/core/domain/models/test_project_context.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(port): add get_git_status to IEnvironmentInspector
  docs/project/slices/00-03-git-status-context.md
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  src/teddy_executor/core/ports/outbound/environment_inspector.py
  tests/suites/unit/core/ports/inbound/test_environment_inspector_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(adapter): implement get_git_status in SystemEnvironmentInspector
  docs/project/slices/00-03-git-status-context.md
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  tests/suites/integration/adapters/outbound/test_system_environment_inspector.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): integrate git status into context service orchestration and formatting
  docs/project/slices/00-03-git-status-context.md
  src/teddy_executor/core/ports/outbound/environment_inspector.py
  src/teddy_executor/core/services/context_service.py
  tests/harness/setup/mocks.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/unit/core/ports/inbound/test_environment_inspector_contract.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
