Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(prompts): implement Branch by Abstraction & Hard Abort protocols
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(prompts): mandate Cleanup whenever Seam is used
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(prompts): standardise audit-driven workflow and deliverable sequence
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(developer): refine strategic assessment and pivot definition
  prompts/developer.xml
Due: none

feat(developer): implement specific audit conditions and pivot protocol
  prompts/developer.xml
Due: none

feat(prompts): tighten developer audit and BBA pivot logic
  prompts/developer.xml
Due: none

feat(prompts): refine developer pivot logic and commit timing
  prompts/developer.xml
Due: none

feat(prompts): ensure explicit cleanup in all branch by abstraction pivots
  prompts/developer.xml
Due: none

feat(prompts): harmonize branch by abstraction pivot instructions
  prompts/developer.xml
Due: none

docs(slice): pivot to branch by abstraction for async transformation
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

docs(slice): refine 00-05 to hybrid async strategy
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

docs(slice): pivot planning lifecycle to branch by abstraction
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

feat(llm): add async_get_completion seam and setup async test harness
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  tests/conftest.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
  tests/suites/unit/test_async_infrastructure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): add async_generate_plan seam to PlanningService
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/core/ports/inbound/planning_use_case.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service_async.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): add async counterparts to session manager and run plan ports
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/acceptance/test_async_port_migration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refine allow failure hint
  docs/project/specs/report-format.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session): migrate SessionOrchestrator and SessionPlanner to async
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/acceptance/test_async_port_migration.py
  tests/suites/unit/adapters/inbound/test_session_orchestrator_async.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): migrate SessionOrchestrator to async
  docs/project/debugging/19-planningservice-async-attributeerror.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/acceptance/test_async_port_migration.py
  tests/suites/unit/core/services/test_planning_service_async.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(acceptance): fix workspace initialization in async migration test
  docs/project/debugging/20-ci-discrepancy.md
  tests/suites/acceptance/test_async_port_migration.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): re-sort deliverables for branch by abstraction
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

feat(session): implement chronological sorting and natural name resolution
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/core/services/session_repository.py
  tests/suites/unit/core/services/test_session_repository.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): refine developer workflow for atomicity and mandatory integration
  prompts/developer.xml
Due: none

feat(prompts): refine fleet-wide synthesis logic and vc protocol
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Minor change
  prompts/developer.xml
Due: none

fix(session): resolve path resolution failure with date prefixes
  docs/project/debugging/21-session-path-resolution-failure.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_repository.py
  tests/suites/unit/core/services/test_session_repository.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): mandate trailing newline in MRP
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(prompts): refine Version Control Protocol conditional logic
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(prompts): standardize workflow terminology to "version control"
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Minor changes
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(slice): decompose async migration deliverables
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

feat(core): implement ExecutionOrchestrator.async_execute wrapper
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_async_port_migration.py
  tests/suites/acceptance/test_session_prefixing.py
  tests/suites/integration/adapters/outbound/test_shell_adapter.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement sequenced planning logs and proceed-on-empty logic
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_replanner.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_planning_service_async.py
  tests/suites/unit/core/services/test_session_planner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): add explicit phase transitions to developer workflow
  prompts/developer.xml
Due: none

fix(cli): revert async wiring and pivot to harness async support
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

test(harness): provide centralized async mock support
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  tests/harness/setup/mocks.py
  tests/suites/unit/test_async_infrastructure.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(prompts): unify plan audit triggers and deliverables format across agents
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Minor formatting change
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

feat(prompts): harden assembly line with wiring triggers and atomicity safety valve
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(slice): decompose async wiring deliverable
  docs/project/slices/00-05-planning-lifecycle-visibility.md
Due: none

feat(session): implement async wrappers and unified mock bridge
  docs/project/slices/00-05-planning-lifecycle-visibility.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/harness/setup/mocks.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_async_port_migration.py
  tests/suites/unit/adapters/inbound/test_session_orchestrator_async.py
  tests/suites/unit/test_unified_mock.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
