Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

fix(ci): replace hardcoded POSIX /tmp/ paths with platform-aware fixture and add pre-commit guard
  .githooks/check_hardcoded_tmp.py
  .pre-commit-config.yaml
  docs/project/debugging/34-windows-editor-reconstruct-from-diff.md
  tests/conftest.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_wiring.py
  tests/suites/unit/adapters/outbound/test_console_interactor_m_support.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): fix diff header/context/stdio forwarding and editor notifications; document remaining color and gui-flash bugs in case files
  docs/project/debugging/35-tui-gui-editor-flash-read.md
  docs/project/debugging/36-tui-vim-grey-colors.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

debug: probe vim state inside Textual suspend context
  spikes/debug/remote_probe.sh
Due: none

debug: create CI probe and user MRE for bug 36 vim grey colors
  docs/project/debugging/36-tui-vim-grey-colors.md
  spikes/debug/36-mre-user.py
  spikes/debug/probe.sh
  spikes/debug/remote_probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

fix(tui): open real file directly for READ action preview
  docs/project/PROJECT.md
  docs/project/debugging/35-tui-gui-editor-flash-read.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_read_preview_opens_real_file.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(editor): add -c syntax on / filetype plugin on flags for vim editors
  docs/project/debugging/36-tui-vim-grey-colors.md
  spikes/debug/36-mre-user.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): fetch URL content for READ preview and skip ConfirmScreen for GUI editors
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_read_preview_opens_real_file.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): downgrade READ preview editor-open INFO logs to DEBUG
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): route READ URL preview through existing WebScraper port
  docs/project/PROJECT.md
  docs/project/debugging/37-tui-read-url-preview-uses-raw-urllib.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/registries/reviewer.py
  tests/suites/unit/adapters/inbound/test_read_preview_opens_real_file.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): add case file 38 for empty READ URL preview with GUI editors
  docs/project/debugging/38-tui-read-url-preview-empty-file.md
Due: none

fix(tui): defer temp file cleanup for GUI editors in READ URL preview
  docs/project/debugging/38-tui-read-url-preview-empty-file.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_read_preview_opens_real_file.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): route READ preview through launch_editor for vim color consistency
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_read_preview_opens_real_file.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(release): bump version to 0.1.14
  docs/project/PROJECT.md
  docs/project/releases/v0.1.14.md
  pyproject.toml
  uv.lock
Due: none

fix(web-scraper): suppress trafilatura logging and cache failed URL fetches
  docs/project/debugging/39-web-scraper-logging-pollution.md
  spikes/debug/probe.sh
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/integration/adapters/outbound/test_web_scraper_resilience.py
  tests/suites/unit/core/services/test_context_service_caching.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(parser): preserve percent-encoded symbols in URLs during path normalization
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/unit/core/services/test_normalize_path_percent_decoding.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session_orchestrator): print abort-captured user message to terminal
  docs/project/debugging/40-tui-q-cancel-message-not-logged.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_40_q_cancel_message_terminal_output.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): downgrade WebReadAction error log from warning to debug
  docs/project/debugging/41-web-scraper-error-no-terminal.md
  src/teddy_executor/core/services/action_factory.py
  tests/suites/unit/core/services/test_web_read_error_log_level.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Pipeline automation task
  docs/project/tasks/pipeline-automation.md
Due: none

docs(pipeline-automation): skeleton vertical slice
  docs/project/slices/00-18-pipeline-automation.md
Due: none

wip(pipeline-automation): add case file for pipeline message break failure
  docs/project/debugging/42-pipeline-message-break.md
  docs/project/slices/00-18-pipeline-automation.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_pipeline_wiring.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(action-executor): pipeline mode MESSAGE break not triggering on real execution
  docs/project/debugging/42-pipeline-message-break.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
  tests/suites/unit/core/services/test_pipeline_message_break.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-orchestrator): pipeline mode MESSAGE response mislabeled as "User Message"
  docs/project/debugging/43-pipeline-message-mislabeled.md
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-orchestrator): resolve UnboundLocalError for typer in pipeline mode
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(editor): add spec, milestone, and roadmap for editor validation (03-01)
  docs/project/PROJECT.md
  docs/project/milestones/03-foundational-refactors.md
  docs/project/specs/editor-validation-and-discovery.md
Due: none

docs(project): add slice 03-01 editor validation and discovery
  docs/project/slices/03-01-editor-validation-and-discovery.md
Due: none

docs(architecture): add console_tooling component doc and update related designs for slice 03-01
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/adapters/outbound/console_tooling.md
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
Due: none

docs(readme): document -p/--pipeline flag in optional flags
  README.md
Due: none

fix(debugging): add case files for editor popup on Windows and context assembly hang regressions
  docs/project/debugging/44-editor-popup-windows.md
  docs/project/debugging/45-context-assembly-hang.md
Due: none

debug: add remote probe for Windows editor platform handling
  spikes/debug/remote_probe.sh
Due: none

debug: rename remote_probe to probe.sh and fix debug.yml to use uv run
  .github/workflows/debug.yml
  spikes/debug/45-cache-bloat-mre.py
  spikes/debug/probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

debug: replace probe with corrected launch_editor-focused platform check
  spikes/debug/probe.sh
  spikes/debug/remote_probe.sh
Due: none

fix(tui): add Windows platform branching to launch_editor and preview_edit_diff_viewer
  docs/project/debugging/43-pipeline-message-mislabeled.md
  docs/project/debugging/44-editor-popup-windows.md
  spikes/debug/probe.sh
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

debug: add URL fetch timing probe
  spikes/debug/probe.sh
  spikes/debug/probe_url_fetch.py
Due: ruff-lint, ruff-format, mypy, vulture

debug: add URL fetch timing probe and update Case File with revised root cause
  docs/project/debugging/45-context-assembly-hang.md
Due: none

fix(debug): replace os.uname with platform.platform for Windows probe compatibility
  docs/project/debugging/45-context-assembly-hang.md
  spikes/debug/probe_url_fetch.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(context): parallelize URL fetching and reduce web scraper timeout to 5s
  docs/project/debugging/45-context-assembly-hang.md
  spikes/debug/probe.sh
  spikes/debug/probe_url_fetch.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): differentiate CLI vs GUI editors on Windows for launch_editor and preview_edit_diff_viewer
  docs/project/debugging/44-editor-popup-windows.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): skip Windows-specific suspend tests and fix Popen assertion for CREATE_NO_WINDOW
  docs/project/debugging/46-trafilatura-discard-warning.md
  spikes/debug/46-trafilatura-mre.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(web_scraper): pass url to trafilatura.extract() so discard logs show meaningful URL
  docs/project/debugging/46-trafilatura-discard-warning.md
  docs/project/debugging/47-tui-m-key-save-popup.md
  spikes/debug/46-trafilatura-mre.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/suites/integration/adapters/outbound/test_web_scraper_trafilatura_warning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(web_scraper): pass url to trafilatura.extract() so discard logs show meaningful URL
  tests/suites/unit/adapters/outbound/test_web_scraper_contract.py
Due: ruff-lint, ruff-format, mypy, vulture

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
