Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

docs: transfer technical debt from slice to milestone dashboard
  docs/project/slices/00-03-git-status-context.md
Due: none

feat(core): align context payload with project context specification
  docs/project/slices/00-03-git-status-context.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: finalize project context specification and slice deliverables
  docs/project/slices/00-03-git-status-context.md
  docs/project/specs/context-payload-format.md
Due: none

feat(core): final implementation of clean git status message and unit tests
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(integration): remove final stale assertions for context summary
  tests/suites/integration/core/services/test_session_orchestration_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(meta): finalize agent protocol refinements with explicit paths
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(prompts): standardize vertical slice with gherkin and atomic deliverables
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

refactor(core): simplify IPlanReviewer port and finalize console UX
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  tests/harness/setup/mocks.py
  tests/suites/acceptance/test_ui_mode_toggling.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer.py
  tests/suites/unit/core/ports/inbound/test_plan_reviewer_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(domain): add is_session property to Plan model
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/domain/models/test_models.py
  tests/suites/unit/core/ports/inbound/test_plan_reviewer_contract.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(parser): detect session plans based on file path
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/core/ports/inbound/plan_parser.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/unit/core/services/test_markdown_plan_parser_session.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refine prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(prompts): refine agent protocols and formatting rules
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(core): skip PRUNE actions in manual execution mode
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/acceptance/test_non_interactive_orchestration.py
  tests/suites/acceptance/test_prune_manual_skip.py
  tests/suites/unit/core/services/test_markdown_plan_parser_session.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): filter out PRUNE actions in manual mode
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test: fix UnicodeEncodeError in PRUNE acceptance test on Windows
  tests/suites/acceptance/test_prune_manual_skip.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(cli): refactor session resume to run in a continuous loop
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine prompts
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Change prefix instructions
  prompts/architect.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(prompts): integrate permanent scoped diagnostics into debugger workflow
  prompts/debugger.xml
Due: none

chore(prompts): standardize error states and formatting protocols
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

architect: add debuge mode best practices
  prompts/architect.xml
Due: none

debugger: add to maintain debug mode in persona
  prompts/debugger.xml
Due: none

security(deps): pin litellm to 1.82.6 and update requests to 2.33.0
  docs/project/milestones/10-interactive-session-and-config.md
  poetry.lock
  pyproject.toml
Due: none

feat(prompts): allow direct code polish in pathfinder
  prompts/pathfinder.xml
Due: none

dev: polish dashboard
  prompts/dev.xml
Due: none

feat(session): display Turn ID and Agent Name before planning
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/acceptance/test_planning_visibility.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Rename and polish dev to developer
  prompts/developer.xml
Due: none

chore(config): optimize local pre-commit hooks to run on staged files only and restore ai version control safety net
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/10-interactive-session-and-config.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

fix precommit compatibility
  .pre-commit-config.yaml
Due: none

Prompt refinement
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(parser): init terminal actions as deselected in mixed plans
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  docs/project/specs/report-format.md
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/acceptance/test_action_isolation.py
  tests/suites/integration/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_orchestrator_isolation.py
  tests/suites/unit/core/services/test_parser_terminal_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): wrap telemetry strings in Rich style tags
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/core/services/session_orchestrator.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-08-tui-and-ux-polish.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): correct context file paths injection and planning output timing
  src/teddy_executor/core/services/session_orchestrator.py.bak
  src/teddy_executor/core/services/session_planner.py.bak
Due: none

test(core): fix session orchestrator unit test mock
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(session): implement continuous loop for teddy start with rename support
  docs/project/debugging/teddy-start-exit.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_resume_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): update debugger restart logic to preserve docs
  prompts/debugger.xml
Due: none

docs(project): finalize advanced TUI and UX polish slice 10-09
  docs/project/PROJECT.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/report-format.md
Due: none

docs(prompts): refine Vertical Slice and Spec blueprints
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

docs(prompts): simplify version control protocol conditional
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
