Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

fix(ci): exclude .venv from jscpd duplication check
  .github/workflows/ci.yml
Due: none

docs(prompts): generalize environment exclusions in architecture blueprint
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(core): update ContextService to collect file metadata into ContextItem list
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/domain/models/__init__.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): optimize context gathering and token counting performance
  docs/project/debugging/08-context-command-slowdown.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
  tests/suites/unit/core/services/test_context_service_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): add deleted file auto-pruning rule to slice 00-04
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

fix(ci): resolve macOS performance flakiness and consolidate test drivers
  docs/project/debugging/09-ci-performance-failure.md
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/plan_builder.py
  tests/suites/integration/adapters/outbound/test_tree_generator_performance.py
  tests/suites/integration/core/services/test_session_orchestrator_validation.py
  tests/suites/unit/core/services/test_context_service_performance.py
  tests/suites/unit/core/services/test_parser_basic_actions.py
  tests/suites/unit/core/services/test_validator_edit_performance.py
Due: ruff-lint, ruff-format, mypy, vulture

perf(cli): optimize startup time via lazy-loading and cleanup DI docstrings
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/registries/infrastructure.py
  src/teddy_executor/registries/reviewer.py
  src/teddy_executor/resources/config/config.yaml
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(web_scraper): remove obsolete 403 fallback test and unify identity
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/integration/adapters/outbound/test_web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): finalize architect exploration and design workflow
  src/teddy_executor/resources/prompts/architect.xml
Due: none

feat(prompts): standardize headers, plan types, and state logic across all agents
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(core): extract SessionPruningService and resolve quality gates
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_pruning_service.py
  tests/harness/setup/test_environment.py
  tests/suites/integration/core/services/test_session_resume.py
  tests/suites/unit/core/services/test_abort_handling_regression.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

CLI Initialization Optimization spec
  docs/project/specs/cli-initialization-optimization.md
Due: none

fix(core): resolve windows worker crash in session loop
  docs/project/debugging/10-windows-worker-crash-resume.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine remote probing protocol
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(tui): implement session context tree population
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(ui): implement context item toggling and styling in TUI
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/domain/models/project_context.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_toggling.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement dynamic context detail and aggregate views
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine atomic delivery instructions
  src/teddy_executor/resources/prompts/developer.xml
Due: none

docs(all): restructure documentation into navigation mesh hub
  README.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/guides/README.md
  docs/project/PROJECT.md
Due: none

Revert "docs(all): restructure documentation into navigation mesh hub"
  README.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/guides/README.md
  docs/project/PROJECT.md
Due: none

fix(tui): distribute logic to satisfy quality gates and fix imports
  docs/project/debugging/11-windows-ci-failure-docs-restructure.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_reviewer_widgets.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(tui): log technical debt and resolve case file 11
  docs/project/debugging/11-windows-ci-failure-docs-restructure.md
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

fix(tui): use correct pilot sync methods and harden against windows race
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(case): finalize and resolve case file 11
  docs/project/debugging/11-windows-ci-failure-docs-restructure.md
Due: none

chore(prompts): add structural integrity and fragmentation debt guards
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
Due: none

clean up completed milestone
  docs/project/milestones/09-architectural-debt-reconciliation.md
Due: none

docs(milestones): consolidate systemic fragmentation debt items in Milestone 10
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

feat(prompts): implement verified hypothesis workflow in debugger
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

Remove blueprints as they are not needed
  src/teddy_executor/resources/prompts/assistant.xml
Due: none

feat(tui): harvest pruned context paths into plan metadata
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_pruning_return.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement manifest-based manual pruning in session transition
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
  tests/suites/unit/core/services/test_session_orchestrator_validation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): complete context management ui and auto-pruning
  docs/architecture/core/domain/project_context.md
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/project/slices/00-04-context-management-ui.md
  tests/suites/acceptance/test_context_management_ui.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): initialize fix for context path crash
  docs/project/slices/00-12-fix-context-path-crash.md
Due: none

fix(core): implement nuanced context resolution to prevent path crash
  debug/mre_context_crash.py
  debug/repro_root/long_spec.md
  debug/trace_context.py
  docs/project/debugging/12-context-path-crash.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): resolve focus and navigation polish issues
  docs/project/debugging/13-tui-session-polish.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): resolve navigation focus gates and system prompt resolution
  docs/project/debugging/14-tui-context-management-refinement.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/project_context.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/adapters/inbound/test_rationale_filtering.py
  tests/suites/unit/core/services/test_abort_handling_regression.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(license): transition project to AGPLv3 license and update author
  LICENSE
  pyproject.toml
Due: none

chore(project): rename package to teddy and update description
  pyproject.toml
Due: none

Minor changes
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(prompts): integrate showcase deliverable workflow across all agents
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none
