Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

docs(llm-api-key-configuration): update component docs to as-built reality
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/project/slices/00-27-llm-api-key-configuration.md
Due: none

docs(session-turn-numbering-and-read-cap): scaffold single-folder session slice
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
Due: none

fix(session-turn-numbering-and-read-cap): resolve numerically-latest turn past 99
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
  src/teddy_executor/core/services/session_repository.py
  tests/suites/unit/core/services/test_session_repository.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(llm-api-key-configuration): plan the .teddy scaffolding-hardcoding refactor
  docs/project/slices/00-27-llm-api-key-configuration.md
Due: none

refactor(session-turn-numbering-and-read-cap): retire turn-99 session migration
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/integration/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_prompt_contract.py
  tests/suites/unit/core/services/test_session_service_pruning.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-turn-numbering-and-read-cap): embed context files verbatim
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_capping.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-turn-numbering-and-read-cap): embed context URLs verbatim
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/core/ports/outbound/web_scraper.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/adapters/outbound/test_web_scraper_contract.py
  tests/suites/unit/core/services/test_context_service.py
  tests/suites/unit/core/services/test_context_service_caching.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(llm-api-key-configuration): hardcode .teddy scaffolding constants
  README.md
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/services/init_service.md
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/core/ports/inbound/init.py
  src/teddy_executor/core/services/init_service.py
  src/teddy_executor/resources/config/.gitignore
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session-turn-numbering-and-read-cap): remove stale migration prose
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session-turn-numbering-and-read-cap): gate turn-99 single-folder advance
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
  tests/suites/integration/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(session-turn-numbering-and-read-cap): mark slice completed after verification
  docs/project/slices/00-28-session-turn-numbering-and-read-cap.md
Due: none

fix(session): persist resume -m message durably across EMPTY turns
  docs/project/PROJECT.md
  docs/project/debugging/68-resume-message-lost-before-first-plan.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
  tests/suites/unit/core/services/test_session_lifecycle_resume_message_persistence.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestone-05): plan structural debt slices from the resume-message fix
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

fix(init): make .teddy/.env create-only to preserve the user API key
  .pre-commit-config.yaml
  README.md
  docs/architecture/core/services/init_service.md
  docs/project/PROJECT.md
  src/teddy_executor/core/services/init_service.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(yaml-config-adapter): recursively interpolate ${VAR} tokens in nested dicts/lists
  docs/project/debugging/69-env-api-key-loading.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_interpolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(validation): gate EDIT ambiguity detection on the effective similarity threshold
  docs/project/PROJECT.md
  docs/project/debugging/70-edit-ambiguous-gate-order.md
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/suites/unit/core/services/test_edit_ambiguity_threshold_gating.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): append resume -m message to initial_request.md as plain text
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_resume_message_persistence.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(llm): make API-key requirement provider-aware and clean up the key prompt
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/project/PROJECT.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_api_key_gate.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_laziness.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_retries.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): clear detect-secrets false positive in 00-29 debt entry
  docs/project/PROJECT.md
Due: none

fix(llm): fail fast on authentication errors instead of exhausting retries
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/project/PROJECT.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_retries.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update): publish dev pre-releases to PyPI and remove TestPyPI from install commands
  .github/workflows/publish.yml
  README.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(ci): rename workflow to remove TestPyPI reference
  .github/workflows/publish.yml
Due: none

Create task brief
  docs/project/tasks/resume-agent-switch.md
Due: none

docs(slice): create vertical slice for resume-agent-switch
  docs/project/slices/00-29-resume-agent-switch.md
Due: none

feat(protocol): add set_session_agent to ISessionManager
  docs/project/slices/00-29-resume-agent-switch.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): mark harness deliverable as completed for resume-agent-switch
  docs/project/slices/00-29-resume-agent-switch.md
Due: none

feat(session-service): implement set_session_agent with meta.yaml update, prompt copy, and stale-prompt removal
  docs/project/PROJECT.md
  docs/project/slices/00-29-resume-agent-switch.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_contract.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add -a/--agent flag to resume command for mid-session agent switch
  docs/project/slices/00-29-resume-agent-switch.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(resume-agent-switch): add logic tests for -a/--agent behavior
  docs/project/slices/00-29-resume-agent-switch.md
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_resume_meta.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): add task brief for resume-by-session-slug
  docs/project/tasks/00-30-resume-by-session-slug.md
Due: none

chore(workspace): apply pre-existing unstaged linter and documentation adjustments
  docs/project/debugging/69-env-api-key-loading.md
  docs/project/releases/v0.1.15.md
  docs/project/slices/00-29-resume-agent-switch.md
  tests/suites/unit/adapters/inbound/test_setup_editor_resolution.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_interpolation.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(resume-session-slug): add vertical slice plan for resume-by-session-slug
  docs/project/slices/00-30-resume-by-session-slug.md
Due: none

feat(resume-session-slug): declare resolve_session_from_slug on ISessionRepository port
  docs/project/slices/00-30-resume-by-session-slug.md
  src/teddy_executor/core/ports/outbound/session_repository.py
  tests/suites/unit/core/ports/outbound/test_session_repository_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(resume-session-slug): declare resolve_session_from_slug on ISessionManager protocol
  docs/project/slices/00-30-resume-by-session-slug.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(config): switch default model to deepseek-flash-latest and document pass-through
  README.md
  docs/project/tasks/00-29-config-passthrough-provider-routing.md
  src/teddy_executor/resources/config/config.yaml
Due: none

feat(resume-session-slug): implement resolve_session_from_slug on SessionRepository
  docs/project/slices/00-30-resume-by-session-slug.md
  src/teddy_executor/core/services/session_repository.py
  tests/suites/unit/core/services/test_session_repository.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(resume-session-slug): delegate resolve_session_from_slug on SessionService
  docs/project/slices/00-30-resume-by-session-slug.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service_slug_delegation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(config): add commented common LLM params
  src/teddy_executor/resources/config/config.yaml
Due: none

feat(resume-session-slug): fall back to slug resolution in _resolve_session_name
  docs/project/PROJECT.md
  docs/project/slices/00-30-resume-by-session-slug.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_session_resume_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): add vertical slice for config passthrough provider routing
  docs/project/slices/00-31-config-passthrough-provider-routing.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
