Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

test(harness): implement POSIXPathMock and refactor for compliance
  docs/project/debugging/rca/windows-path-normalization-unit-tests.md
  tests/harness/setup/real_adapter_mixin.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

test(harness): ensure global mock_fs fixture uses POSIXPathMock
  tests/harness/setup/composition.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(docs): archive completed milestone 09
  docs/project/PROJECT.md
  docs/project/debugging/rca/duplicate-read-validation-errors.md
  docs/project/debugging/rca/windows-path-normalization-unit-tests.md
  docs/project/milestones/09-hexagonal-test-architecture.md
  docs/project/slices/09-01-test-harness-blueprinting.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
  docs/project/slices/09-03-refactor-unit-suite.md
  docs/project/slices/09-04-architectural-guardrails-enforcement.md
Due: none

slight rewording
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Minor Polish
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/suites/acceptance/test_all_validation_errors_show_ast.py
  tests/suites/acceptance/test_enhanced_validation.py
  tests/suites/acceptance/test_parser_polish.py
  tests/suites/integration/core/services/test_enhanced_validation_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): align agent workflows and flatten debugging paths
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

refactor(prompts): simplify debugger git workflow and error escalation
  prompts/debugger.xml
Due: none

Simplify escalation protocol
  prompts/architect.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(project): resequence test harness milestone to 09 and update test strategy rules
  docs/project/PROJECT.md
  docs/project/debugging/performance_regression_v3.md
  docs/project/milestones/09-test-harness-v2.md
  docs/project/slices/00-01-performance-optimizations.md
  prompts/architect.xml
  prompts/dev.xml
Due: none

Add use of subcutenous acceptance tests
  prompts/dev.xml
Due: none

Refine debugger process
  prompts/debugger.xml
Due: none

refactor(prompts): implement core alignment improvements across all agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

build(pytest): optimize collection speed by restricting testpaths
  docs/project/slices/00-01-performance-optimizations.md
  pyproject.toml
Due: none

perf(parser): lazy-load mistletoe dependencies to improve CLI startup latency
  docs/project/slices/00-01-performance-optimizations.md
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/parser_infrastructure.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/suites/integration/core/services/test_lazy_loading_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(cli): implement lazy dependency injection container initialization
  docs/project/slices/00-01-performance-optimizations.md
  src/teddy_executor/__main__.py
  tests/harness/setup/composition.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(tests): optimize tree generator performance budget test
  docs/project/slices/00-01-performance-optimizations.md
  tests/suites/integration/adapters/outbound/test_tree_generator_performance.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(domain): purge legacy action models and extract exceptions
  docs/project/slices/00-01-performance-optimizations.md
  src/teddy_executor/core/domain/models/__init__.py
  src/teddy_executor/core/domain/models/_legacy_models.py
  src/teddy_executor/core/domain/models/exceptions.py
  tests/suites/unit/core/domain/test_models.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(domain): enforce zero-cost contracts via assert in plan models
  docs/project/slices/00-01-performance-optimizations.md
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/test_models.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore: update project docs
  docs/project/PROJECT.md
  docs/project/debugging/performance_regression_v3.md
  docs/project/milestones/09-test-harness-v2.md
Due: none

docs(prompts): refine version control protocol and architect configuration
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

add 1s timeout to tests
  pyproject.toml
Due: none

refine vertical slice
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

test(acceptance): fix slow tests triggering global timeout
  tests/suites/acceptance/test_hanging_command_management.py
  tests/suites/acceptance/test_session_resume_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture

refine dev prompt to ensure atomic delivery cycle
  prompts/dev.xml
Due: none

fix(matcher): implement line-ending indifference bonus for exact matches
  docs/project/debugging/mismatch-on-exact-find.md
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/suites/acceptance/test_edit_newline_mismatch.py
  tests/suites/acceptance/test_edit_ux_polish.py
  tests/suites/integration/core/services/test_resilient_edit_matching_integration.py
  tests/suites/unit/core/services/test_edit_simulator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Increase test timeout to 5s
  prompts/architect.xml
  pyproject.toml
Due: none

docs(prompts): reinforce atomic delivery per deliverable in dev agent
  prompts/dev.xml
Due: none

Vertical slice polish
  docs/project/slices/10-03-refactor-execution-report-template.md
  docs/project/slices/10-04-core-session-context-engine.md
  docs/project/slices/10-05-plan-validation-self-correction.md
  docs/project/slices/10-06-interactive-tui-resume-workflow.md
  docs/project/slices/10-07-ux-polish-logging.md
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

Refine debugger solution exploration
  prompts/debugger.xml
Due: none

docs(slices): add robust newline handling slice
  docs/project/slices/00-02-robust-newline-handling.md
Due: none

feat(validator): implement line ending indifference bonus for EditMatcher
  docs/architecture/core/services/plan_validator.md
  docs/project/slices/00-02-robust-newline-handling.md
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/suites/unit/core/services/test_edit_matcher_indifference.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(simulator): implement dynamic line ending preservation
  docs/architecture/core/services/edit_simulator.md
  docs/project/slices/00-02-robust-newline-handling.md
  src/teddy_executor/core/services/edit_simulator.py
  tests/suites/unit/core/services/test_edit_simulator_newline_preservation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove diff review from dev workflow
  prompts/dev.xml
Due: none

Remove guiding acceptance test from dev's dashboard
  prompts/dev.xml
Due: none

remove CLEANUP from CLEANUP & COMMIT
  prompts/dev.xml
Due: none

docs(prompts): enforce atomic deliverables in Pathfinder and Architect
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

docs(slices): refine 10-08 for atomic deliverables and CLI behavior
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

fix(matcher): implement line-by-line whitespace indifference and refactor for file length
  docs/project/debugging/trailing-whitespace-mismatch.md
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  src/teddy_executor/core/services/validation_rules/edit_matcher_heuristics.py
  tests/suites/unit/core/services/test_edit_matcher_whitespace.py
  tests/suites/unit/core/services/test_edit_simulator_fuzzy.py
  tests/suites/unit/core/services/test_validator_edit_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove cleanup phase from dashboard
  prompts/architect.xml
  prompts/debugger.xml
Due: none

feat(prompts): mandate atomic delivery and flexible deliverable categorization
  prompts/architect.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none
