Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(adapters): implement verbatim extraction for GitHub raw content
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/suites/integration/adapters/outbound/test_web_scraper_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  docs/project/slices/02-02-web-scraping-resilience.md
Due: none

fix(scraper): implement multi-stage stealth rotation for 403 resilience
  docs/project/debugging/03-web-scraper-403-persistence.md
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(scraper): add 406 to rotation trigger and improve resilience
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(search): implement deep scraping in WebSearcherAdapter
  docs/architecture/adapters/outbound/web_searcher_adapter.md
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(research): wire research.max_results configuration into web searcher
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  src/teddy_executor/registries/infrastructure.py
  tests/harness/setup/real_adapter_mixin.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_partial_failure.py
  tests/suites/integration/core/services/test_report_formats_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine vertical slice
  docs/project/slices/02-02-web-scraping-resilience.md
Due: none

refactor(prompts): replace showcase with wiring sandbox verification and enforce strict validation memory
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(slices): update 02-02 to use Sandbox Verification pattern
  docs/project/slices/02-02-web-scraping-resilience.md
Due: none

feat(scraper): implement exponential backoff and refactor for complexity
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(adapters): make WebScraperAdapter max_retries configurable
  docs/architecture/adapters/outbound/web_scraper_adapter.md
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/resources/config/config.yaml
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(research): implement intelligent content truncation and close slice 02-02
  docs/architecture/adapters/outbound/web_searcher_adapter.md
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refine vs
  docs/project/slices/02-02-web-scraping-resilience.md
Due: none

feat(prompts): replace Developer autonomous E2E script with post-commit user Verification Playbook
  src/teddy_executor/resources/prompts/developer.xml
Due: none

refactor(scraper): disable high-recall flags and implement line truncation
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/suites/unit/adapters/outbound/test_web_scraper_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(searcher): delegate redundant content truncation entirely to scraper
  docs/architecture/adapters/outbound/web_searcher_adapter.md
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): enforce debugger handoff for verification failures
  src/teddy_executor/resources/prompts/developer.xml
Due: none

refactor(prompts): condense verification playbook and shift case file init to developer
  src/teddy_executor/resources/prompts/developer.xml
Due: none

docs(slice): mark searcher truncation refactor as complete
  docs/project/slices/02-02-web-scraping-resilience.md
Due: none

feat(reporting): render extracted content in research action logs
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_formatter_action_logs.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(tests): remove banned unittest.mock usage in web scraper contract tests
  docs/project/slices/02-02-web-scraping-resilience.md
  tests/suites/unit/adapters/outbound/test_web_scraper_contract.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prompts): enhance agent metadata, handoff logic, and slice rules
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(roadmap): synchronize milestone 2 requirements and technical context
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

refactor(prompts): sync PROJECT.md and Milestone blueprints with documentation standards
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

refactor(research): revert deep search requirements and align all instructions
  docs/project/PROJECT.md
  docs/project/slices/00-01-revert-research-deep-search.md
  docs/project/specs/plan-format.md
  docs/project/specs/stability-and-bugfixes.md
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(domain): remove content field from SearchResult DTO
  docs/project/slices/00-01-revert-research-deep-search.md
  src/teddy_executor/core/domain/models/web_search_results.py
  tests/suites/unit/core/domain/models/test_web_search_results.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine requirements
  docs/project/slices/00-01-revert-research-deep-search.md
  docs/project/specs/plan-format.md
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(core): rename SearchResult body to description and remove research scraping
  docs/project/slices/00-01-revert-research-deep-search.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  src/teddy_executor/core/domain/models/web_search_results.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/registries/infrastructure.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/suites/unit/core/domain/models/test_web_search_results.py
  tests/suites/unit/core/services/test_formatter_action_logs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(research): revert deep search and rename body to description
  docs/architecture/adapters/outbound/web_searcher_adapter.md
  docs/architecture/core/domain/web_search_results.md
  docs/project/slices/00-01-revert-research-deep-search.md
Due: none

doc(slice): create 00-02-refine-research-output with example
  docs/project/slices/00-02-refine-research-output.md
Due: none

docs(slice): refine research output deliverables for atomic TDD
  docs/project/slices/00-02-refine-research-output.md
Due: none

feat(report): refine research output format for better scannability
  docs/project/slices/00-02-refine-research-output.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_formatter_action_logs.py
Due: ruff-lint, ruff-format, mypy, vulture

Cleanup
  .gitignore
  docs/project/slices/00-02-refine-research-output.md
Due: none

feat(prompts): split version control and conclusion phases in architect and pathfinder
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(prompts): add Triage phase and proactive proposal gate to Prototyper
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(project): add requirement to ignore redundant edits
  docs/project/milestones/02-stability-and-polish.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

docs(arch): design safety limits and session migration
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/ports/outbound/session_loop_guard.md
  docs/architecture/core/services/session_loop_guard.md
  docs/architecture/core/services/session_pruning_service.md
  docs/architecture/core/services/session_service.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/resources/config/config.yaml
Due: none

feat(session): de-risk safety limits and session migration
  docs/project/slices/02-03-safety-limits.md
  spikes/prototypes/02-03-safety-limits.py
Due: ruff-lint, ruff-format, mypy, vulture
