Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

fix(cli-editor): update test assertion for CLI editor cleanup behavior (deliverable 3/8)
  docs/project/slices/00-08-cli-editor-regression-fix.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli-editor): add GUI editor Popen launch with flush (deliverable 4/8)
  docs/project/slices/00-08-cli-editor-regression-fix.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(cli-editor): wrap msvcrt import in inner try/except and skip Windows tests on non-Windows (deliverable 5/8)
  docs/project/slices/00-08-cli-editor-regression-fix.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(cli-editor): mark test updates deliverable 6/8 as complete (no code changes needed)
  docs/project/slices/00-08-cli-editor-regression-fix.md
Due: none

test(cli-editor): add end-to-end wiring tests for CLI and GUI editor flows (deliverable 8/8)
  docs/project/slices/00-08-cli-editor-regression-fix.md
  tests/suites/unit/adapters/outbound/test_console_ask_loop_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture

debug: add windows job to debug.yml and rename probe script
  .github/workflows/debug.yml
  docs/project/debugging/29-ci-windows-recursion.md
  spikes/debug/probe.sh
Due: none

debug: add shadow test file and update probe for windows recursion fix verification
  docs/project/debugging/29-ci-windows-recursion.md
  spikes/debug/probe.sh
  spikes/debug/shadow_test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture

debug: apply fix to real test file and update probe for remote verification
  docs/project/debugging/29-ci-windows-recursion.md
  spikes/debug/probe.sh
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): add vertical slice for TUI editor suspend/resume fix
  docs/project/slices/00-09-tui-editor-suspend-resume.md
Due: none

fix(test): prevent RecursionError in Windows stdin flush test by using importlib.__import__
  docs/project/debugging/25-yolo-guardrail-message-format.md
  docs/project/debugging/28-vim-editor-osc-residual-display.md
  docs/project/debugging/29-ci-windows-recursion.md
  spikes/debug/probe.sh
  spikes/debug/shadow_test_console_ask_loop_stdin_flush.py
  tests/suites/acceptance/test_tui_edit_workflow.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(tui): implement suspend/resume for CLI editors in launch_editor
  docs/project/PROJECT.md
  docs/project/slices/00-09-tui-editor-suspend-resume.md
  docs/project/tasks/00-09-tui-editor-suspend-resume.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): show ConfirmScreen after CLI editor exit in launch_editor
  docs/project/slices/00-09-tui-editor-suspend-resume.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): add -f flag to pre-commit install on start
  docs/project/PROJECT.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): move ConfirmScreen to add_message_handler, flush stdin inside suspend
  docs/project/slices/00-09-tui-editor-suspend-resume.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): move _flush_stdin() outside app.suspend() to prevent terminal handover hang
  docs/project/debugging/30-tui-editor-suspend-resume-handover.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_flush_outside_suspend.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

debug: remote probe for TUI editor suspend/resume terminal state
  spikes/debug/probe.sh
Due: none

fix(tui): restore foreground process group after subprocess.run inside app.suspend()
  docs/project/debugging/30-tui-editor-suspend-resume-handover.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_process_group_restoration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Linter changes
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): add task brief for plan reviewer editor fixes
  docs/project/tasks/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

feat(tui): update task brief with ask loop editor notification
  docs/project/tasks/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

docs(tui): add vertical slice for TUI plan reviewer editor fixes
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

docs(tui): re-partition deliverables for non-breaking expansion sequence
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

feat(tui): add _DIFF_FLAGS translation table and update get_diff_viewer_command
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
  spikes/debug/probe.sh
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): add harness fixtures for no-editor, CLI editor, and diff flag verification
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

feat(tui): complete migration deliverable - backward compatible consumers
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

fix(tui-plan-reviewer-editor-fixes): Wiring deliverable - editor fixes and no-editor notifications
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui-plan-reviewer-editor-fixes): Cleanup - remove editor fallback chain and VS Code special-casing
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/acceptance/test_change_preview_feature.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui-plan-reviewer-editor-fixes): Refactor deliverable - verify no stale comments, finalize docs
  docs/project/slices/00-16-tui-plan-reviewer-editor-fixes.md
Due: none

fix(console): reorder editor check before temp file creation
  docs/project/debugging/31-ci-windows-editor-background.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Linter changes
  docs/project/debugging/31-ci-windows-editor-background.md
  tests/suites/unit/adapters/inbound/test_tui_editor_process_group_restoration.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(editor): reorder editor check before temp file creation in launch_editor and preview_readonly
  docs/project/debugging/32-ci-windows-editor-suspend-resume.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): add Case File #33 for TUI editor suspend/resume regressions
  docs/project/PROJECT.md
  docs/project/debugging/33-tui-editor-suspend-resume-regressions.md
Due: none

fix(tui): restore terminal state in all app.suspend() editor paths
  docs/project/debugging/32-ci-windows-editor-suspend-resume.md
  docs/project/debugging/33-tui-editor-suspend-resume-regressions.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): restore terminal state in all app.suspend() editor paths
  docs/project/PROJECT.md
  docs/project/debugging/33-tui-editor-suspend-resume-regressions.md
Due: none

feat(tui): add task brief for annotated edit diff preview
  docs/project/tasks/00-17-tui-annotated-edit-diff.md
Due: none

docs(slice): add vertical slice for tui-annotated-edit-diff feature
  docs/project/slices/00-17-tui-annotated-edit-diff.md
Due: none

feat(editor): add reconstruct_from_diff and _generate_annotated_diff_content pure functions for single-file annotated diff editing
  docs/project/slices/00-17-tui-annotated-edit-diff.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): update preview_edit_diff_viewer CLI branch to use annotated single-file diff flow
  docs/project/slices/00-17-tui-annotated-edit-diff.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(editor): remove before parameter from handle_mock_diff and colocate cleanup in GUI branch
  docs/project/slices/00-17-tui-annotated-edit-diff.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(docs): complete slice 00-17 Cleanup deliverable (no-op) and set Status to Completed
  docs/project/slices/00-17-tui-annotated-edit-diff.md
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
