Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

docs(project): update roadmap with structural protocol and stability items
  docs/project/PROJECT.md
Due: none

docs(design): design orchestrator support for structural message protocol
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/01-02-orchestrator-message-dispatch.md
Due: none

docs(design): finalize orchestrator message support with strict validation
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/01-02-orchestrator-message-dispatch.md
Due: none

docs(slice): refine deliverables and add IUserInteractor seam
  docs/project/slices/01-02-orchestrator-message-dispatch.md
Due: none

feat(interactor): add notify_warning seam to IUserInteractor
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  tests/suites/integration/adapters/outbound/test_console_interactor_warning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): add warnings support to ExecutionReport and Assembler
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/ports/outbound/execution_report_assembler.py
  src/teddy_executor/core/services/execution_report_assembler.py
  tests/suites/unit/core/domain/models/test_execution_report.py
  tests/suites/unit/core/services/test_execution_report_assembler.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(domain): add is_legacy and is_communication_turn helpers
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/models/test_plan_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(validation): add MessageActionValidator
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/services/validation_rules/message.py
  src/teddy_executor/registries/validators.py
  tests/suites/unit/core/services/test_validator_message.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(core): bypass TUI review for MESSAGE communication turns
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor polish
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(core): orchestrate deprecation warnings for legacy actions
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/harness/setup/test_environment.py
  tests/suites/integration/core/services/test_manual_execution_persistence.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
  tests/suites/unit/core/services/test_orchestrator_persistence.py
  tests/suites/unit/core/services/test_terminal_action_deselection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(protocol): realign deprecation warnings to be terminal-only and repair all coupled tests
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/milestones/01-structural-message-protocol.md
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/ports/outbound/execution_report_assembler.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/execution_report_assembler.py
  tests/suites/unit/core/domain/models/test_execution_report.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_report_assembler.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): implement rolling refactor and CI evolution in architect workflow
  src/teddy_executor/resources/prompts/architect.xml
Due: none

refactor(prompts): update VCP offline resilience and standardize vertical slices
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine VCP
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(core): introduce OrchestratorPorts DTO and update ExecutionOrchestrator
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/orchestrator_ports.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/harness/setup/test_environment.py
  tests/suites/integration/core/services/test_manual_execution_persistence.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
  tests/suites/unit/core/services/test_orchestrator_persistence.py
  tests/suites/unit/core/services/test_orchestrator_refactor.py
  tests/suites/unit/core/services/test_terminal_action_deselection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session): refine turn-100 migration spec and align padding
  docs/project/PROJECT.md
  docs/project/specs/interactive-session-workflow.md
Due: none

feat(core): add acceptance tests and fix MESSAGE skip in ActionExecutor
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/services/action_executor.py
  tests/suites/acceptance/test_message_protocol_orchestration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): introduce ReportAssemblyData DTO for report assembly
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/ports/outbound/execution_report_assembler.md
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  src/teddy_executor/core/domain/models/__init__.py
  src/teddy_executor/core/domain/models/report_assembly_data.py
  src/teddy_executor/core/ports/outbound/execution_report_assembler.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/execution_report_assembler.py
  tests/suites/unit/core/services/test_execution_report_assembler.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): update structural protocol roadmap and milestone
  docs/project/PROJECT.md
  docs/project/milestones/01-structural-message-protocol.md
Due: none

Update specs
  docs/project/specs/handoff-protocol.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/plan-format.md
Due: none

Update all prompts to align with new MESSAGE protocol
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prompts): add Programmatic Edits rule to all agents
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(slices): initialize 01-03 cleanup slice and close 01-02
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  docs/project/slices/01-03-cleanup-legacy-actions.md
Due: none

mark slice 3 as implemented
  docs/project/slices/01-03-cleanup-legacy-actions.md
Due: none

debug: probe windows timeout
  spikes/debug/remote_probe.sh
Due: none

docs(debugging): resolve windows CI worker crash with dynamic timeouts
  docs/project/debugging/01-windows-ci-worker-crash.md
  docs/project/slices/00-01-fix-windows-ci-timeout.md
  spikes/debug/remote_probe.sh
Due: none

fix(tests): implement dynamic timeout scaling for CI environments
  docs/project/slices/00-01-fix-windows-ci-timeout.md
  tests/conftest.py
Due: ruff-lint, ruff-format, mypy, vulture

Cleanup
  docs/project/slices/00-01-fix-windows-ci-timeout.md
Due: none

Minor wording change
  docs/project/specs/plan-format.md
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(docs): reconcile milestone 01 and design cli context support
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/ports/outbound/session_manager.md
  docs/architecture/core/services/session_service.md
  docs/project/milestones/01-structural-message-protocol.md
  docs/project/slices/01-03-cleanup-legacy-actions.md
  docs/project/slices/01-03-cli-flag-realignment.md
  docs/project/slices/01-04-system-prompt-migration.md
  docs/project/slices/01-05-legacy-deprecation.md
Due: none

feat(docs): finalize design for slice 01-03 and reconcile milestone 01
  docs/architecture/core/ports/outbound/session_manager.md
  docs/architecture/core/services/session_service.md
  docs/project/milestones/01-structural-message-protocol.md
  docs/project/slices/01-03-cli-flag-realignment.md
Due: none

feat(core): expand create_session contract with context and llm overrides
  docs/project/slices/01-03-cli-flag-realignment.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

update git ignore
  .gitignore
Due: none

feat(cli): implement start command flags and metadata persistence
  docs/project/slices/01-03-cli-flag-realignment.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/services/init_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/utils/serialization.py
  tests/harness/setup/real_adapter_mixin.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_cli_context_flag.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
  tests/suites/unit/core/services/test_init_service.py
  tests/suites/unit/core/services/test_planning_service.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/utils/test_serialization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): consolidate create_session parameters into SessionOptions DTO
  docs/architecture/core/ports/outbound/session_manager.md
  docs/project/slices/01-03-cli-flag-realignment.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/domain/models/session.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(debugger): bypass vertical slice for trivial fixes
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(prompts): standardize conclusion plan type across all agents
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none
