Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(config): implement centralized configuration baseline
  .gitignore
  config/.gitignore
  config/config.yaml
  config/init.context
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/core/services/init_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/registries/infrastructure.py
  src/teddy_executor/resources/__init__.py
  tests/harness/setup/real_adapter_mixin.py
  tests/suites/acceptance/test_auto_initialization.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/integration/adapters/outbound/test_web_scraper_adapter.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_layering.py
  tests/suites/unit/core/services/test_init_service.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(config): finalize gemini defaults and fix git tracking
  .gitignore
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/resources/config/__init__.py
  src/teddy_executor/resources/config/config.yaml
  src/teddy_executor/resources/config/init.context
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(config): resolve regressions in litellm and config layering
  docs/project/debugging/03-config-and-adapter-regressions.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/resources/config/.gitignore
  tests/suites/acceptance/test_similarity_threshold_config.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(llm): align litellm adapter and telemetry tests with port contract
  tests/suites/unit/adapters/outbound/test_litellm_adapter_telemetry.py
Due: ruff-lint, ruff-format, mypy, vulture

Cleanup
  docs/project/debugging/01-session-view-plan-path.md
  docs/project/debugging/02-windows-ci-shell-failure.md
  docs/project/debugging/03-config-and-adapter-regressions.md
  docs/project/slices/00-01-failure-transparency-refactor.md
  docs/project/slices/00-02-session-auto-naming-refinement.md
  docs/project/slices/00-03-session-initialization-resequencing.md
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  docs/project/slices/00-05-ls-r-tree-format.md
  docs/project/slices/00-06-cap-execute-output.md
  docs/project/slices/00-07-centralized-configuration-baseline.md
Due: none

test(shell): fix project root pollution by using managed workspace
  tests/suites/integration/adapters/outbound/test_shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

test(harness): optimize TUI driver and tighten timeout test durations
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_hanging_command_management.py
  tests/suites/acceptance/test_tui_view_plan_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture

Fix j2 template
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

feat(docs): add vertical slice for user modification audit trail
  docs/project/slices/00-01-user-modified-audit-trail.md
Due: none

feat(domain): add modified_fields to ActionData and ActionLog
  docs/project/slices/00-01-user-modified-audit-trail.md
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/models/test_execution_report.py
  tests/suites/unit/core/domain/models/test_models.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): track specific modified fields in action parameters
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-01-user-modified-audit-trail.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_tui_modified_fields.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(reporting): remove is_concise from formatter and template
  docs/project/slices/00-01-user-modified-audit-trail.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/core/ports/outbound/markdown_report_formatter.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_markdown_report_formatter_enhancements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): remove is_concise from orchestrator, assembler, and tests
  docs/project/slices/00-01-user-modified-audit-trail.md
  pyproject.toml
  tests/suites/integration/core/services/test_report_formats_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(reporting): switch to PackageLoader for robust template resolution on Windows
  docs/project/debugging/01-windows-template-path-regression.md
  src/teddy_executor/core/services/markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(report): implement detailed user modification audit trail and prune redundant sections
  docs/project/slices/00-01-user-modified-audit-trail.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

feat(report): complete user modification audit trail and prune legacy is_concise
  docs/architecture/core/domain/execution_report.md
  docs/architecture/core/domain_model.md
  docs/architecture/core/ports/outbound/markdown_report_formatter.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-01-user-modified-audit-trail.md
  docs/project/specs/report-format.md
Due: none

feat(reporting): add stop-to-reply hint and collapse bullet point whitespace
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(reporting): standardize alignment hint and optimize bullet point density
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

test: align assertions with standardized reporting and clipboard messaging
  tests/suites/acceptance/test_cli_ux_improvements.py
  tests/suites/acceptance/test_generalized_clipboard_output.py
  tests/suites/acceptance/test_instruction_bridge.py
  tests/suites/unit/core/services/test_report_message_fencing.py
Due: ruff-lint, ruff-format, mypy, vulture

style(cli): finalize clipboard messaging standardization
  src/teddy_executor/adapters/inbound/cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): integrate Seam Protocol and Branch by Abstraction mechanics
  prompts/developer.xml
Due: none

Revert "feat(prompts): integrate Seam Protocol and Branch by Abstraction mechanics"
  prompts/developer.xml
Due: none

chore(prompts): harmonize impact audit and deliverable standards across all agents
  prompts/architect.xml
  prompts/assistant.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

fix(ci): resolve quality gate regressions and security vulnerabilities
  docs/project/debugging/02-windows-init-resource-regression.md
  poetry.lock
  pyproject.toml
  tests/harness/vulture_whitelist.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(prompts): harden debugger empirical audit and remote probing protocol
  prompts/debugger.xml
Due: none

refactor(prompts): standardize terminology to VCP in workflows
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(core): refine output pruning with dynamic count-aware messaging
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_capping.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): propagate granular modified_fields to execution report
  docs/project/debugging/03-missing-user-modified-indicator.md
  src/teddy_executor/core/services/action_diff_manager.py
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/action_executor.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/acceptance/test_modified_audit_trail.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): enforce mandatory e2e verification gates and universal test mapping
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Revert "feat(prompts): enforce mandatory e2e verification gates and universal test mapping"
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(prompts): mandate Wiring deliverable as the sole Acceptance test gate
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Minor change
  prompts/developer.xml
Due: none

Minor message change
  src/teddy_executor/adapters/inbound/cli_helpers.py
  tests/suites/acceptance/test_cli_ux_improvements.py
  tests/suites/acceptance/test_generalized_clipboard_output.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(adapters): ensure VS Code reuses current window and waits
  docs/project/debugging/04-vscode-reuse-window.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Cleanup debugging case files
  docs/project/debugging/01-windows-template-path-regression.md
  docs/project/debugging/02-windows-init-resource-regression.md
  docs/project/debugging/03-missing-user-modified-indicator.md
  docs/project/debugging/04-vscode-reuse-window.md
Due: none

fix(adapters): make VS Code flag injection more robust for TUI
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): strip VS Code env vars when spawning editor to prevent dual-icon on macOS
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "fix(tui): strip VS Code env vars when spawning editor to prevent dual-icon on macOS"
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): prevent orchestrator crash on mid-plan action preparation failure
  docs/project/debugging/01-orchestrator-crash-partial-failure.md
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_execute_mid_plan_failure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(shell): ensure redirection and metacharacters trigger shell execution
  docs/project/debugging/02-mid-plan-failure-reporting.md
  src/teddy_executor/adapters/outbound/shell_command_builder.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
