Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

test(di): migrate integration and acceptance tests to container fixture
  tests/acceptance/test_quality_of_life_improvements.py
  tests/integration/adapters/inbound/test_cli_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(di): document standardized DI testing infrastructure
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/23-standardize-di-testing.md
Due: none

docs(testing): standardize DI infrastructure and align test pyramid
  docs/project/PROJECT.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/24-standardize-test-infrastructure.md
Due: none

refactor(test): migrate unit-like tests from acceptance to unit layer
  tests/unit/core/test_report_parsing_helpers.py
  tests/unit/test_plan_builder.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(test): prune granular formatting checks from acceptance layer
  tests/acceptance/test_context_command_refactor.py
  tests/acceptance/test_report_enhancements.py
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(test): standardize DI infrastructure across acceptance tests
  tests/acceptance/test_change_preview_feature.py
  tests/acceptance/test_generalized_clipboard_output.py
  tests/acceptance/test_interactive_execution.py
  tests/acceptance/test_prompt_action.py
Due: ruff-lint, ruff-format, mypy, vulture

docs: final update for slice 24
  docs/project/slices/24-standardize-test-infrastructure.md
Due: none

New refactor slice
  docs/project/slices/25-standardize-test-suite.md
Due: none

refactor(tests): standardize action factory and plan validator unit tests using central DI fixture
  tests/unit/core/services/test_action_factory.py
  tests/unit/core/services/test_action_factory_refactor.py
  tests/unit/core/services/test_plan_validator.py
  tests/unit/core/services/test_plan_validator_refactor.py
Due: ruff-lint, ruff-format, mypy, vulture

docs: update slice and milestone for standardized test suite
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/25-standardize-test-suite.md
Due: none

docs: add slice for test suite DI standardization
  docs/project/slices/26-refactor-tests-to-standard-di.md
Due: none

refactor(tests): standardize DI testing with centralized container fixture
  src/teddy_executor/__main__.py
  src/teddy_executor/container.py
  tests/integration/core/services/test_execution_orchestrator.py
  tests/integration/core/services/test_plan_validator_integration.py
  tests/unit/core/services/test_context_service.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: update slice 26 implementation summary and milestone status
  docs/project/slices/26-refactor-tests-to-standard-di.md
Due: none

New refactoring slice
  docs/project/PROJECT.md
  docs/project/slices/27-standardize-test-infrastructure.md
  docs/project/specs/test-infrastructure-standards.md
Due: none

test(infra): implement centralized mock fixtures in conftest.py
  docs/project/slices/27-standardize-test-infrastructure.md
  tests/conftest.py
  tests/unit/test_centralized_mocks_smoke.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(test): standardize DI mocking and eradicate boilerplate across 17 files
  tests/acceptance/test_change_preview_feature.py
  tests/acceptance/test_cli_polish.py
  tests/acceptance/test_generalized_clipboard_output.py
  tests/acceptance/test_interactive_execution.py
  tests/acceptance/test_quality_of_life_improvements.py
  tests/conftest.py
  tests/integration/adapters/inbound/test_cli_adapter.py
  tests/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/integration/core/services/test_execution_orchestrator.py
  tests/integration/core/services/test_plan_validator_integration.py
  tests/unit/adapters/outbound/test_console_interactor.py
  tests/unit/core/services/test_action_dispatcher.py
  tests/unit/core/services/test_action_factory.py
  tests/unit/core/services/test_context_service.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_plan_validator.py
  tests/unit/test_centralized_mocks_smoke.py
Due: ruff-lint, ruff-format, mypy, vulture

test(infrastructure): migrate validation logic to unit tests and standardize acceptance DI
  tests/acceptance/test_change_preview_feature.py
  tests/acceptance/test_create_file_action.py
  tests/acceptance/test_critical_bug_fixes.py
  tests/acceptance/test_edit_action.py
  tests/acceptance/test_report_enhancements.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture

docs: finalize Slice 27 with Implementation Summary
  docs/project/slices/27-standardize-test-infrastructure.md
Due: none

New refactor slice
  docs/project/slices/28-test-refactor.md
Due: none

Delete redundant spec
  docs/project/specs/test-infrastructure-standards.md
Due: none

test(infra): add shared fixtures for EditSimulator, Inspector, and ReportFormatter
  tests/conftest.py
  tests/test_infrastructure_smoke.py
Due: ruff-lint, ruff-format, mypy, vulture

test(refactor): standardize service unit tests with DI-based resolution
  tests/unit/core/services/test_context_service.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture

test(refactor): standardize integration tests and cleanup legacy suites
  tests/acceptance/test_plan_execution_context.py
  tests/acceptance/test_refactored_core_service_execution.py
  tests/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/integration/core/services/test_plan_validator_integration.py
  tests/test_infrastructure_smoke.py
  tests/unit/test_centralized_mocks_smoke.py
  tests/unit/test_di_fixture_smoke.py
Due: ruff-lint, ruff-format, mypy, vulture

docs: update slice 28 with implementation summary
  docs/project/slices/28-test-refactor.md
Due: none

docs(architect): embed self-enforcing architecture workflow
  prompts/architect.xml
Due: none

docs(architecture): add self-enforcing architecture standard
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
Due: none

docs(architecture): Refactor and streamline architectural documentation
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/markdown_plan_parser.md
  prompts/architect.xml
Due: none

Refine prompts
  prompts/architect.xml
  prompts/dev.xml
Due: none

Refine prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

refactor(tests): rename acceptance helper to run_execute_with_plan_content
  tests/acceptance/helpers.py
  tests/acceptance/test_create_file_action.py
  tests/acceptance/test_edit_action.py
  tests/acceptance/test_markdown_plans.py
  tests/acceptance/test_walking_skeleton.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(tests): standardize chdir logic using monkeypatch
  tests/acceptance/test_change_preview_feature.py
  tests/acceptance/test_quality_of_life_improvements.py
Due: ruff-lint, ruff-format, mypy, vulture

test rebalancing spec
  docs/project/specs/test-suite-rebalancing.md
Due: none

test(refactor): migrate markdown plan acceptance tests to integration
  tests/acceptance/test_markdown_plans.py
  tests/integration/core/services/test_action_dispatch_logic.py
Due: ruff-lint, ruff-format, mypy, vulture

update spec doc
  docs/project/specs/test-suite-rebalancing.md
Due: none

test(acceptance): migrate create file action test to integration layer
  docs/project/specs/test-suite-rebalancing.md
  tests/acceptance/test_create_file_action.py
Due: ruff-lint, ruff-format, mypy, vulture

test(acceptance): migrate edit action test to integration and preview layers
  docs/project/specs/test-suite-rebalancing.md
  tests/acceptance/test_edit_action.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): update implementation summary for invert test pyramid
  docs/project/slices/20-invert-test-pyramid.md
Due: none

chore(ci): add script to verify test pyramid structure
  .github/workflows/ci.yml
  scripts/verify_test_pyramid.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ci): use git grep --count for cross-platform compatibility
  scripts/verify_test_pyramid.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompt): refine architect testing strategy
  prompts/architect.xml
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
