Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

refactor(prompts): mandate dense sequential showcase flow with action tracing
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

build(lint): ban global patching and bare MagicMocks
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  pyproject.toml
Due: none

docs(slice): re-partition work to include ITimeService foundation
  docs/project/slices/00-05-eradicate-mock-poisoning.md
Due: none

feat(core): introduce ITimeService outbound port
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  src/teddy_executor/core/ports/outbound/time_service.py
  tests/suites/unit/core/ports/outbound/test_time_service_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(adapters): implement SystemTimeAdapter and wire DI
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  src/teddy_executor/adapters/outbound/system_time_adapter.py
  src/teddy_executor/core/ports/outbound/__init__.py
  src/teddy_executor/registries/infrastructure.py
  tests/suites/unit/adapters/outbound/test_system_time_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): inject IPromptManager into SessionService and fix port duplicates
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/outbound/prompt_manager.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/acceptance/test_session_prefixing.py
  tests/suites/acceptance/test_session_resume_robustness.py
  tests/suites/acceptance/test_streamlined_init.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tests): eradicate mock poisoning in integration and tooling unit tests
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/harness/setup/real_adapter_mixin.py
  tests/suites/integration/adapters/outbound/test_system_environment_inspector.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_partial_failure.py
  tests/suites/integration/core/services/test_manual_execution_persistence.py
  tests/suites/integration/core/services/test_reference_files_integration.py
  tests/suites/integration/core/services/test_report_formats_integration.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/integration/core/services/test_session_orchestrator_validation.py
  tests/suites/integration/core/services/test_session_validation_integration.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debug): finalize investigation for auto-pruning failure case 02
  docs/project/debugging/02-auto-prune-failed-recovery.md
  docs/project/slices/00-04-context-management-ui.md
  spikes/debug/02_repro_prune.py
  spikes/debug/remote_probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

docs(session): resolve session loop breakage and update slice 04
  docs/project/debugging/03-session-loop-breakage.md
  docs/project/slices/00-04-context-management-ui.md
  spikes/debug/03_repro_session_break.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session): expand prune signature to accept current_status
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement responsive recovery cleanup in pruning service
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): harden developer atomicity and mock constraints
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(core): refactor status detection with anchored regex
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/acceptance/test_context_management_ui.py
  tests/suites/unit/core/services/test_session_pruning_robustness.py
  tests/suites/unit/core/services/test_session_pruning_status_anchoring.py
  tests/suites/unit/core/services/test_session_pruning_windows.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): refine status emoji extraction with anchored regex
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): refine status emoji extraction with anchored regex
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

docs(slice): refine Turn 00 context persistence logic
  docs/project/slices/00-04-context-management-ui.md
Due: none

Update vertical slice
  docs/project/slices/00-04-context-management-ui.md
Due: none

feat(session): implement initial_request.md persistence at session root
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): seed initial_request.md into session context
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): resolve session loop breakage and restore system stability
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/core/services/session_service.py
  tests/harness/setup/mocking.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/acceptance/test_streamlined_init.py
  tests/suites/unit/core/services/test_planning_service.py
  tests/suites/unit/core/services/test_session_planner.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session): align architecture to Pure Context instruction model
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/planning_service.md
  docs/architecture/core/services/prompt_manager.md
  docs/project/slices/00-04-context-management-ui.md
Due: none

fix(test): systemic solve for Windows path assertion failures
  docs/architecture/ARCHITECTURE.md
  docs/project/debugging/04-windows-path-assertion-failure.md
  spikes/debug/02_repro_prune.py
  spikes/debug/03_repro_session_break.py
  spikes/debug/mre_runner.py
  spikes/showcases/00-04/run_showcase.py
  spikes/showcases/00-04/showcase_heuristics.sh
  tests/harness/setup/mocking.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): re-align plan for clean instruction discovery restart
  docs/project/slices/00-04-context-management-ui.md
Due: none

feat(core): inject ISessionManager into PlanningService
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/planning_ports.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service.py
  tests/suites/unit/core/services/test_planning_service_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update vertical slice and specs
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

Update docs
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

feat(session): implement discovery protocol and session safety loop guards
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/ports/outbound/__init__.py
  src/teddy_executor/core/ports/outbound/session_loop_guard.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_loop_guard.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/utils/serialization.py
  tests/harness/setup/composition.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_instruction_bridge.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/acceptance/test_session_resume_robustness.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove unnecessary session name re-resolve
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

OpenRouter OAuth Monetization Specs
  docs/project/specs/openrouter-monetization-oauth.md
Due: none

feat(prompts): standardize rebase-safe VCP and edge cases format
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(debugger): implement two-stage verification and clean sandbox lifecycle
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(prompts): update teardown step to run git status after cleanup
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(architecture): generalize guidelines and mandate mock registration helper
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

refactor(prompts): optimize developer integration phase and enforce delivery gate
  src/teddy_executor/resources/prompts/developer.xml
Due: none

chore(prompts): clarify technical debt logging format
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
Due: none

docs(session): document and specify fix for stateful non-interactive session loop bugs
  docs/project/debugging/05-session-y-bugs.md
  docs/project/slices/00-04-context-management-ui.md
Due: none

Refine dev prompt
  src/teddy_executor/resources/prompts/developer.xml
Due: none

refine dev prompt
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(session): enable context resolution and auto-pruning in non-interactive sessions
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
