Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

fix(tui): skip Windows-specific suspend tests, fix Popen and web scraper assertions, improve post-commit hook output
  .githooks/post-commit.py
  docs/project/debugging/44-editor-popup-windows.md
  tests/suites/acceptance/test_tui_view_plan_robustness.py
  tests/suites/unit/adapters/inbound/test_tui_editor_flush_outside_suspend.py
  tests/suites/unit/adapters/inbound/test_tui_editor_process_group_restoration.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): remove explicit stdio redirection from subprocess calls
  docs/project/debugging/48-tui-editor-windows-still-broken.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  tests/suites/acceptance/test_tui_view_plan_robustness.py
  tests/suites/integration/adapters/outbound/test_web_scraper_resilience.py
  tests/suites/unit/adapters/inbound/test_tui_editor_stdin_fileno_regression.py
  tests/suites/unit/adapters/outbound/test_system_environment_adapter_kwargs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(deps): remove deprecated typer[all] extra from dependencies
  pyproject.toml
  uv.lock
Due: none

fix(parser): preserve percent-encoding in bare www. URLs and additional protocols
  docs/project/PROJECT.md
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/unit/core/services/test_normalize_path_percent_decoding.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(release): bump version to 0.1.15
  docs/project/PROJECT.md
  docs/project/releases/v0.1.15.md
  pyproject.toml
Due: none

chore(release): update uv.lock after version bump
  uv.lock
Due: none

chore(release): redo v0.1.15 with CI concurrency fix, test fix, and process documentation
  .github/workflows/ci.yml
  docs/project/PROJECT.md
  docs/project/releases/v0.1.15.md
  tests/suites/unit/adapters/inbound/test_read_preview_opens_real_file.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(system-env): simplify shell detection on Windows to use COMSPEC
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(adapters): detach windows fire-and-forget spawns from the parent console
  docs/project/PROJECT.md
  docs/project/debugging/49-console-editor-prompt-navigation-windows.md
  docs/project/debugging/50-editmatcher-multiline-fragment-anchoring.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_background.py
  tests/suites/unit/adapters/outbound/test_system_environment_adapter_kwargs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): consolidate technical debt bypass log
  docs/project/PROJECT.md
Due: none

docs(project): purge dated technical debt entries and finalize section order
  docs/project/PROJECT.md
Due: none

fix(edit-matcher): rescue literal multi-line find blocks at full match score
  docs/project/PROJECT.md
  docs/project/debugging/50-editmatcher-multiline-fragment-anchoring.md
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/suites/unit/core/services/test_edit_matcher_literal_multiline.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove resolved technical debt
  docs/project/PROJECT.md
Due: none

debug: probe
  spikes/debug/51-perf-probe.py
  spikes/debug/probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): add session-name collision guard task brief
  docs/project/PROJECT.md
  docs/project/tasks/00-19-session-name-collision-guard.md
Due: none

debug: extended probe
  spikes/debug/51-perf-probe.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): remove resolved and addressed debt entries
  docs/project/PROJECT.md
  docs/project/tasks/00-19-session-name-collision-guard.md
Due: none

docs(session-collision-guard): add vertical slice for session name collision guard
  docs/project/slices/00-19-session-name-collision-guard.md
Due: none

docs(session-collision-guard): record plan audit verdict and activate contract deliverable
  docs/project/slices/00-19-session-name-collision-guard.md
Due: none

feat(session-collision-guard): add create_directory_exclusive port contract
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/project/slices/00-19-session-name-collision-guard.md
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session-collision-guard): default create_directory_exclusive to happy path in harness mocks
  docs/project/slices/00-19-session-name-collision-guard.md
  tests/harness/setup/mocks.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session-collision-guard): implement create_directory_exclusive in local filesystem adapter
  docs/project/slices/00-19-session-name-collision-guard.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-collision-guard): add _claim_session_root suffix-retry helper to session service
  docs/project/PROJECT.md
  docs/project/slices/00-19-session-name-collision-guard.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(prompts): unbracket step-name matching in RPP log extraction
  src/teddy_executor/resources/config/prompts/debugger.xml
Due: none

docs(debugging): add Case File 51 RCA, fix slice 00-20, retire perf probe
  docs/project/debugging/51-windows-startup-context-slowness.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  spikes/debug/51-perf-probe.py
  spikes/debug/probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

feat(session-collision-guard): claim session roots atomically in create_session
  docs/project/PROJECT.md
  docs/project/slices/00-19-session-name-collision-guard.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-collision-guard): decompose turn-100 migration into chain-logic and wiring deliverables
  docs/project/slices/00-19-session-name-collision-guard.md
Due: none

feat(session-collision-guard): retry occupied session roots via continuation names
  docs/project/slices/00-19-session-name-collision-guard.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-collision-guard): exclusively claim continuation roots during turn-100 migration
  docs/project/slices/00-19-session-name-collision-guard.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prototyper): de-risk slice 00-20 unknowns and finalize startup latency plan
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  docs/project/specs/cli-initialization-optimization.md
  docs/project/specs/openrouter-monetization-oauth.md
  docs/project/specs/plan-execution-context.md
  spikes/prototypes/windows-startup-latency/orchestrator_execute_audit.md
  spikes/prototypes/windows-startup-latency/registry_cache_prototype.py
  spikes/prototypes/windows-startup-latency/validate_shim_determinism.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(windows-startup-latency): absorb mechanical arity adaptation into contract deliverable
  docs/project/slices/00-20-windows-startup-context-latency.md
Due: none

feat(session-collision-guard): add sibling-integrity gate for exclusive session claims
  docs/architecture/core/services/session_service.md
  docs/project/slices/00-19-session-name-collision-guard.md
  tests/suites/integration/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(windows-startup-latency): return project context from generate_plan contract
  docs/project/PROJECT.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/inbound/planning_use_case.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/integration/core/services/test_session_pruning_persistence.py
  tests/suites/unit/core/services/test_planning_service.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_validation.py
  tests/suites/unit/core/services/test_session_planner.py
  tests/suites/unit/core/services/test_session_replanner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-collision-guard): mark slice completed after verification
  docs/project/slices/00-19-session-name-collision-guard.md
Due: none

feat(cli): accept repeated -c/--context flags with comma-separated compat
  README.md
  docs/architecture/adapters/inbound/cli.md
  docs/project/debugging/52-cli-context-flag-multi-path.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_cli_context_flag.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(windows-startup-latency): add harness fakes for hook-shim state and registry cache
  docs/project/PROJECT.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  tests/harness/setup/hook_shims.py
  tests/harness/setup/model_registry_cache.py
  tests/suites/unit/test_hook_shim_workspace_harness.py
  tests/suites/unit/test_model_registry_cache_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(outbound): replace racy logging.disable toggles with thread-safe counted scope
  docs/project/debugging/52-web-scraper-discard-data-logs.md
  src/teddy_executor/adapters/outbound/suppressed_logging.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_scraper_concurrent_suppression.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): require thread-safe counted suppression for logging scopes
  docs/project/debugging/39-web-scraper-logging-pollution.md
Due: none

debug: probe
  spikes/debug/probe.sh
  spikes/debug/shadow_local_file_system_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(windows-startup-latency): inject persistent-cache dependencies into OpenRouterMetadataHydrator
  docs/project/PROJECT.md
  docs/project/slices/00-20-windows-startup-context-latency.md
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  src/teddy_executor/registries/infrastructure.py
  tests/suites/integration/adapters/outbound/test_llm_wiring.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
