Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

refactor(prototyper): strengthen post-approval documentation and nuance capture
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

fix(session-orchestrator): fix Initial Request spacing, duplicate display, and User Message output
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(tasks): add task brief for system info token visibility in TUI
  docs/project/tasks/00-02-system-info-token-visibility.md
Due: none

docs(debugging): add case file for console visibility bugs and update vertical slice
  docs/project/debugging/02-console-visibility-bugs.md
  docs/project/slices/00-01-console-and-message-visibility.md
  spikes/debug/.gitkeep
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_bug_00_normalize_h1.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(logging): return user message from confirm_and_dispatch for MESSAGE actions
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/core/services/action_executor.py
  tests/suites/unit/core/services/test_action_executor_message_return.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(system-info-token-visibility): update TUI detail pane to derive system_info_tokens and show merged System line
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/architecture/core/domain/project_context.md
  docs/architecture/core/services/context_service.md
  docs/project/slices/00-02-system-info-token-visibility.md
  spikes/prototypes/00-console-and-message-visibility/raw_demo.py
  spikes/prototypes/00-console-and-message-visibility/shadow_session_orchestrator.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/core/domain/models/project_context.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/adapters/inbound/test_context_display_helpers.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_helpers.py
  tests/suites/unit/core/domain/models/test_project_context.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(logging): print user message in TUI execution handler for MESSAGE actions
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(system-info-token-visibility): finalize slice documentation and mark deliverables as completed
  docs/project/slices/00-02-system-info-token-visibility.md
Due: none

docs(system-info-token-visibility): mark verification checklist as completed
  docs/project/slices/00-02-system-info-token-visibility.md
Due: none

fix(logging): add leading blank line before Initial Request and remove trailing blank line from TUI user message output
  docs/project/slices/00-01-console-and-message-visibility.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(prompt-manager, lifecycle): casefold agent name in _find_prompt_file; remove duplicate Initial Request print
  docs/project/debugging/03-prompt-resolution-and-initial-request.md
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): add proposed slice for casefold agent name comparison (debt triage)
  docs/project/PROJECT.md
Due: none

fix(test): add missing SessionState and IRunPlanUseCase imports in bug 03 regression test
  docs/project/debugging/03-prompt-resolution-and-initial-request.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-orchestrator): correct path resolution in _print_initial_request for "Initial Request:" output
  docs/project/debugging/03-prompt-resolution-and-initial-request.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-lifecycle): guard "Initial Request:" print to first turn only
  docs/project/debugging/03-prompt-resolution-and-initial-request.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(test): correct syntax error in regression test for "Initial Request:" print guard
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(test): rewrite failing mock test for first-turn guard
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture

Update gitignore
  .gitignore
Due: none

fix(test): add missing get_session_state return_value to test mock
  .gitignore
  docs/project/debugging/04-test-mock-unpacking.md
  tests/suites/unit/core/services/test_bug_03_prompt_resolution.py
  tests/suites/unit/core/services/test_bug_04_mock_unpacking.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): add technical debt backlog entry for reusable ports fixture
  docs/project/PROJECT.md
Due: none

refactor(prompts): refine agent prompts with validation recovery, debt logging, and spec updates
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

refactor(prompts): rename Rule 9 to Validation Failure Recovery with updated definition
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

refactor(prompts): refine debugger root cause presentation wording
  src/teddy_executor/resources/config/prompts/debugger.xml
Due: none

Refine technical debt
  docs/project/PROJECT.md
Due: none

fix(core): abstract Tee/logging behind IFileSystemManager port to prevent test debris
  .gitignore
  docs/project/debugging/05-test-debris-sessions.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/utils/io.py
  tests/suites/unit/core/utils/test_bug_22_history_log_tee_logging.py
  tests/suites/unit/core/utils/test_bug_24_history_log_ansi_stripping.py
  tests/suites/unit/core/utils/test_io.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(update-checker): add component design doc and vertical slice for update checker feature
  docs/architecture/core/services/update_checker.md
  docs/project/slices/00-02-update-checker.md
Due: none

docs(project): log pre-warming duplication debt for update-checker slice
  docs/project/PROJECT.md
Due: none

revert: remove pre-warming debt entry from PROJECT.md (already planned in slice 00-02)
  docs/project/PROJECT.md
Due: none

Cleanup
  docs/project/slices/00-02-system-info-token-visibility.md
  docs/project/slices/01-01-parser-message-support.md
  docs/project/slices/01-02-orchestrator-message-dispatch.md
  docs/project/slices/01-03-cli-flag-realignment.md
  docs/project/slices/01-04-system-prompt-migration.md
  docs/project/slices/01-05-legacy-deprecation.md
Due: none

fix(python): widen Requires-Python to support >=3.11,<3.15 for Python 3.14 compatibility
  pyproject.toml
Due: none

fix(deps): resolve aiohttp>=3.14.0 vs litellm aiohttp==3.13.5 conflict by updating lock file to litellm 1.89.0
  pyproject.toml
Due: none

ci: update Poetry version to 2.2.1 to match local lock file format
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix(deps): pin litellm <1.83.8 for Python 3.14, remove explicit aiohttp
  poetry.lock
  pyproject.toml
Due: none

chore(release): bump to v0.1.3
  pyproject.toml
Due: none

feat(cli): add --version flag and version subcommand
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(release): bump to v0.1.4
  pyproject.toml
Due: none

chore(prompts): integrate tracer bullet sequence across agent workflows
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

docs(readme): comprehensive rewrite with problem/solution, uv installation, multi-agent workflow, Assistant agent, placeholders
  README.md
Due: none

Refine README
  README.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
