Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(context): add timestamp to context header
  docs/architecture/adapters/outbound/system_environment_inspector.md
  docs/architecture/core/ports/outbound/environment_inspector.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  src/teddy_executor/core/ports/outbound/environment_inspector.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/integration/adapters/outbound/test_system_environment_inspector.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): finalize slice 10-09 and report specs
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  docs/project/specs/report-format.md
Due: none

feat(domain): add is_terminal property to ActionData
  docs/architecture/core/domain_model.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/models/test_models.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement soft isolation for terminal actions
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  docs/project/specs/report-format.md
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_non_interactive_orchestration.py
  tests/suites/acceptance/test_prune_manual_skip.py
  tests/suites/unit/core/services/test_action_executor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): replace input.log with standardized input.md planning artifact
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  docs/project/specs/interactive-session-workflow.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/unit/core/services/test_planning_service.py
  tests/suites/unit/core/services/test_planning_service_logging.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): append plan and report to next turn context
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  docs/project/specs/interactive-session-workflow.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/integration/core/services/test_session_service.py
  tests/suites/unit/core/services/test_orchestrator_isolation.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_validation.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): bridge user_request metadata to ExecutionReport
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/acceptance/test_tui_instruction_bridge.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Mark scenario as done
  docs/project/slices/10-09-advanced-tui-ux-polish.md
Due: none

Add Message Consumption scenario
  docs/project/slices/10-09-advanced-tui-ux-polish.md
Due: none

chore(prompts): enforce isolated terminal actions and centralize dev notes
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

refactor(prompts): enforce DbC prefixes in vertical slice deliverables
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

docs(slice): align 10-09 with new DbC deliverable format
  docs/project/slices/10-09-advanced-tui-ux-polish.md
Due: none

Add user story to vertical slice blueprints
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Add user stories to vertical slice 10-09
  docs/project/slices/10-09-advanced-tui-ux-polish.md
Due: none

Refine user story formatting in blueprints
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

fix(parser): provide node context for unknown action errors
  docs/project/debugging/invalid-action-reporting.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/acceptance/test_all_validation_errors_show_ast.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): add friction logging and investigation tracing instructions
  prompts/debugger.xml
  prompts/developer.xml
Due: none

Update stale test harness links
  docs/architecture/ARCHITECTURE.md
Due: none

Lint developer prompt
  prompts/developer.xml
Due: none

Polish implementation notes formatting
  prompts/developer.xml
Due: none

feat(cli): add --message flag and bridge instructions to execution report
  docs/architecture/core/ports/inbound/run_plan_use_case.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/acceptance/test_instruction_bridge.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine test harness usage
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Update harness docs
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
Due: none

fix(core): resolve SessionOrchestrator TypeError by aligning finalization signatures
  docs/project/debugging/session-finalization-typeerror.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_validation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(harness): add set_mock_editor_output to CliTestAdapter
  tests/harness/drivers/cli_adapter.py
  tests/suites/acceptance/test_tui_instruction_bridge.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(ux): implement unified instruction bridge and tui m binding
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/architecture/core/domain/execution_report.md
  docs/project/debugging/instruction-bridge-regressions.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/harness/drivers/cli_adapter.py
  tests/harness/setup/mocks.py
  tests/harness/setup/real_adapter_mixin.py
  tests/suites/acceptance/test_change_preview_feature.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/acceptance/test_tui_instruction_bridge.py
  tests/suites/acceptance/test_ui_mode_toggling.py
  tests/suites/integration/core/services/test_action_executor_integration.py
  tests/suites/integration/core/services/test_partial_execution_integration.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer.py
  tests/suites/unit/adapters/outbound/test_console_interactor_m_support.py
  tests/suites/unit/core/services/test_action_executor.py
  tests/suites/unit/core/services/test_orchestrator_interaction.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): refine synthesis and status protocol instructions
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(session): implement tiered message resolution and resolve orchestration hangs
  docs/project/debugging/session-orchestration-hangs.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/inbound/planning_use_case.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/utils/markdown.py
  tests/conftest.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
  tests/suites/unit/core/services/test_session_planner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): refine agent accountability loops and predictive expectations
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(core): persist manual plan content to temp file for TUI review
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_orchestrator_persistence.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine state transition protocol and rationale formatting
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(tui): add "v" binding to view full plan
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/acceptance/test_tui_view_plan.py
  tests/suites/unit/core/services/test_parser_path_retention.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement auto-approval for single PROMPT actions
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_prompt_auto_approval.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): require status and exact actions in conditions
  docs/project/milestones/10-interactive-session-and-config.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(domain): add modified flag to ActionLog and report template
  docs/architecture/core/domain/execution_report.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_report_modified_actions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(harness): update TuiDriver for modal editing simulations
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

Fix acceptance test and wiring
  src/teddy_executor/core/services/action_dispatcher.py
  tests/suites/acceptance/test_context_aware_editing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): unify status headers and mandate approval gates
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
Due: none

feat(tui): implement multi-stage CREATE workflow with path and confirmation modals
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-advanced-tui-ux-polish.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
