Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

feat(planning): preserve user_request on replan turns
  docs/project/slices/00-07-validation-error-meta-user-request.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session): wire integration tests for validation replan user_request preservation
  docs/project/slices/00-07-validation-error-meta-user-request.md
  tests/suites/integration/core/services/test_session_orchestrator_validation.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): create vertical slice for minimizing metadata footprint
  docs/project/slices/00-08-minimize-metadata-footprint.md
Due: none

Cleanup & renaming
  docs/project/slices/00-04-chronological-session-history.md
  docs/project/slices/00-04-minimize-metadata-footprint.md
  docs/project/slices/00-07-validation-error-meta-user-request.md
Due: none

archive milestone 10
  docs/project/milestones/10-interactive-session-and-config.md
Due: none

archive ad hoc slices
  docs/project/slices/00-04-minimize-metadata-footprint.md
  docs/project/slices/00-05-eradicate-mock-poisoning.md
  docs/project/slices/00-06-semantic-test-boundaries.md
Due: none

docs(project): refine PROJECT.md blueprint and numbering standards
  docs/project/PROJECT.md
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Clean up spikes
  spikes/prototypes/00-04-session-history-prototype.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(prompts): refine showcase deliverable and debugger MRE workflow
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

ci(publish): rename package to teddy-cli and add OIDC publish workflow
  .github/workflows/publish.yml
  poetry.lock
  pyproject.toml
Due: none

docs(config): document openrouter routing fix and logic repair
  docs/project/debugging/02-openrouter-deepseek-routing-error.md
  docs/project/slices/02-fix-config-routing-logic.md
Due: none

feat(config): resolve split-brain routing via proactive shim and null-pruning
  docs/project/slices/02-fix-config-routing-logic.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  tests/suites/unit/adapters/outbound/test_yaml_config_split_brain.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update doc
  docs/project/slices/02-fix-config-routing-logic.md
Due: none

feat(config): update baseline model to DeepSeek V4 Flash and remove sticky provider
  docs/project/slices/02-fix-config-routing-logic.md
  src/teddy_executor/resources/config/config.yaml
Due: none

refactor(config): remove proactive shim and delete legacy split-brain test
  docs/project/slices/02-fix-config-routing-logic.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  tests/suites/unit/adapters/outbound/test_yaml_config_split_brain.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(config): remove legacy dynamic shim fallback from YamlConfigAdapter
  docs/project/slices/02-fix-config-routing-logic.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(config): migrate all tests to strict hierarchical configuration keys
  docs/project/slices/02-fix-config-routing-logic.md
  tests/suites/acceptance/test_edit_multi_block_transparency.py
  tests/suites/acceptance/test_edit_ux_polish.py
  tests/suites/integration/core/services/test_resilient_edit_matching_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

Resilient OpenRouter Metadata Hydration slice
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

feat(adapter): define IOpenRouterHydrator protocol
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(harness): add openrouter_mock fixture for models api
  docs/project/slices/03-resilient-openrouter-metadata.md
  tests/conftest.py
  tests/harness/setup/composition.py
  tests/harness/setup/openrouter_mock_data.py
  tests/suites/unit/adapters/outbound/test_openrouter_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(llm): implement OpenRouterMetadataHydrator with suffix stripping
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(adapters): implement OpenRouter hydration retry in LiteLLMAdapter
  .secrets.baseline
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): ensure context window returns 0 sentinel for unknown models
  docs/project/slices/03-resilient-openrouter-metadata.md
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

Slight rewording
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(llm): wire OpenRouter hydrator into LiteLLM adapter via DI
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/registries/infrastructure.py
  tests/suites/integration/adapters/outbound/test_llm_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(ui): display ??? sentinel for unknown context window and cost
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/adapters/inbound/test_context_display_helpers.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): implement resilient OpenRouter metadata hydration and showcase
  docs/project/slices/03-resilient-openrouter-metadata.md
  spikes/showcases/03-openrouter-resilience.py
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update doc
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

update docs
  docs/project/debugging/03-openrouter-metadata-failure.md
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

feat(llm): parse resolved model ID from NotFoundError messages for hydration
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): silence litellm logging to suppress botocore warnings
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): move remote preflight check to planning service
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): add 2s timeout to remote connectivity checks
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(llm): consolidate lazy imports and finalize resilient hydration
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

update docs
  docs/project/debugging/04-openrouter-timeout-startup-lag.md
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

feat(llm): increase remote connectivity timeout to 10s
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(cli): move config check message to bootstrap for instant feedback
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(llm): implement ultra-lazy validation in LiteLLMAdapter
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_laziness.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(infrastructure): implement lazy imports for pathspec and pyperclip
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/adapters/outbound/local_repo_tree_generator.md
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
  tests/suites/acceptance/test_generalized_clipboard_output.py
  tests/suites/unit/test_startup_laziness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): append bugfixes for hydration cache miss and UI scope creep to slice 03
  docs/project/debugging/05-openrouter-hydration-failure-ui-regression.md
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
