Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

chore(prompts): Refine Debugger workflow and sync MRE blueprints
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(prototyper): refine user feedback escalation logic
  prompts/prototyper.xml
Due: none

feat(prototyper): enable creation of draft vertical slices
  prompts/prototyper.xml
Due: none

refactor(workflow): streamline Vertical Slice and documentation lifecycle
  prompts/architect.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(prompts): refine debugger prompt for proactive refactoring
  prompts/debugger.xml
Due: none

fix(tui): resolve quality gates, security and file length
  docs/project/debugging/tui-ux-regressions.md
  poetry.lock
  pyproject.toml
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_confirmations.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
  tests/suites/unit/adapters/inbound/test_tui_ux_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(quality): trim whitespace in file-length-python message
  .pre-commit-config.yaml
Due: none

fix(tests): resolve systemic stderr capture regression in harness
  docs/project/debugging/cli-harness-regression.md
  tests/harness/drivers/cli_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(tui): implement hierarchical tree, optimize performance, and resolve selection crash regressions
  docs/project/debugging/tui-polish-regressions.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/10-09-tui-polish-performance.md
  prototypes/tui_performance_check.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_context_aware_editing.py
  tests/suites/acceptance/test_tui_dual_pane_layout.py
  tests/suites/acceptance/test_tui_edit_workflow.py
  tests/suites/acceptance/test_tui_save_as_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_prune.py
  tests/suites/unit/adapters/inbound/test_reviewer_widgets.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prototyper): consolidate alignment gates and divergent spiking
  prompts/prototyper.xml
Due: none

chore(prompts): update pathfinder role to technical product manager
  prompts/pathfinder.xml
Due: none

docs(prompts): polish MRE numbering and dashboard formatting
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Refine prototyper agent
  prompts/prototyper.xml
Due: none

refactor(prototyper): enforce SUT teardown and isolated sandbox workflow
  prompts/prototyper.xml
Due: none

refactor(prompts): standardize Case File terminology and slice prefixes
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(prompts): remove global test constraints for prototyper
  prompts/prototyper.xml
Due: none

feat(tui): finalize and document TUI polish implementation plan
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-06-tui-polish-rationale-details.md
  prototypes/tui_polish_spike.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): support numeric rationale and refactor logic
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-06-tui-polish-rationale-details.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/harness/drivers/plan_builder.py
  tests/suites/acceptance/test_tui_rationale_parsing.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_logic.py
  tests/suites/unit/test_plan_builder.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine auto skip message for isolation
  prototypes/isolation_logic.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/acceptance/test_terminal_action_isolation.py
  tests/suites/unit/core/services/test_action_executor.py
  tests/suites/unit/core/services/test_terminal_action_deselection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine agent guardrails and prototyper workflow
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(tui): initialize right panel with rationale root metadata and fix test race
  docs/project/slices/00-06-tui-polish-rationale-details.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompt): streamline developer workflow to enforce atomic commits
  prompts/developer.xml
Due: none

Refine failed action skipped message
  docs/project/specs/report-format.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(architecture): document anyio usage instead of pytest-asyncio
  docs/architecture/ARCHITECTURE.md
Due: none

fix(tui): resolve race condition in detail view update
  docs/project/debugging/06-tui-regression-test-failure.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Change backticks to single quote to fix markdown rendering
  docs/project/specs/report-format.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement format_action_log helper for structured log viewing
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-06-tui-polish-rationale-details.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement structured markdown action log viewing with skip-confirm
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-06-tui-polish-rationale-details.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(tui): finalize as-built fencing details
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
Due: none

docs(architecture): document standard mocking convention
  docs/architecture/ARCHITECTURE.md
Due: none

refactor(prompts): standardize and synchronize phase names across all agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

feat(tui): prototype section navigation with macOS fallbacks
  docs/project/slices/10-10-tui-section-navigation.md
  prototypes/tui_section_nav_spike.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): add section navigation and resolve quality gates
  docs/project/slices/10-10-tui-section-navigation.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  tests/suites/acceptance/test_tui_section_navigation.py
  tests/suites/acceptance/test_tui_view_plan.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
  tests/suites/unit/adapters/inbound/test_section_navigation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): suspend app during execution to prevent terminal corruption
  docs/project/debugging/07-terminal-state-corruption-timeout.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_tui_regressions.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(tests): optimize TUI tests by replacing character typing with direct input assignment
  docs/architecture/ARCHITECTURE.md
  docs/project/debugging/08-slow-test-suite-optimization.md
  tests/harness/drivers/tui_driver.py
  tests/suites/acceptance/test_tui_save_as_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_create_workflow.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_modifications.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(edit): finalize plan for relative indentation matching and 1.0 threshold
  docs/project/slices/00-11-edit-indentation-refinement.md
Due: none

feat(edit): include validated prototype for relative indentation matching
  docs/project/slices/00-07-edit-indentation-refinement.md
  prototypes/edit_indentation_spike.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement indentation-agnostic EDIT matching and strict 1.0 threshold
  config/config.yaml
  docs/project/slices/00-07-edit-indentation-refinement.md
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/suites/acceptance/test_similarity_threshold_config.py
  tests/suites/integration/core/services/test_resilient_edit_matching_integration.py
  tests/suites/unit/core/services/test_edit_matcher_indentation.py
  tests/suites/unit/core/services/test_edit_matcher_indifference.py
  tests/suites/unit/core/services/test_edit_matcher_resilience.py
  tests/suites/unit/core/services/test_edit_matcher_whitespace.py
  tests/suites/unit/core/services/test_edit_simulator_indentation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ci): resolve windows worker crashes by isolating trafilatura and hardening session loops
  docs/architecture/ARCHITECTURE.md
  docs/project/debugging/09-windows-ci-worker-crashes.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/conftest.py
  tests/suites/integration/adapters/outbound/test_web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(scraping): add de-risked github conversation scraper plan and prototype
  docs/architecture/adapters/outbound/web_scraper_adapter.md
  docs/project/slices/10-11-github-issue-comment-scraping.md
  prototypes/github_issue_scraper_spike.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
