Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

chore(prompts): refine debugger logic and global protocol standards
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

fix(research): clean snippet spacing and improve report clarity
  docs/project/debugging/03-research-spacing-and-hint.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/suites/integration/core/services/test_report_formats_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(research): resolve upstream word mashing and polish report hint
  docs/project/debugging/04-research-spacing-and-hint-polish.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/integration/core/services/test_report_formats_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine Version Control Protocol
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

Polish VCP
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

fix(research): structural fix for word mashing and report hint polish
  docs/project/debugging/04-research-spacing-and-hint-polish.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

VCP polish
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

refactor(prompts): move prompts to resources and improve override discovery
  src/teddy_executor/prompts.py
  src/teddy_executor/resources/prompts/__init__.py
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
  tests/suites/acceptance/test_cli_ux_improvements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slices): add session config preflight check slice
  docs/project/slices/00-02-session-config-preflight.md
Due: none

feat(core): add get_config_path to IConfigService contract
  docs/project/slices/00-02-session-config-preflight.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/core/ports/outbound/config_service.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): mark get_config_path logic as complete
  docs/project/slices/00-02-session-config-preflight.md
Due: none

feat(core): add validate_config contract to ILlmClient
  docs/project/slices/00-02-session-config-preflight.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  tests/suites/unit/core/ports/outbound/test_llm_client_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): update preflight deliverables and cleanup notes
  docs/project/slices/00-02-session-config-preflight.md
Due: none

feat(adapter): implement validate_config in LiteLLMAdapter
  docs/project/slices/00-02-session-config-preflight.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): integrate LLM configuration preflight gate in PlanningService
  docs/architecture/core/services/planning_service.md
  docs/project/slices/00-02-session-config-preflight.md
  src/teddy_executor/core/domain/models/exceptions.py
  src/teddy_executor/core/services/planning_service.py
  tests/harness/setup/test_environment.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/integration/core/services/test_session_validation_integration.py
  tests/suites/unit/core/services/test_planning_service_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): update preflight deliverables for CLI entry and adapter fix
  docs/project/slices/00-02-session-config-preflight.md
Due: none

fix(di): change ILlmClient to transient scope to fix test leaks
  docs/project/debugging/05-ci-preflight-failure.md
  docs/project/milestones/10-interactive-session-and-config.md
  src/teddy_executor/registries/infrastructure.py
  tests/suites/integration/core/services/test_session_orchestrator_validation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): satisfy provider env-var checks if llm.api_key is in config
  docs/project/slices/00-02-session-config-preflight.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): add preflight config validation to CLI handlers
  docs/project/slices/00-02-session-config-preflight.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/harness/setup/test_environment.py
  tests/suites/integration/core/services/test_session_resume.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(config): improve preflight UX with early validity checks and clean error reporting
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine strategic terminology and commit phases
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(slices): add session telemetry ux enhancement slice
  docs/project/slices/00-03-session-telemetry-ux.md
Due: none

feat(telemetry): de-risk pre-response session telemetry
  docs/architecture/core/ports/outbound/llm_client.md
  docs/architecture/core/services/planning_service.md
  docs/project/slices/00-03-session-telemetry-ux.md
  prototypes/00-03/showcase.sh
  prototypes/00-03/telemetry_prototype.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): re-partition telemetry deliverables for non-breaking sequence
  docs/project/slices/00-03-session-telemetry-ux.md
Due: none

feat(core): add get_context_window to ILlmClient contract
  docs/project/slices/00-03-session-telemetry-ux.md
  src/teddy_executor/core/ports/outbound/llm_client.py
  tests/suites/unit/core/ports/outbound/test_llm_client_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(harness): provide default context window for MockLlmClient
  docs/project/slices/00-03-session-telemetry-ux.md
  tests/harness/setup/mocks.py
  tests/suites/unit/test_llm_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(llm): implement context window retrieval and pre-response telemetry
  docs/project/slices/00-03-session-telemetry-ux.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
  tests/suites/unit/core/ports/outbound/test_llm_client_contract.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement pre-response telemetry in PlanningService
  docs/project/slices/00-03-session-telemetry-ux.md
Due: none

refactor(session): migrate telemetry display to planning service
  docs/project/slices/00-03-session-telemetry-ux.md
  src/teddy_executor/core/services/session_planner.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/unit/core/services/test_session_planner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): verify end-to-end telemetry wiring
  docs/architecture/core/services/planning_service.md
  docs/project/slices/00-03-session-telemetry-ux.md
  tests/suites/acceptance/test_ai_telemetry.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(cli): add configuration check status message during session init
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(planning): scaffold architectural spec for context management ui
  docs/project/PROJECT.md
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

docs(architecture): design Context Management UI and Auto-Pruning slice
  docs/architecture/core/domain/project_context.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
Due: none

feat(tui): isolate prototype extensions and resolve hard quality gates
  docs/architecture/core/domain/project_context.md
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  prototypes/00-04/context_logic_prototype.py
  prototypes/00-04/showcase.sh
  prototypes/00-04/showcase_integrated.sh
  prototypes/00-04/token_counting_prototype.py
  prototypes/00-04/tui_prototype.py
  prototypes/00-04/ui_extensions.py
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/registries/reviewer.py
  tests/harness/setup/mocks.py
  tests/suites/integration/core/services/test_partial_execution_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): resolve syntax error and mock-triggered early returns in plan reviewer
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): enforce zero-touch external runner paradigm for prototyper
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Revert "fix(core): resolve syntax error and mock-triggered early returns in plan reviewer"
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(tui): isolate prototype extensions and resolve hard quality gates"
  docs/architecture/core/domain/project_context.md
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  prototypes/00-04/context_logic_prototype.py
  prototypes/00-04/showcase.sh
  prototypes/00-04/showcase_integrated.sh
  prototypes/00-04/token_counting_prototype.py
  prototypes/00-04/tui_prototype.py
  prototypes/00-04/ui_extensions.py
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/registries/reviewer.py
  tests/harness/setup/mocks.py
  tests/suites/integration/core/services/test_partial_execution_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update vertical slice
  docs/project/slices/00-04-context-management-ui.md
Due: none

feat(tui): finalize context management UI plan and prototype
  docs/architecture/core/domain/project_context.md
  docs/project/slices/00-04-context-management-ui.md
  prototypes/00-04/runner.py
  prototypes/00-04/showcase.sh
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
