Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

fix(session): run context pruning on the primary session path
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_pruning_service.md
  docs/project/PROJECT.md
  docs/project/debugging/59-context-pruning-threshold.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_primary_path_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(deprecate-console-mode): add acceptance gate for console-mode deprecation
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/project/slices/00-22-deprecate-console-mode.md
  tests/suites/acceptance/test_console_mode_deprecation.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(deprecate-console-mode): mark console-mode deprecation slice completed
  docs/project/slices/00-22-deprecate-console-mode.md
Due: none

docs: present comma-separated -c as alternative and document resume -m interrupt workflow
  README.md
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): interrupt in-flight action on q and persist the quit-key reader
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/project/slices/00-23-quit-key-in-flight-interrupt.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/adapters/outbound/terminal_quit_key_listener.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/domain/models/shell_output.py
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/execution_report_assembler.py
  src/teddy_executor/core/utils/interrupt_guard.py
  src/teddy_executor/registries/infrastructure.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/inbound/test_pipeline_wiring.py
  tests/suites/unit/adapters/inbound/test_resume_message_threading.py
  tests/suites/unit/adapters/inbound/test_reviewer_stdin_ownership.py
  tests/suites/unit/adapters/inbound/test_session_loop_interrupt_exit.py
  tests/suites/unit/adapters/inbound/test_session_loop_interrupt_wiring.py
  tests/suites/unit/adapters/inbound/test_session_loop_quit_listener_wiring.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_interrupt.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
  tests/suites/unit/adapters/outbound/test_terminal_quit_key_listener_reader.py
  tests/suites/unit/core/services/test_action_dispatcher_interrupted_status.py
  tests/suites/unit/core/services/test_execution_orchestrator_interrupt_drain.py
  tests/suites/unit/core/services/test_execution_report_assembler_interrupted.py
  tests/suites/unit/core/services/test_interrupt_guard_seam.py
  tests/suites/unit/core/utils/test_interrupt_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(adapters): re-check stdin ownership before consuming a byte in the quit-key reader
  docs/project/debugging/60-cpr-response-escape-leak.md
  src/teddy_executor/adapters/outbound/terminal_quit_key_listener.py
  tests/suites/unit/adapters/outbound/test_terminal_quit_key_listener_ownership_backoff.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): record resume -m pending-plan root cause and slice handoff
  docs/project/PROJECT.md
  docs/project/debugging/60-resume-m-pending-plan-tui.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
Due: none

Rename vertical slices
  docs/project/slices/03-02-templates-and-init.md
  docs/project/slices/03-03-mrp-base-prompt.md
Due: none

fix(session-interrupt-resume-message): honor resume -m reply on non-communication PENDING_PLAN turn
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_pending_plan_communication_resume.py
  tests/suites/unit/core/services/test_session_lifecycle_pending_plan_non_communication_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(cost-calculation-accuracy): add vertical slice
  docs/project/slices/00-24-cost-calculation-accuracy.md
Due: none

test(cost-calculation-accuracy): pin cache-pricing keys in OpenRouter mock catalog
  docs/project/slices/00-24-cost-calculation-accuracy.md
  tests/harness/setup/openrouter_mock_data.py
  tests/suites/unit/adapters/outbound/test_openrouter_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

test(session-interrupt-resume-message): add acceptance gate for resume -m -y on non-communication PENDING_PLAN turn
  docs/project/slices/00-21-session-interrupt-resume-message.md
  tests/suites/acceptance/test_pipeline_message_and_resume_flow.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(editor): resolve Slice 03-01 technical key unknowns via spike
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  docs/project/specs/editor-validation-and-discovery.md
  spikes/prototypes/editor-validation-and-discovery/README.md
  spikes/prototypes/editor-validation-and-discovery/set_setting_shadow.py
  spikes/prototypes/editor-validation-and-discovery/spike.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(cost-calculation-accuracy): broadcast cache-pricing rates from the OpenRouter hydrator
  docs/project/slices/00-24-cost-calculation-accuracy.md
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
  tests/suites/unit/adapters/outbound/test_openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cost-calculation-accuracy): log tiered cost-computation failures in the LiteLLM adapter
  docs/project/PROJECT.md
  docs/project/slices/00-24-cost-calculation-accuracy.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_telemetry.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session-interrupt-resume-message): parse pending plan at most once on resume
  docs/architecture/core/services/session_orchestrator.md
  docs/project/PROJECT.md
  docs/project/slices/00-21-session-interrupt-resume-message.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_pending_plan_communication_resume.py
  tests/suites/unit/core/services/test_session_lifecycle_pending_plan_non_communication_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cost-calculation-accuracy): accumulate retry-attempt costs in the planning loop
  docs/project/PROJECT.md
  docs/project/slices/00-24-cost-calculation-accuracy.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service_logging.py
  tests/suites/unit/core/services/test_planning_service_retries.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(cost-calculation-accuracy): gate end-to-end retry-cost accrual at the CLI boundary
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/core/services/planning_service.md
  docs/project/slices/00-24-cost-calculation-accuracy.md
  tests/suites/acceptance/test_ai_telemetry.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(cost-calculation-accuracy): mark verification complete and close the slice
  docs/project/slices/00-24-cost-calculation-accuracy.md
Due: none

docs(editor): de-risk console editor-selection UI for Slice 03-01
  docs/architecture/adapters/inbound/cli.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  docs/project/specs/editor-validation-and-discovery.md
  spikes/prototypes/editor-validation-and-discovery/README.md
  spikes/prototypes/editor-validation-and-discovery/editors_demo.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(editor): add set_setting to IConfigService and YamlConfigAdapter
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/core/ports/outbound/config_service.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): default editor to empty string with diff_flags option
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(editor): re-partition superseded harness deliverables
  docs/project/slices/03-01-editor-validation-and-discovery.md
Due: none

feat(editor): add KNOWN_EDITORS curated discovery list
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): add discover_editors PATH scanning method
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): add disabled sentinel to find_editor
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ci): guard POSIX-only os.killpg patch and add poka-yoke test check
  .githooks/check_posix_only_patches.py
  .pre-commit-config.yaml
  docs/project/PROJECT.md
  docs/project/debugging/61-ci-windows-shell-adapter-interrupt.md
  tests/suites/unit/adapters/outbound/test_shell_adapter_interrupt.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_interrupt_portability.py
  tests/suites/unit/test_githooks_posix_only_patches.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): extend diff flags table with JetBrains editors
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): remove addressed technical-debt entries
  docs/project/PROJECT.md
Due: none

feat(editor): add unknown-editor fallback to diff viewer command
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): add diff_flags config override to diff viewer command
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_console_tooling_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(editor): re-sequence editor validation flow deliverables
  docs/project/slices/03-01-editor-validation-and-discovery.md
Due: none

feat(editor): add editor discovery prompting helpers
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor): add editor validation preflight orchestrator
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(editor): re-partition slice to merge preflight gate and prepend editor-safe harness
  docs/project/slices/03-01-editor-validation-and-discovery.md
Due: none

test(editor-validation-and-discovery): make harness config mock editor-safe
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness_config_mock.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(editor-validation-and-discovery): wire interactive editor gate into preflight
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(harness): reset leaked pyfakefs use_original flag between tests
  docs/project/debugging/62-ci-ubuntu-failure.md
  tests/conftest.py
  tests/suites/unit/test_harness_pyfakefs_state_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(editor-validation-and-discovery): route unknown TUI editors to annotated diff path
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  tests/suites/unit/adapters/inbound/test_tui_editor_suspend_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor-validation-and-discovery): log disabled-editor notice when no editor is found
  docs/project/PROJECT.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
