Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

Refine README
  README.md
  assets/workflow-schematic.png
Due: none

docs(README): add system prompt copy step to browser chat usage
  README.md
Due: none

docs(slice): mark completed --version deliverables and add README documentation deliverable
  docs/project/slices/00-02-update-checker.md
Due: none

fix(parser): preserve double underscores in plain-text path extraction (bug 06)
  docs/project/debugging/06-filepath-parsing-double-underscore.md
  src/teddy_executor/core/services/parser_metadata.py
  tests/suites/unit/core/services/test_bug_06_filepath_underscore.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

debug: probe init in pip-installed environment
  spikes/debug/remote_probe.sh
Due: none

debug: fix remote probe - install with deps, improve diagnostic dumps
  spikes/debug/remote_probe.sh
Due: none

feat(update-checker): prototype and document update checker feature
  docs/architecture/core/services/update_checker.md
  docs/project/slices/00-02-update-checker.md
  docs/project/specs/update-checker.md
  spikes/prototypes/update-checker/__init__.py
  spikes/prototypes/update-checker/probe_baseline.py
  spikes/prototypes/update-checker/probe_prototype.py
  spikes/prototypes/update-checker/shadow_cli_helpers.py
  spikes/prototypes/update-checker/shadow_update_checker.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(update-checker): extract prewarm_imports() contract to cli_helpers.py
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(update-checker): verify packaging as transitive dependency for version comparison
  docs/project/slices/00-02-update-checker.md
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(update-checker): add FakeHTTPResponse test helper for PyPI response simulation
  docs/project/slices/00-02-update-checker.md
  tests/harness/setup/fake_http_response.py
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
  tests/suites/unit/test_fake_http_response.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(update-checker): add temp_cache_dir fixture for isolated cache directory tests
  docs/project/slices/00-02-update-checker.md
  tests/conftest.py
  tests/harness/setup/composition.py
  tests/suites/unit/test_cache_fixture.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(update-checker): implement update_checker.py with 8 core functions and 32 unit tests
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/core/services/update_checker.py
  tests/suites/unit/core/services/test_update_checker.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(update-checker): update init command to use prewarm_imports() from cli_helpers
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/__main__.py
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(update-checker): add update command with --yes and --experimental options
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_update_checker_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update-checker): add None-guard to should_update and fix acceptance test assertion
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/core/services/update_checker.py
  tests/suites/acceptance/test_update_checker_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(update-checker): add auto_update config key to config.yaml baseline
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/resources/config/config.yaml
Due: none

fix(main): use CWD for init command instead of parent project root
  docs/project/PROJECT.md
  docs/project/debugging/05-teddy-init-folder-not-created.md
  spikes/debug/remote_probe.sh
  src/teddy_executor/__main__.py
  tests/suites/unit/test_bug_05_init_cwd_vs_project_root.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): update monkeypatch lambda for _ensure_project_initialized root_dir param
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(update-checker): add background version check thread to session handlers
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(update-checker): read auto_update config in update command via IConfigService
  docs/project/slices/00-02-update-checker.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_auto_update_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(update-checker): add acceptance test for teddy --version and version subcommand
  docs/project/slices/00-02-update-checker.md
  tests/suites/acceptance/test_version_display.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(update-checker): fix background check unit tests and install post-commit hook
  docs/project/slices/00-02-update-checker.md
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(update-checker): add update command to README and log detect-secrets debt
  README.md
  docs/project/PROJECT.md
  docs/project/slices/00-02-update-checker.md
Due: none

fix(ci): bump patch version before .dev suffix for PEP 440 compliance
  .github/workflows/publish.yml
Due: none

Update gitignore
  .gitignore
Due: none

docs: update README install command to `uv tool install` and log upgrade-path debt
  README.md
  docs/project/PROJECT.md
Due: none

fix(dependencies): add explicit tld>=0.10 dependency to prevent import shadowing conflict
  docs/project/debugging/03-web-scraper-tld-import.md
  poetry.lock
  pyproject.toml
  tests/suites/integration/adapters/outbound/test_bug_03_tld_regression.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(core/services): use certifi SSL context and detect uv install method in update checker
  docs/project/PROJECT.md
  docs/project/debugging/07-update-network-error.md
  src/teddy_executor/core/services/update_checker.py
  tests/suites/unit/core/services/test_bug_07_update_network_error.py
  tests/suites/unit/core/services/test_update_checker.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(deps): tighten tld constraint to <1.0 to prevent rogue package shadowing
  docs/project/debugging/03-web-scraper-tld-import.md
  pyproject.toml
Due: none

revert(version): restore v0.1.4, undo manual bump to 0.1.5.dev638
  pyproject.toml
Due: none

Update poetry lock
  poetry.lock
Due: none

fix(update-checker): always show stable version update for prerelease users
  docs/project/debugging/08-update-checker-latest-version.md
  src/teddy_executor/__main__.py
  src/teddy_executor/core/services/update_checker.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update): replace should_update(None) guard with direct config check
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update): wire perform_upgrade in update command success branch
  docs/project/debugging/08-update-checker-latest-version.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(hooks): enforce post-commit gate via pre-commit framework and VCP guard
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  scripts/install-hooks.sh
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(hooks): simplify VCP to auto-install hooks via pre-commit install
  .githooks/post-commit
  docs/architecture/ARCHITECTURE.md
  scripts/install-hooks.sh
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

fix(update): wire perform_upgrade and replace should_update(None) guard
  docs/project/PROJECT.md
  docs/project/debugging/08-update-version-mismatch.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(update): pass stable_only flag and handle dev->stable downgrade
  docs/project/debugging/09-experimental-network-error-dev-update.md
  src/teddy_executor/__main__.py
  src/teddy_executor/core/services/update_checker.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(update): simplify to notification-only update
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_auto_update_wiring.py
  tests/suites/acceptance/test_experimental_and_dev_update.py
  tests/suites/acceptance/test_experimental_wiring.py
  tests/suites/acceptance/test_update_checker_wiring.py
  tests/suites/acceptance/test_update_command_actually_upgrades.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
