Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

Revert "docs(milestone): add pending plan model override gap to Milestone 2 requirements"
  docs/project/milestones/02-stability-and-polish.md
Due: none

fix(utils): update truncation hints to reference Tail and Lines parameters
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_capping.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tests): add session-scoped git status cleanliness fixture
  docs/architecture/ARCHITECTURE.md
  tests/conftest.py
Due: ruff-lint, ruff-format, mypy, vulture

minor change
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Prompt Source Relocation Task
  docs/project/tasks/26-prompt-source-relocation.md
Due: none

docs(slice): add vertical slice for prompt source relocation
  docs/project/slices/00-26-prompt-source-relocation.md
Due: none

refactor(prompts): relocate bundled prompt files to resources/config/prompts
  docs/project/slices/00-26-prompt-source-relocation.md
  src/teddy_executor/prompts.py
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
  src/teddy_executor/resources/prompts/__init__.py
  tests/suites/unit/test_prompt_resource_relocation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(init): extract prompt copy logic to reduce complexity
  docs/project/slices/00-26-prompt-source-relocation.md
  src/teddy_executor/core/services/init_service.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(session): read prompts from .teddy/prompts/ instead of bundled resources
  docs/project/slices/00-26-prompt-source-relocation.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session): update integration test to provide .teddy/prompts/ prompt for new resolution chain
  docs/project/slices/00-26-prompt-source-relocation.md
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/prompts.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/unit/core/services/test_prompt_manager.py
  tests/suites/unit/test_prompts.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): update acceptance test helpers to create .teddy/prompts/ instead of root prompts/
  docs/project/slices/00-26-prompt-source-relocation.md
  tests/suites/acceptance/helpers.py
  tests/suites/acceptance/test_streamlined_init.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): complete Step 5 Wiring documentation and mark slice as Completed
  docs/project/slices/00-26-prompt-source-relocation.md
Due: none

feat(spec): add prompt update notification to teddy update spec
  docs/project/specs/update-checker.md
Due: none

feat(cli): improve agent validation error messages with available agents list
  docs/project/tasks/improve-agent-validation-error-messages.md
Due: none

docs(slice): add vertical slice for improving agent validation errors
  docs/project/slices/00-07-improve-agent-validation-errors.md
Due: none

docs(slice): merge Contract and Logic deliverables into single atomic unit after systemic regression discovery
  docs/project/slices/00-07-improve-agent-validation-errors.md
Due: none

feat(agent-validation-errors): add get_available_agents() to IPromptManager and implement in PromptManager
  docs/project/slices/00-07-improve-agent-validation-errors.md
  src/teddy_executor/core/ports/outbound/prompt_manager.py
  src/teddy_executor/core/services/prompt_manager.py
  tests/suites/unit/core/services/test_prompt_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(agent-validation-errors): update preflight check to call get_available_agents() and differentiate ValueError vs ConfigurationError
  docs/project/slices/00-07-improve-agent-validation-errors.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): reorder Vertical Slice blueprint sections and add debugger to Implementation Plan phrasing
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

feat(agent-validation-errors): update session_service.py create_session() to include available agents in ValueError
  docs/project/slices/00-07-improve-agent-validation-errors.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(agent-validation-errors): update get-prompt command to list available prompts on error
  docs/project/slices/00-07-improve-agent-validation-errors.md
  src/teddy_executor/__main__.py
  src/teddy_executor/prompts.py
  tests/suites/acceptance/test_cli_ux_improvements.py
  tests/suites/unit/test_prompts.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(agent-validation-errors): complete slice 00-07 with verification and status update
  docs/project/slices/00-07-improve-agent-validation-errors.md
Due: none

Track prompt init file
  src/teddy_executor/resources/config/prompts/__init__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(developer): restructure delivery phase with atomic delivery before verification
  src/teddy_executor/resources/config/prompts/developer.xml
Due: none

chore(task): remove unused config/prompts/__init__.py
  src/teddy_executor/resources/config/prompts/__init__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Add MRP to execution report validation failure message
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_reporting.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/debugger.xml
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

fix(parser): normalize missing space after # in H1 heading
  docs/project/debugging/00-autofix-title-no-space.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/unit/core/services/test_bug_00_normalize_h1.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(parser): use multiline regex for preamble stripping to handle leading whitespace before heading
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/unit/core/services/test_bug_00_normalize_h1.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(parser): finalize file write-back and preamble stripping for corrected plan content
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): finalize case file with complete solution for heading normalization, preamble stripping, and file write-back
  docs/project/debugging/00-autofix-title-no-space.md
Due: none

fix(handlers): unify "API key valid!" message format between start and resume
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(prompts): replace all remaining scenario runner references in example section
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

docs(update-checker): add --version flag specification
  docs/project/specs/update-checker.md
Due: none

docs(update-checker): fix package name and add --experimental flag spec
  docs/project/specs/update-checker.md
Due: none

feat(prompts,parser): support any file extension for agent prompts and update MRP expected structure
  src/teddy_executor/core/services/parser_reporting.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/prompts.py
  tests/suites/unit/core/services/test_prompt_manager.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_dynamic_agent_naming.py
  tests/suites/unit/core/services/test_session_service_prompt_contract.py
  tests/suites/unit/core/services/test_session_service_pruning.py
  tests/suites/unit/test_prompts.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(observability): consolidate console and message visibility plan
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/00-01-console-and-message-visibility.md
  docs/project/tasks/console-and-message-visibility.md
  spikes/prototypes/00-console-visibility.py
Due: ruff-lint, ruff-format, mypy, vulture

Revert "feat(observability): consolidate console and message visibility plan"
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/00-01-console-and-message-visibility.md
  docs/project/tasks/console-and-message-visibility.md
  spikes/prototypes/00-console-visibility.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine protyper prompt
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none
