Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

fix(session-behaviour): scaffold docs/templates only on explicit teddy init templates
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/core/services/init_service.py
  tests/suites/acceptance/test_templates_auto_init.py
  tests/suites/unit/adapters/inbound/test_cli_init_command_isolation.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine oauth specs
  docs/project/specs/features/openrouter-monetization-oauth.md
  docs/project/specs/features/openrouter-oauth-onboarding.md
Due: none

refactor(session-behaviour): persist and reuse the composed system prompt
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_prompt_manager.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

remove oauth spec
  docs/project/specs/features/openrouter-oauth-onboarding.md
Due: none

feat(session-behaviour): canonicalise agent casing in banner and meta persistence
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/adapters/inbound/test_bug_16_model_override_message.py
  tests/suites/unit/adapters/inbound/test_echo_config_success_agent_casing.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_agent_casing.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-behaviour): add independent notification toggle keys to bundled config
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/test_bundled_config_notification_toggles.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session-behaviour): add prompt/template drift detection helper
  docs/project/PROJECT.md
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/core/domain/models/drift_report.py
  src/teddy_executor/core/ports/inbound/init.py
  src/teddy_executor/core/services/init_service.py
  tests/suites/unit/core/services/test_init_service_drift.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-behaviour): emit gated drift and update notifications
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_preflight_drift_notification.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_notification_toggles.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(session-behaviour): add drift-check and notification-toggle regression tests
  docs/project/slices/00-32-session-behaviour-refinements.md
  tests/suites/acceptance/test_preflight_drift_notification.py
  tests/suites/unit/adapters/inbound/test_session_notification_toggles.py
  tests/suites/unit/core/services/test_init_service_drift.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(session-behaviour): single-source the canonical agent-name casing
  docs/project/slices/00-32-session-behaviour-refinements.md
  src/teddy_executor/core/services/prompt_manager.py
  tests/suites/unit/core/services/test_prompt_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session-behaviour): record reversed explicit-only contract and resolve stale references
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/services/init_service.md
  docs/architecture/core/services/prompt_manager.md
  docs/project/PROJECT.md
  docs/project/milestones/03-foundational-refactors.md
  docs/project/slices/00-32-session-behaviour-refinements.md
  docs/project/slices/03-03-templates-and-init.md
  src/teddy_executor/core/ports/inbound/init.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): add task brief for preflight notification refinement
  docs/project/tasks/01-refine-preflight-notifications.md
Due: none

docs(preflight-notifications): add vertical slice for preflight notification refactor
  docs/project/slices/00-33-refine-preflight-notifications.md
Due: none

feat(preflight-notifications): split bundled notification toggles
  docs/project/slices/00-33-refine-preflight-notifications.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/test_bundled_config_notification_toggles.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(preflight-notifications): rewrite drift notification to per-channel count-aware lines
  docs/project/PROJECT.md
  docs/project/slices/00-33-refine-preflight-notifications.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/adapters/inbound/test_resume_message_threading.py
  tests/suites/unit/adapters/inbound/test_session_notification_toggles.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(acceptance): plant the DI-boundary violation in a temp tree
  tests/suites/acceptance/test_di_boundary_enforcement.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(preflight-notifications): report the fired update check from the update notification
  docs/project/slices/00-33-refine-preflight-notifications.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_notification_toggles.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(preflight-notifications): add the shared disable-checks footer helper
  docs/project/slices/00-33-refine-preflight-notifications.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_notification_toggles.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine workflow improvement ideas doc
  docs/project/inbox/01-harness-workflow-improvements.md
Due: none

feat(preflight-notifications): wire the shared disable-checks footer into the session preflight
  docs/project/slices/00-33-refine-preflight-notifications.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_preflight_drift_notification.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(preflight-notifications): retire the orphaned teddy plan handler and its tests
  docs/project/slices/00-33-refine-preflight-notifications.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/integration/core/services/test_session_orchestration_integration.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(preflight-notifications): retire teddy plan references and document the split drift checks
  docs/architecture/adapters/inbound/cli.md
  docs/project/slices/00-33-refine-preflight-notifications.md
  docs/project/specs/invariants/interactive-session-workflow.md
Due: none

Refine doc
  docs/project/inbox/01-harness-workflow-improvements.md
Due: none

Refine doc further
  docs/project/inbox/01-harness-workflow-improvements.md
Due: none

Minor changes
  docs/project/inbox/01-harness-workflow-improvements.md
Due: none

docs(harness): refine MRP protocol rules and streamline make
  Makefile
  docs/templates/makefile.md
  src/teddy_executor/resources/MRP.xml
  src/teddy_executor/resources/templates/makefile.md
Due: none

docs(templates): align template suite with ratified project standards
  docs/templates/ARCHITECTURE.md
  docs/templates/PROJECT.md
  docs/templates/specification-document.md
  docs/templates/vertical-slice.md
  src/teddy_executor/resources/templates/ARCHITECTURE.md
  src/teddy_executor/resources/templates/PROJECT.md
  src/teddy_executor/resources/templates/specification-document.md
  src/teddy_executor/resources/templates/vertical-slice.md
Due: none

docs(prompts): align pathfinder and assistant with ratified standards
  src/teddy_executor/resources/config/prompts/assistant.xml
  src/teddy_executor/resources/config/prompts/pathfinder.xml
Due: none

docs(prompts): align architect and prototyper with ratified standards
  src/teddy_executor/resources/config/prompts/architect.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

docs(prompts): align debugger with ratified standards
  src/teddy_executor/resources/config/prompts/debugger.xml
Due: none

docs(prompts): align developer with ratified standards
  src/teddy_executor/resources/config/prompts/developer.xml
Due: none

docs(workflow): reconcile protocol, tooling, and project roadmap
  Makefile
  docs/architecture/ARCHITECTURE.md
  docs/project/PROJECT.md
  docs/project/milestones/03-foundational-refactors.md
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
  docs/project/milestones/06-cross-cutting-consolidation.md
  docs/templates/makefile.md
  src/teddy_executor/resources/MRP.xml
  src/teddy_executor/resources/templates/makefile.md
Due: none

docs(tasks): add pipeline default-agent task brief
  docs/project/tasks/02-pipeline-default-agent.md
Due: none

docs(prompts): align residual jargon and VCP wording
  src/teddy_executor/resources/config/prompts/developer.xml
  src/teddy_executor/resources/config/prompts/prototyper.xml
Due: none

docs(readme): reframe value proposition around process ownership
  README.md
Due: none

docs(readme): refine front door wording and layout
  README.md
Due: none
