Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

docs(architecture): formalize exhaustive symmetrical test harness and refactoring scope
  docs/architecture/ARCHITECTURE.md
  docs/architecture/tests/adapters/report_parser.md
  docs/architecture/tests/contexts/test_environment.md
  docs/architecture/tests/dsl/plan_builder.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
Due: none

refactor(architecture): formalize Test Harness Triad (Setup, Driver, Observer)
  docs/architecture/ARCHITECTURE.md
  docs/architecture/tests/drivers/cli_adapter.md
  docs/architecture/tests/drivers/plan_builder.md
  docs/architecture/tests/observers/report_parser.md
  docs/architecture/tests/setup/composition.md
  docs/architecture/tests/setup/test_environment.md
  docs/project/milestones/09-hexagonal-test-architecture.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(test-harness): establish exhaustive test harness triad
  docs/architecture/tests/drivers/cli_adapter.md
  docs/architecture/tests/drivers/plan_builder.md
  docs/architecture/tests/observers/report_parser.md
  docs/architecture/tests/setup/composition.md
  docs/architecture/tests/setup/test_environment.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
  tests/drivers/__init__.py
  tests/drivers/cli_adapter.py
  tests/drivers/plan_builder.py
  tests/observers/__init__.py
  tests/observers/report_parser.py
  tests/setup/__init__.py
  tests/setup/test_environment.py
  tests/unit/test_cli_adapter.py
  tests/unit/test_environment_harness.py
  tests/unit/test_plan_builder.py
  tests/unit/test_report_parser.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(prompts): align all agent instructions with hierarchical test structure
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
Due: none

Slight rephrase
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/suites/acceptance/test_prompt_action.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): add hardcoded configuration fallbacks to ActionFactory
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/core/services/action_factory.py
  tests/suites/integration/core/services/test_config_defaults.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Delete unreliable performance test to fix CI
  tests/suites/acceptance/test_validation_performance.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(debugger): optimize repair workflow for clean trees
  prompts/debugger.xml
Due: none

feat(config): update default similarity threshold to 0.97 and update tests
  .secrets.baseline
  config/config.yaml
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/acceptance/test_similarity_threshold_config.py
  tests/suites/integration/adapters/outbound/test_file_system_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore: update .gitignore & default similarity threshold
  .gitignore
  config/config.yaml
Due: none

refactor(tests): migrate high-level suites to formal Test Harness Triad
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/init_service.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
  pyproject.toml
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/init_service.py
  tests/harness/drivers/plan_builder.py
  tests/harness/setup/composition.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_auto_initialization.py
  tests/suites/acceptance/test_edit_multi_block_transparency.py
  tests/suites/acceptance/test_edit_ux_polish.py
  tests/suites/acceptance/test_hanging_command_management.py
  tests/suites/acceptance/test_similarity_threshold_config.py
  tests/suites/acceptance/test_streamlined_init.py
  tests/suites/integration/adapters/inbound/test_cli_adapter.py
  tests/suites/integration/adapters/inbound/test_cli_formatting_integration.py
  tests/suites/integration/adapters/outbound/test_console_interactor_editor.py
  tests/suites/integration/adapters/outbound/test_console_interactor_headers.py
  tests/suites/integration/adapters/outbound/test_file_system_adapter.py
  tests/suites/integration/adapters/outbound/test_local_repo_tree_generator.py
  tests/suites/integration/adapters/outbound/test_shell_adapter.py
  tests/suites/integration/adapters/outbound/test_system_environment_inspector.py
  tests/suites/integration/adapters/outbound/test_tree_generator_performance.py
  tests/suites/integration/adapters/outbound/test_web_scraper_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_adapter.py
  tests/suites/integration/core/services/test_action_dispatch_logic.py
  tests/suites/integration/core/services/test_action_executor_integration.py
  tests/suites/integration/core/services/test_container_wiring.py
  tests/suites/integration/core/services/test_create_overwrite_integration.py
  tests/suites/integration/core/services/test_enhanced_validation_integration.py
  tests/suites/integration/core/services/test_execution_orchestrator.py
  tests/suites/integration/core/services/test_flexible_resource_parsing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove initial align prompt
  docs/project/specs/interactive-session-workflow.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/acceptance/test_session_management.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(tests): fix coverage regression by reverting to standard conftest and lazy imports
  docs/project/milestones/09-hexagonal-test-architecture.md
  pyproject.toml
  tests/conftest.py
  tests/harness/setup/composition.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(dx): mandate 90% test coverage in pre-commit and architect prompt
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
Due: none

minor cleanup
  tests/harness/setup/composition.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(prompts): enforce mandatory test harness triad for dev and debugger
  prompts/debugger.xml
  prompts/dev.xml
Due: none

feat(test-harness): standardize test detritus management in tests/.tmp/
  .gitignore
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
  prompts/architect.xml
Due: none

refactor(test): standardize workspace management and unify conftest
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/09-02-refactor-acceptance-integration-suites.md
  src/teddy_executor/core/services/init_service.py
  tests/conftest.py
  tests/harness/setup/composition.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/conftest.py
  tests/suites/integration/core/services/test_execution_orchestrator.py
  tests/suites/unit/test_cli_adapter.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slices): add slice 09-03 for unit suite refactoring
  docs/project/slices/09-03-refactor-unit-suite.md
Due: none

chore: minor polish
  .gitignore
  config/config.yaml
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(test-harness): complete scenario 1 refactor and fix imports
  .secrets.baseline
  docs/project/slices/09-03-refactor-unit-suite.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_replanner.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/harness/drivers/plan_builder.py
  tests/harness/observers/report_parser.py
  tests/harness/setup/composition.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_similarity_threshold_config.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
  tests/suites/unit/core/services/test_formatter_action_logs.py
  tests/suites/unit/core/services/test_parser_advanced_actions.py
  tests/suites/unit/core/services/test_parser_errors.py
  tests/suites/unit/core/services/test_parser_metadata.py
  tests/suites/unit/core/services/test_validator_edit.py
  tests/suites/unit/test_report_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(arch): unify quality guardrails and streamline CI pipeline
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/architecture/tests/observers/file_system_observer.md
  docs/project/slices/09-04-architectural-guardrails-enforcement.md
Due: none

fix(arch): resolve redundant DI registration and prevent duplicate READ validation errors
  docs/project/debugging/rca/duplicate-read-validation-errors.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/validation_rules/read.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): enforce DI Purity in Architect and Developer roles
  prompts/architect.xml
  prompts/dev.xml
Due: none

Refine
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

minor change
  docs/architecture/tests/observers/file_system_observer.md
  docs/project/slices/09-04-architectural-guardrails-enforcement.md
Due: none

refine CI refactor
  docs/project/slices/09-04-architectural-guardrails-enforcement.md
Due: none

Refine prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

refine architect prompt
  prompts/architect.xml
Due: none

refine vertical slice doc
  docs/project/slices/09-04-architectural-guardrails-enforcement.md
Due: none

minor change
  prompts/architect.xml
Due: none

feat(arch): unify guardrails and enforce strict test quality standards
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/09-04-architectural-guardrails-enforcement.md
  package-lock.json
  package.json
  pyproject.toml
  src/teddy_executor/container.py
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/execute.py
  src/teddy_executor/core/services/validation_rules/filesystem.py
  src/teddy_executor/core/services/validation_rules/helpers.py
  src/teddy_executor/core/services/validation_rules/prune.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/harness/observers/file_system_observer.py
  tests/suites/integration/adapters/outbound/test_file_system_adapter.py
  tests/suites/integration/core/services/test_plan_validator_integration.py
  tests/suites/unit/adapters/inbound/test_reviewer_app.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_previews.py
  tests/suites/unit/core/services/test_resource_alias_unit.py
  tests/suites/unit/core/services/test_validator_create_overwrite.py
  tests/suites/unit/core/services/test_validator_edit.py
  tests/suites/unit/core/services/test_validator_execute.py
  tests/suites/unit/test_file_system_observer.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ci): enable parallel execution of quality gates
  .github/workflows/ci.yml
Due: none

fix(ci): unify poetry install across runners to fix windows path
  .github/workflows/ci.yml
Due: none

fix(ci): use bash shell for windows matrix to ensure poetry path resolution
  .github/workflows/ci.yml
Due: none

test(unit): fix platform-specific path separators and formatting
  tests/suites/unit/core/services/test_init_service.py
  tests/suites/unit/core/services/test_planning_service_logging.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture

ci: add ubuntu to compatibility matrix for faster test feedback
  .github/workflows/ci.yml
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
