Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

refactor(parser): fix missing imports in action strategies after split
  .pre-commit-config.yaml
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/_legacy_models.py
  src/teddy_executor/core/domain/models/project_context.py
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/utils/markdown.py
  src/teddy_executor/prompts.py
  tests/acceptance/helpers.py
  tests/acceptance/plan_builder.py
  tests/acceptance/test_change_preview_feature.py
  tests/acceptance/test_comprehensive_validation.py
  tests/acceptance/test_markdown_reports.py
  tests/acceptance/test_plan_execution_context.py
  tests/integration/adapters/outbound/test_web_scraper_adapter.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: finalize quality gate documentation and implementation summary
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/17-configure-ci-quality-gates.md
Due: none

feat(ci): tighten quality gates and refactor code for compliance
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/17-configure-ci-quality-gates.md
  pyproject.toml
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/acceptance/helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(quality): align documentation, roadmap, and agent prompts with top-tier standards
  docs/architecture/ARCHITECTURE.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/milestones/09-interactive-session-and-config.md
  prompts/architect.xml
Due: none

chore: adjust comment
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(parser): align architectural documentation and finalize quality gates
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/action_parser_strategies.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/parser_infrastructure.md
  docs/architecture/core/services/parser_metadata.md
Due: none

docs(core): finalize alignment of service documentation
  docs/architecture/core/services/action_factory.md
  docs/architecture/core/services/markdown_plan_parser.md
Due: none

docs(slice): finalize implementation summary for slice 17
  docs/project/slices/17-configure-ci-quality-gates.md
Due: none

docs(prompt): refine craftsmanship and testing principles
  prompts/dev.xml
Due: none

docs(prompts): refactor markdown protocol to strengthen no-preamble rule
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(adapter): implement sequential multi-command shell execution
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/acceptance/test_spike_multiline_execute_failure.py
  tests/integration/adapters/outbound/test_shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: update ShellAdapter documentation and refactor test helpers
  docs/architecture/adapters/outbound/shell_adapter.md
  tests/acceptance/helpers.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(scraper): implement lenient defaults and update roadmap
  docs/project/PROJECT.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/milestones/09-interactive-session-and-config.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/acceptance/test_read_action_url.py
  tests/integration/adapters/outbound/test_web_scraper_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(deps): update dependencies and align python version to 3.11
  docs/architecture/ARCHITECTURE.md
  poetry.lock
  pyproject.toml
Due: none

style: apply automated formatting from new ruff version
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(specs): refine interactive session and context payload specifications
  docs/project/PROJECT.md
  docs/project/specs/context-payload-format.md
  docs/project/specs/interactive-session-workflow.md
Due: none

refactor(prompts): enforce markdown protocol and restrict chat tool
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(prompts): refine developer tdd loop and docs finalization
  prompts/dev.xml
Due: none

feat(cli): enhance chat input and skip warnings
  docs/project/PROJECT.md
  docs/project/slices/18-enhance-cli-user-experience.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

feat(cli): print real-time console warnings for skipped actions
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/acceptance/test_auto_skip_on_failure.py
  tests/unit/adapters/outbound/test_console_interactor.py
  tests/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add multiline input fallback for user prompts
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/acceptance/test_chat_with_user_action.py
  tests/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): return standard chat input immediately on single line
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/18-enhance-cli-user-experience.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/acceptance/test_report_enhancements.py
  tests/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(cli): amend console interactor docs for single-line input
  docs/architecture/adapters/outbound/console_interactor.md
Due: none

feat(cli): inject AI prompt into multiline editor fallback file
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(cli): update console interactor docs with prompt injection behavior
  docs/architecture/adapters/outbound/console_interactor.md
  docs/project/slices/18-enhance-cli-user-experience.md
Due: none

feat(cli): reformat multiline editor fallback to place prompt below input and update docs
  docs/architecture/adapters/outbound/console_interactor.md
  docs/project/slices/18-enhance-cli-user-experience.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(acceptance): synchronize mock editor marker with updated implementation
  tests/acceptance/test_chat_with_user_action.py
Due: ruff-lint, ruff-format, mypy, vulture

docs update
  docs/project/slices/18-enhance-cli-user-experience.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

polish chat with user prompt message
  docs/architecture/adapters/outbound/console_interactor.md
  docs/project/slices/18-enhance-cli-user-experience.md
  src/teddy_executor/adapters/outbound/console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Rename project.context to init.context
  docs/architecture/adapters/outbound/local_file_system_adapter.md
  docs/architecture/core/ports/inbound/get_context_use_case.md
  docs/architecture/core/services/context_service.md
  docs/project/specs/teddy-directory-structure.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/context_service.py
  tests/acceptance/test_context_command_refactor.py
  tests/integration/adapters/outbound/test_file_system_adapter.py
  tests/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(project): Define slice and docs for EXECUTE simplification
  docs/architecture/ARCHITECTURE.md
  docs/project/PROJECT.md
  docs/project/slices/19-simplify-execute-action.md
  docs/project/specs/new-plan-format.md
  docs/project/specs/plan-format-validation.md
Due: none

Refine EXECUTE instructions
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(validator): enforce single command rule for EXECUTE action
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/__init__.py
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/execute.py
  src/teddy_executor/core/services/validation_rules/helpers.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/acceptance/plan_builder.py
  tests/acceptance/test_plan_builder.py
  tests/acceptance/test_plan_validation_logic.py
  tests/acceptance/test_spike_multiline_execute_failure.py
  tests/integration/adapters/outbound/test_shell_adapter.py
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_markdown_report_formatter.py
  tests/unit/core/services/test_parser_infrastructure.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): update slice 19 and milestone 08
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/19-simplify-execute-action.md
Due: none

docs(architecture): align shell adapter and plan validator docs
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/core/services/plan_validator.md
Due: none

docs(architecture): clarify parser role in EXECUTE directives
  docs/architecture/ARCHITECTURE.md
Due: none

refactor(actions): rename CHAT_WITH_USER action to PROMPT
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/domain_model.md
  docs/architecture/core/ports/outbound/user_interactor.md
  docs/architecture/core/services/action_factory.md
  docs/architecture/core/services/action_parser_strategies.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/08-refactor-parser-and-fix-bug.md
  docs/project/slices/17-configure-ci-quality-gates.md
  docs/project/slices/18-enhance-cli-user-experience.md
  docs/project/specs/new-plan-format.md
  docs/project/specs/report-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/core/domain/models/_legacy_models.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/helpers.py
  tests/acceptance/plan_builder.py
  tests/acceptance/test_parser_robustness.py
  tests/acceptance/test_prompt_action.py
  tests/acceptance/test_quality_of_life_improvements.py
  tests/acceptance/test_report_enhancements.py
  tests/unit/core/domain/test_models.py
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_report_crash_repro.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine hint wording
  docs/project/specs/interactive-session-workflow.md
Due: none

docs(prompts): refine agent instructions and developer workflow
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(session): refactor session directory structure and init logic
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/session-history-view.md
  docs/project/specs/teddy-directory-structure.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
