Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

Add optional specification to EXECUTE params
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

refactor(tests): modularize monolithic core service test files
  .pre-commit-config.yaml
  .secrets.baseline
  tests/unit/core/services/test_formatter_action_logs.py
  tests/unit/core/services/test_formatter_misc.py
  tests/unit/core/services/test_markdown_plan_parser.py
  tests/unit/core/services/test_parser_advanced_actions.py
  tests/unit/core/services/test_parser_basic_actions.py
  tests/unit/core/services/test_parser_errors.py
  tests/unit/core/services/test_parser_metadata.py
  tests/unit/core/services/test_parser_misc.py
  tests/unit/core/services/test_validator_create.py
  tests/unit/core/services/test_validator_edit.py
  tests/unit/core/services/test_validator_execute.py
  tests/unit/core/services/test_validator_misc.py
  tests/unit/core/services/test_validator_read.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine architect prompt re LOC linting
  prompts/architect.xml
Due: none

Fast track slice for CREATE override param
  docs/project/slices/00-06-create-action-overwrite.md
Due: none

feat(action): support Overwrite parameter for CREATE actions
  docs/project/slices/00-06-create-action-overwrite.md
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/utils/diff.py
  tests/acceptance/test_create_overwrite.py
  tests/integration/core/services/test_create_overwrite_integration.py
  tests/unit/core/services/test_parser_create_overwrite.py
  tests/unit/core/services/test_validator_create_overwrite.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(report): polish diff output and remove redundant details
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine dev workflow for scenario-based TDD
  prompts/dev.xml
Due: none

New polish slice
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/00-07-session-prompt-llm-config-polish.md
Due: none

feat(session): polish llm configuration priority and session prompt UX
  .secrets.baseline
  docs/architecture/core/services/planning_service.md
  docs/project/slices/00-07-session-prompt-llm-config-polish.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/unit/adapters/outbound/test_litellm_adapter.py
  tests/unit/core/services/test_planning_service.py
  tests/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Polish prompt
  prompts/dev.xml
Due: none

docs(prompts): clarify EXECUTE parameter behavior in sequential flow
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(project): expand milestone 09 with session UX polish and bug fixes
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/specs/interactive-session-workflow.md
Due: none

docs(slices): add slice 09-07 for ux polish and logging
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/architecture/core/ports/outbound/session_manager.md
  docs/project/slices/09-07-ux-polish-logging.md
Due: none

refactor(session): make context reading robust against missing files
  docs/architecture/core/services/session_service.md
  docs/project/slices/09-07-ux-polish-logging.md
  src/teddy_executor/core/services/session_service.py
  tests/integration/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): rename new to start and implement dynamic naming
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_service.md
  docs/project/slices/09-07-ux-polish-logging.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/acceptance/test_session_management.py
  tests/acceptance/test_streamlined_init.py
  tests/integration/core/services/test_session_validation_integration.py
  tests/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): implement robust resume with path detection and auto-detection
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/ports/outbound/session_manager.md
  docs/project/slices/09-07-ux-polish-logging.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/acceptance/test_session_resume_robustness.py
  tests/integration/core/services/test_session_resume.py
  tests/unit/core/services/test_session_service_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): extract scrub_dict_for_serialization utility
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/utils/serialization.py
  tests/unit/core/utils/test_serialization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): unify 3-strike escalation protocol and tighten workflow constraints
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(arch): standardize serialization rule and relocate component logic
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/domain_model.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_service.md
Due: none

docs(project): finalize slice 09-08 with PRUNE filtering
  docs/project/PROJECT.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-08-tui-and-ux-polish.md
Due: none

docs: add polishing slice for UX and logic improvements
  docs/project/slices/00-08-polishing-ux-logic.md
Due: none

docs: refine polishing slice with dynamic PROMPT header
  docs/project/slices/00-08-polishing-ux-logic.md
Due: none

feat(parser): support multiple mismatch highlights and 60-char previews
  docs/architecture/core/ports/inbound/plan_parser.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/parser_infrastructure.md
  docs/project/slices/00-08-polishing-ux-logic.md
  src/teddy_executor/core/ports/inbound/plan_parser.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/acceptance/test_parser_polish.py
  tests/integration/core/services/test_validation_diagnostics_integration.py
  tests/unit/core/ports/inbound/test_plan_parser_errors.py
  tests/unit/core/services/test_parser_errors.py
  tests/unit/core/services/test_parser_formatting.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): standardize status, dashboard, and dev workflow
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

new slice
  docs/project/slices/00-07b-enhanced-validation-diagnostics.md
Due: none

Refine prompts
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(parser): implement rich structural diagnostics for plan validation
  docs/architecture/core/services/markdown_plan_parser.md
  docs/architecture/core/services/parser_infrastructure.md
  docs/project/slices/00-07b-enhanced-validation-diagnostics.md
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/acceptance/test_enhanced_validation.py
  tests/acceptance/test_parser_polish.py
  tests/integration/core/services/test_validation_diagnostics_integration.py
  tests/unit/core/services/test_parser_errors.py
  tests/unit/core/services/test_parser_formatting.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(validation): implement surgical logical diagnostics and hybrid AST visualization
  docs/project/slices/00-07b-enhanced-validation-diagnostics.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/inbound/planning_use_case.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  src/teddy_executor/core/services/parser_reporting.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/acceptance/test_ai_telemetry.py
  tests/acceptance/test_parser_polish.py
  tests/acceptance/test_session_management.py
  tests/acceptance/test_session_resume_robustness.py
  tests/acceptance/test_streamlined_init.py
  tests/integration/core/services/test_enhanced_validation_integration.py
  tests/integration/core/services/test_session_service.py
  tests/integration/core/services/test_session_validation_integration.py
  tests/unit/core/services/test_parser_errors.py
  tests/unit/core/services/test_parser_misc.py
  tests/unit/core/services/test_session_orchestrator.py
  tests/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/unit/core/services/test_session_orchestrator_resume.py
  tests/unit/core/services/test_session_orchestrator_validation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): mark 00-07b as completed
  docs/project/slices/00-07b-enhanced-validation-diagnostics.md
Due: none

docs(prompts): refine developer verification gate for quality
  prompts/dev.xml
Due: none

fix(core): move services and adapters to transient scope to prevent punq type locking
  docs/architecture/ARCHITECTURE.md
  docs/project/debugging/mre/stale-container-leakage.md
  docs/project/debugging/rca/punq-type-locking-leakage.md
  src/teddy_executor/container.py
  tests/acceptance/test_enhanced_validation.py
  tests/conftest.py
  tests/integration/core/services/test_enhanced_validation_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): prevent path pollution in context and harden report template
  src/teddy_executor/core/services/session_repository.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): harden path resolution against markdown structural pollution
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/services/session_repository.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(reporting): implement whitespace sanitization in execution reports
  docs/project/slices/00-08-polishing-ux-logic.md
  src/teddy_executor/core/services/markdown_report_formatter.py
  tests/acceptance/test_report_whitespace_sanitization.py
  tests/unit/core/services/test_formatter_action_logs.py
  tests/unit/core/services/test_markdown_report_formatter_enhancements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add dynamic prompt headers and refactor interactor for SLOC compliance
  docs/project/slices/00-08-polishing-ux-logic.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/acceptance/test_all_validation_errors_show_ast.py
  tests/acceptance/test_non_interactive_orchestration.py
  tests/acceptance/test_prompt_action.py
  tests/integration/adapters/outbound/test_console_interactor_editor.py
  tests/integration/adapters/outbound/test_console_interactor_headers.py
  tests/integration/core/services/test_reference_files_integration.py
  tests/unit/adapters/outbound/test_console_interactor.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_parser_errors.py
  tests/unit/core/services/test_report_content_preservation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): polish UX with AST multi-highlight, report sanitization, and non-blocking prompts
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/adapters/outbound/system_environment_adapter.md
  docs/architecture/core/ports/outbound/system_environment.md
  docs/architecture/core/ports/outbound/user_interactor.md
  docs/architecture/core/services/markdown_report_formatter.md
  docs/project/slices/00-08-polishing-ux-logic.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_tooling.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  src/teddy_executor/core/ports/outbound/system_environment.py
  tests/acceptance/test_prompt_action.py
  tests/integration/adapters/outbound/test_console_interactor_editor.py
  tests/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): update dev testing strategy and interrupt rules
  prompts/dev.xml
Due: none

refactor(prompts): refine escalation protocol and diagnostic action bounds
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

perf(validation): implement multi-layered heuristic for edit matching
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/plan_validator.md
  docs/project/debugging/rca/validation-latency-fuzzy-matching.md
  docs/project/slices/00-09-fix-validation-latency.md
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_validation_performance.py
  tests/unit/core/services/test_validator_edit_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
