Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

Polishing changes
  README.md
  docs/project/slices/09-01-foundation-security-config-llm.md
  docs/project/slices/09-02-refactor-execution-report-template.md
Due: none

feat(workflow): implement deliverables terminology and consistency checks
  docs/project/slices/09-01-foundation-security-config-llm.md
  docs/project/slices/09-02-refactor-execution-report-template.md
  prompts/architect.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(workflow): prioritize strategic alignment over rigid read-first discovery
  prompts/architect.xml
  prompts/pathfinder.xml
Due: none

Polishing changes
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/core/services/validation_rules/edit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Polishing changes
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(parser): align INVOKE and RETURN with Description metadata protocol
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): align all agent prompts and specs with Description metadata protocol
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
Due: none

feat(handoff): refine protocol to use Description field and support bullet-less resources
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_non_interactive_orchestration.py
  tests/acceptance/test_report_enhancements.py
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): add mandatory path proposal step to pathfinder
  prompts/pathfinder.xml
Due: none

style(cli): add cyan header to interactive PROMPT action
  src/teddy_executor/adapters/outbound/console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): include self-assignment in mandatory path proposal
  prompts/pathfinder.xml
Due: none

docs(prompts): remove bullets from handoff resource format
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs(project): re-sequence milestone 09 and add auto-initialization slice
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-02-auto-initialization.md
  docs/project/slices/09-03-refactor-execution-report-template.md
Due: none

docs(project): re-sequence milestone 09 and add auto-initialization slice
  .secrets.baseline
  docs/project/slices/09-02-auto-initialization.md
Due: none

fix(report): correct indentation and newlines for INVOKE/RETURN actions
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

feat(cli): implement project auto-initialization on first command execution
  .secrets.baseline
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/inbound/init.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/init_service.py
  tests/acceptance/test_auto_initialization.py
  tests/integration/adapters/outbound/test_file_system_adapter.py
  tests/unit/core/services/test_context_service.py
  tests/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: update architectural and project documentation for project auto-initialization
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/ports/inbound/init.md
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/init_service.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-02-auto-initialization.md
Due: none

feat(init): implement robust root-config-based auto-initialization
  .gitignore
  .secrets.baseline
  config/.gitignore
  config/config.yaml
  config/init.context
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/core/services/init_service.py
  tests/acceptance/test_context_command_refactor.py
  tests/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Polishing change
  config/config.yaml
  config/init.context
Due: none

feat(report): refine INVOKE/RETURN formatting and fix stale tests
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_auto_initialization.py
  tests/acceptance/test_non_interactive_orchestration.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(report): move INVOKE/RETURN description to body (Option B)
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_non_interactive_orchestration.py
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(llm): implement config-driven LiteLLM integration with universal pass-through
  .secrets.baseline
  config/config.yaml
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/container.py
  tests/unit/adapters/outbound/test_litellm_adapter.py
  tests/unit/adapters/outbound/test_litellm_adapter_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(conftest): add global ILlmClient mock to prevent accidental API costs
  tests/conftest.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(report): refactor execution report template for multi-modal output
  docs/project/slices/09-03-refactor-execution-report-template.md
  src/teddy_executor/__main__.py
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/outbound/markdown_report_formatter.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_report_formats.py
  tests/integration/core/services/test_action_dispatch_logic.py
  tests/unit/core/domain/models/test_models.py
  tests/unit/core/domain/test_models.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_markdown_report_formatter.py
  tests/unit/core/services/test_markdown_report_formatter_enhancements.py
  tests/unit/core/services/test_orchestrator_data_flow.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(architecture): update domain and service docs for multi-modal reporting
  docs/architecture/core/domain_model.md
  docs/architecture/core/services/markdown_report_formatter.md
Due: none

feat(report): segregate plan metadata and align integrity checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/integration/core/services/test_report_formats_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: finalize slice 09-03
  docs/project/slices/09-03-refactor-execution-report-template.md
Due: none

mark slice as done
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-03-refactor-execution-report-template.md
Due: none

docs(arch): establish core session and context engine blueprint for slice 09-04
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/planning_service.md
  docs/project/slices/09-04-core-session-context-engine.md
Due: none

refactor(fs): generalize context path resolution in FileSystemManager
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  tests/integration/adapters/outbound/test_file_system_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): parameterize ContextService to support specific context files
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  tests/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement SessionService for managing session lifecycle
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add teddy new command and wire SessionService
  src/teddy_executor/__main__.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/outbound/__init__.py
  tests/acceptance/test_session_management.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Slight rewording
  prompts/dev.xml
Due: none

feat(cli): implement cascading context and project root discovery
  docs/architecture/core/ports/inbound/get_context_use_case.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/core/domain/models/project_context.py
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  tests/acceptance/test_generalized_clipboard_output.py
  tests/acceptance/test_session_management.py
  tests/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Add additional validation checks for session workflow
  docs/project/milestones/09-interactive-session-and-config.md
Due: none

feat(session): implement turn transition algorithm and resolve path regressions
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/acceptance/test_session_management.py
  tests/conftest.py
  tests/integration/adapters/inbound/test_cli_adapter.py
  tests/integration/core/services/test_action_dispatch_logic.py
  tests/integration/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_session_orchestrator.py
  tests/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): implement stateful resume and refactor session orchestration
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/inbound/planning_use_case.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_service.py
  tests/acceptance/test_session_management.py
  tests/integration/adapters/inbound/test_cli_formatting_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(session): finalize slice 09-04 and architectural documentation
  docs/architecture/core/services/execution_orchestrator.md
  docs/architecture/core/services/planning_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_service.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/09-04-core-session-context-engine.md
  tests/integration/core/services/test_lazy_loading_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(session): normalize path separators and finalize documentation
  src/teddy_executor/core/services/session_service.py
  tests/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
