Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

refactor(prompt): enforce strict TDD layer constraints to prevent batching
  prompts/developer.xml
Due: none

feat(prompts): add direct execution path to pathfinder
  prompts/pathfinder.xml
Due: none

all recommend running diagnostic spikes
  prompts/architect.xml
  prompts/assistant.xml
  prompts/debugger.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

refactor(core): replace silent exception in action executor with debug log
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/core/services/action_executor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): replace silent exception in orchestrator with debug log
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/core/services/execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): replace silent exceptions in session planner with debug logs
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/core/services/session_planner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(cli): replace silent failures with logging in cli_helpers
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/inbound/cli_helpers.py
  tests/suites/unit/adapters/inbound/test_cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): decompose TUI failure transparency sweep
  docs/project/slices/00-01-failure-transparency-refactor.md
Due: none

refactor(tui): add failure transparency to terminal restoration
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/outbound/console_interactor_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): improve failure transparency in ReviewerApp cleanup
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): add failure transparency to editor and diff viewer
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): add failure transparency to previews and execution status
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tui): add failure transparency to helpers
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor: finalize failure transparency and remove silent markers
  docs/project/slices/00-01-failure-transparency-refactor.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(prompts): prevent premature return in developer agent loop
  prompts/developer.xml
Due: none

feat(session): exhaustive stopword filtering and whole-word truncation for auto-naming
  docs/project/slices/00-02-session-auto-naming-refinement.md
  src/teddy_executor/core/services/session_planner.py
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/utils/string.py
  tests/suites/acceptance/test_session_resume_robustness.py
  tests/suites/acceptance/test_streamlined_init.py
  tests/suites/unit/core/services/test_session_repository.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): resequence session initialization to prompt before disk creation
  docs/project/slices/00-03-session-initialization-resequencing.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ci): surgical fix for session_prefixing and revert max_turns cap
  .github/workflows/debug-probe.yml
  docs/project/debugging/02-windows-ci-worker-crash.md
  tests/suites/acceptance/test_session_prefixing.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(ci): apply surgical fixes to prevent windows worker crashes
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_management.py
Due: ruff-lint, ruff-format, mypy, vulture

cleanup(ci): remove debug probe
  .github/workflows/debug-probe.yml
Due: none

debug: restore interactor with strengthened guards
  .github/workflows/debug-probe.yml
  docs/project/debugging/02-windows-ci-worker-crash.md
  src/teddy_executor/adapters/outbound/console_interactor_helpers.py
  tests/harness/drivers/cli_adapter.py
  tests/harness/setup/test_environment.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_resume_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Finalise debug doc
  .github/workflows/debug-probe.yml
  docs/project/debugging/02-windows-ci-worker-crash.md
Due: none

refactor(prompts): optimize debugger remote probing and streamline developer tdd loop
  prompts/debugger.xml
  prompts/developer.xml
Due: none

fix(prompts): update developer example to reflect removed scaffolding phase
  prompts/developer.xml
Due: none

feat(core): update default fallback timeout to 60s
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_execution.py
  src/teddy_executor/core/services/action_factory.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/core/services/action_parser_complex.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slices): add vertical slice for session context and ux fixes
  docs/project/slices/00-04-session-context-and-ux-fixes.md
Due: none

Fix timeout tests
  tests/suites/integration/core/services/test_action_dispatch_logic.py
  tests/suites/integration/core/services/test_config_defaults.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): decompose session context and ux fixes deliverables
  docs/project/slices/00-04-session-context-and-ux-fixes.md
Due: none

feat(core): add is_session field to ExecutionReport
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/domain/models/execution_report.py
  tests/suites/unit/core/domain/models/test_execution_report.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): propagate is_session in ExecutionReportAssembler
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/services/execution_report_assembler.py
  tests/suites/unit/core/services/test_execution_report_assembler.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): prevent context leakage by restricting side effects to successful actions
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/ports/outbound/execution_report_assembler.py
  src/teddy_executor/core/services/execution_report_assembler.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): filter commented lines in context files
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/services/session_repository.py
  tests/suites/unit/core/services/test_session_repository.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

minor change
  docs/project/slices/00-04-session-context-and-ux-fixes.md
Due: none

feat(core): verify is_session propagation in ExecutionReportAssembler
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_execution_report_assembler.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): pass is_session to MarkdownReportFormatter context
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/services/markdown_report_formatter.py
  tests/suites/unit/core/services/test_markdown_report_formatter_enhancements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): prune redundant resource contents in session reports
  docs/architecture/core/domain/execution_report.md
  docs/architecture/core/ports/outbound/markdown_report_formatter.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-session-context-and-ux-fixes.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_markdown_report_formatter_enhancements.py
Due: ruff-lint, ruff-format, mypy, vulture

Minor formatting change
  prompts/architect.xml
  prompts/assistant.xml
  prompts/developer.xml
  prompts/pathfinder.xml
  prompts/prototyper.xml
Due: none

docs(tasks): create tui polish task brief
  docs/tasks/01-tui-polish.md
Due: none

feat(tui): polish navigation and add ABORTED status for user-initiated quits
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_widgets.py
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_bindings.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
