Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

chore: Make debug spike CI self-contained
  .github/workflows/debug-spike.yml
  .pre-commit-config.yaml
Due: none

chore: Add solution verification tests to debug spike
  .github/workflows/debug-spike.yml
Due: none

fix(shell): wrap windows command segments in parentheses to enforce operator precedence
  docs/project/debugging/rca/windows-exit-code-operator-precedence.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/unit/adapters/outbound/test_shell_adapter_windows_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

delete debug spike CI job
  .github/workflows/debug-spike.yml
Due: none

fix(shell): use call for windows lines to ensure exit propagation
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/unit/adapters/outbound/test_shell_adapter_windows_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(ci): add diagnostic job for windows exit code behavior
  .github/workflows/ci.yml
Due: none

chore(ci): update diagnostic job with continue-on-error
  .github/workflows/ci.yml
Due: none

chore(ci): verify candidate fix for windows exit code handling
  .github/workflows/ci.yml
Due: none

chore(ci): test cmd /c quoting resilience
  .github/workflows/ci.yml
Due: none

chore(ci): test extra outer quotes for cmd /c
  .github/workflows/ci.yml
Due: none

chore(ci): test hybrid isolation strategy
  .github/workflows/ci.yml
Due: none

chore(ci): final validation of hybrid exit handler fix
  .github/workflows/ci.yml
Due: none

chore(ci): remove diagnostic instrumentation
  .github/workflows/ci.yml
Due: none

fix(shell): use surgical cmd /c isolation for windows exit commands
  docs/architecture/ARCHITECTURE.md
  docs/project/debugging/rca/windows-exit-code-isolation.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/unit/adapters/outbound/test_shell_adapter_windows_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): standardize status, plan types, and validation recovery protocols
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Minor change
  prompts/pathfinder.xml
Due: none

feat(prompts): refine debugger for remote repairs and isolated TDD
  prompts/debugger.xml
Due: none

docs(prompts): refine debugger remote protocol and dev conflict resolution
  prompts/debugger.xml
  prompts/dev.xml
Due: none

New fast track slice
  docs/project/slices/00-02-refine-similarity-logic.md
Due: none

feat(config): implement global similarity threshold for EDIT actions
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/services/plan_validator.md
  docs/project/slices/00-02-refine-similarity-logic.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_similarity_threshold_config.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_orchestrator_data_flow.py
  tests/unit/core/services/test_orchestrator_isolation.py
  tests/unit/core/services/test_validator_edit_performance.py
  tests/unit/core/services/test_validator_edit_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(edit): implement score rounding and deprecate plan-level threshold
  docs/project/slices/00-02-refine-similarity-logic.md
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/edit_matcher.py
  tests/acceptance/test_edit_multi_block_transparency.py
  tests/acceptance/test_edit_ux_polish.py
  tests/integration/core/services/test_resilient_edit_matching_integration.py
  tests/unit/core/services/test_edit_matcher_resilience.py
  tests/unit/core/services/test_parser_edit_threshold.py
  tests/unit/core/services/test_validator_edit.py
  tests/unit/core/services/test_validator_edit_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine validation sections and add recovery plan types
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore: clean up docs
  docs/project/debugging/mre/windows-exit-code-quoting-regression.md
  docs/project/debugging/rca/windows-exit-code-isolation.md
  docs/project/debugging/rca/windows-exit-code-operator-precedence.md
  docs/project/debugging/rca/windows-exit-code-quoting-issue.md
  docs/project/debugging/rca/windows-exit-code-swallowing.md
  docs/project/slices/00-01-protocol-polish-resilience.md
  docs/project/slices/00-02-refine-similarity-logic.md
Due: none

docs(prompts): finalize standardized protocols and decouple developer workflow
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore(git): add full test suite and clean status pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs(arch): codify mandatory pre-commit test and status checks
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
Due: none

minor change
  prompts/dev.xml
Due: none

feat(validator): add hint for identical FIND and REPLACE blocks and enhance CLI reporting
  docs/architecture/core/ports/inbound/plan_parser.md
  docs/project/slices/00-01-redundant-edit-validation-hints.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/core/ports/inbound/plan_parser.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/acceptance/test_redundant_edit_hints.py
  tests/unit/core/services/test_validator_edit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(validation): add already-applied hint for EDIT actions
  docs/project/slices/00-01-redundant-edit-validation-hints.md
  docs/project/specs/plan-format-validation.md
  manual_plan.md
  manual_test.py
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/acceptance/test_redundant_edit_hints.py
  tests/unit/core/services/test_validator_edit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

ci: fix pre-commit hooks for cross-platform portability
  .pre-commit-config.yaml
Due: none

Remove problematic test
  tests/acceptance/test_validation_performance.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine dev prompt
  prompts/dev.xml
Due: none

Dev & architect polish
  prompts/architect.xml
  prompts/dev.xml
Due: none

feat(prompts): integrate Hexagonal Test Architecture across all agent workflows
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore(project): shift milestone 09 to 10 and insert test architecture milestone
  .secrets.baseline
  docs/project/PROJECT.md
  docs/project/milestones/09-hexagonal-test-architecture.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-01-redundant-edit-validation-hints.md
  docs/project/slices/10-01-foundation-security-config-llm.md
  docs/project/slices/10-02-auto-initialization.md
  docs/project/slices/10-03-refactor-execution-report-template.md
  docs/project/slices/10-04-core-session-context-engine.md
  docs/project/slices/10-05-plan-validation-self-correction.md
  docs/project/slices/10-06-interactive-tui-resume-workflow.md
  docs/project/slices/10-07-ux-polish-logging.md
  docs/project/slices/10-08-tui-and-ux-polish.md
Due: none

Refine pathfinder
  prompts/pathfinder.xml
Due: none

minor change
  prompts/architect.xml
Due: none

docs(arch): establish hexagonal test boundary and harness contracts
  docs/architecture/ARCHITECTURE.md
  docs/architecture/tests/adapters/cli_adapter.md
  docs/architecture/tests/contexts/composition.md
  docs/architecture/tests/dsl/plan_builder.md
  docs/project/slices/09-01-test-harness-blueprinting.md
Due: none

docs(chore): remove slice references and "introduced in" metadata
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/adapters/outbound/local_file_system_adapter.md
  docs/architecture/adapters/outbound/local_repo_tree_generator.md
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/adapters/outbound/system_environment_inspector.md
  docs/architecture/adapters/outbound/web_scraper_adapter.md
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/domain/project_context.md
  docs/architecture/core/domain/web_search_results.md
  docs/architecture/core/domain_model.md
  docs/architecture/core/ports/inbound/get_context_use_case.md
  docs/architecture/core/ports/inbound/init.md
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/architecture/core/ports/inbound/plan_validator.md
  docs/architecture/core/ports/inbound/run_plan_use_case.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/architecture/core/ports/outbound/environment_inspector.md
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/architecture/core/ports/outbound/markdown_report_formatter.md
  docs/architecture/core/ports/outbound/repo_tree_generator.md
  docs/architecture/core/ports/outbound/session_manager.md
  docs/architecture/core/ports/outbound/shell_executor.md
  docs/architecture/core/ports/outbound/user_interactor.md
  docs/architecture/core/ports/outbound/web_scraper.md
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/edit_simulator.md
  docs/architecture/core/services/init_service.md
  docs/architecture/core/services/markdown_report_formatter.md
  docs/architecture/core/services/plan_validator.md
  docs/architecture/core/services/planning_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_service.md
  docs/architecture/tests/adapters/cli_adapter.md
  docs/architecture/tests/contexts/composition.md
  docs/architecture/tests/dsl/plan_builder.md
Due: none

chore: update milestone status
  docs/project/PROJECT.md
Due: none
