Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

docs(project): remove cancelled CPD feature from milestone and prompts
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  prompts/architect.xml
Due: none

docs(project): add slice for test pyramid inversion
  docs/project/PROJECT.md
  docs/project/slices/20-invert-test-pyramid.md
Due: none

refactor(tests): remove redundant acceptance test for parser robustness
  tests/acceptance/test_parser_robustness.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(tests): remove redundant acceptance test for path normalization
  tests/acceptance/test_cross_platform_paths.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(tests): migrate EXECUTE validation from acceptance to unit tests
  src/teddy_executor/core/services/validation_rules/execute.py
  tests/acceptance/test_structured_execute_action.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tests): migrate unknown action validation to unit test
  src/teddy_executor/core/services/plan_validator.py
  tests/acceptance/test_plan_validation_logic.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(validator): make EXECUTE cwd safety check cross-platform
  src/teddy_executor/core/services/validation_rules/execute.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(validator): make absolute path check robust on Windows
  src/teddy_executor/core/services/validation_rules/execute.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tests): remove redundant multiline command acceptance test
  tests/acceptance/test_plan_validation_logic.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(tests): remove redundant chained command acceptance test
  tests/acceptance/test_plan_validation_logic.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(tests): migrate pre-flight validation logic to unit and integration layers
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/acceptance/test_action_failure_behavior.py
  tests/acceptance/test_progress_logging.py
  tests/acceptance/test_read_action.py
  tests/integration/adapters/inbound/test_cli_adapter.py
  tests/integration/core/services/test_plan_validator_integration.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: mark slice 20 complete and update implementation notes
  docs/architecture/core/services/plan_validator.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/20-invert-test-pyramid.md
Due: none

Update vertical slice doc
  docs/project/slices/20-invert-test-pyramid.md
Due: none

test(validator): migrate plan validation logic to integration layer
  tests/acceptance/test_plan_validation_logic.py
  tests/integration/core/services/test_plan_validator_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

test(validator): migrate comprehensive validation and edit safety to unit layer
  tests/acceptance/test_comprehensive_validation.py
  tests/acceptance/test_edit_action_safety.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture

test(acceptance): migrate core logic tests to unit and integration layers
  tests/acceptance/test_auto_skip_on_failure.py
  tests/acceptance/test_edit_action_refactor.py
  tests/acceptance/test_markdown_report_fixes.py
  tests/acceptance/test_markdown_reports.py
  tests/acceptance/test_read_action_url.py
  tests/acceptance/test_research_action.py
  tests/acceptance/test_shell_adapter_features.py
  tests/integration/adapters/outbound/test_file_system_adapter.py
  tests/integration/adapters/outbound/test_shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

docs: update vertical slice 20 status
  docs/project/slices/20-invert-test-pyramid.md
Due: none

Define refactor slice
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/refactor-standardize-validation-infrastructure.md
Due: none

refactor(validation): standardize validation infrastructure with class-based DI
  src/teddy_executor/container.py
  src/teddy_executor/core/services/plan_validator.py
  src/teddy_executor/core/services/validation_rules/create.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/execute.py
  src/teddy_executor/core/services/validation_rules/helpers.py
  src/teddy_executor/core/services/validation_rules/read.py
  tests/unit/core/services/test_plan_validator_refactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(validation): finalize documentation for standardized validation infrastructure
  docs/architecture/core/services/plan_validator.md
  docs/project/slices/refactor-standardize-validation-infrastructure.md
Due: none

feat(prompts): refine agent suite for consistency and elegance
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Refine docs
  docs/project/PROJECT.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
Due: none

docs(ux): design unified edit diffs and cli polish
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/edit_simulator.md
  docs/project/slices/09-cli-polish-and-ux-improvements.md
Due: none

Refine scenario dashboard
  prompts/dev.xml
Due: none

Refine prompt
  prompts/dev.xml
Due: none

Update docs
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/09-cli-polish-and-ux-improvements.md
Due: none

docs(cli): enhance help strings with root-relative path requirements
  docs/project/slices/09-cli-polish-and-ux-improvements.md
  src/teddy_executor/__main__.py
  tests/acceptance/test_cli_polish.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): implement unified diffs, new file previews, and help polish
  docs/project/slices/09-cli-polish-and-ux-improvements.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/__init__.py
  src/teddy_executor/core/domain/models/change_set.py
  src/teddy_executor/core/ports/inbound/edit_simulator.py
  src/teddy_executor/core/ports/outbound/__init__.py
  src/teddy_executor/core/ports/outbound/system_environment.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/edit_simulator.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/acceptance/test_change_preview_feature.py
  tests/acceptance/test_cli_polish.py
  tests/integration/adapters/inbound/test_cli_adapter.py
  tests/integration/adapters/outbound/test_file_system_adapter.py
  tests/integration/core/services/test_execution_orchestrator.py
  tests/integration/core/services/test_plan_validator_integration.py
  tests/unit/adapters/outbound/test_console_interactor.py
  tests/unit/core/services/test_edit_simulator.py
  tests/unit/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): use external editor for CREATE previews and preserve file extensions
  docs/project/slices/09-cli-polish-and-ux-improvements.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  tests/acceptance/test_cli_polish.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: finalize milestone 08 documentation and project status
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/adapters/outbound/local_file_system_adapter.md
  docs/architecture/adapters/outbound/system_environment_adapter.md
  docs/architecture/core/ports/inbound/edit_simulator.md
  docs/architecture/core/ports/outbound/system_environment.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/PROJECT.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
Due: none

docs: add implementation notes to slice 09
  docs/project/slices/09-cli-polish-and-ux-improvements.md
Due: none

docs: finalize milestone 08 and slice 09 documentation
  docs/project/slices/09-cli-polish-and-ux-improvements.md
Due: none

feat(dev-prompt): improve state persistence and code quality enforcement
  prompts/dev.xml
Due: none

docs(slices): add slice for standardized DI testing infrastructure
  docs/project/PROJECT.md
  docs/project/slices/21-standardize-di-testing.md
Due: none

chore(ci): move coverage failure threshold from pyproject.toml to CI
  .github/workflows/ci.yml
  pyproject.toml
Due: none

docs(ci): align architect prompt and ARCHITECTURE.md with CI coverage convention
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
Due: none

feat(cli): add confirmation for empty PROMPT responses
  src/teddy_executor/adapters/outbound/console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

reorder vertical slices
  docs/project/slices/21-refactor-standardize-validation-infrastructure.md
  docs/project/slices/22-cli-polish-and-ux-improvements.md
  docs/project/slices/23-standardize-di-testing.md
Due: none

test(di): add centralized container fixture to conftest.py
  tests/conftest.py
  tests/unit/test_di_fixture_smoke.py
Due: ruff-lint, ruff-format, mypy, vulture
