Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

fix CI
  scripts/verify_test_pyramid.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(ci): add CPD check and refactor quality standards
  .github/workflows/ci.yml
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none

chore(project): complete Milestone 08 and update archiving policy
  docs/project/PROJECT.md
  docs/project/milestones/08-core-refactoring-and-enhancements.md
  docs/project/slices/08-refactor-parser-and-fix-bug.md
  docs/project/slices/09-simplify-execute-syntax.md
  docs/project/slices/10-fix-parser-nesting-bug.md
  docs/project/slices/11-implement-trafilatura.md
  docs/project/slices/12-enhance-web-scraper.md
  docs/project/slices/13-trim-plan-preamble.md
  docs/project/slices/14-refactor-commandresult-to-shelloutput.md
  docs/project/slices/15-refactor-serpreport-to-websearchresults.md
  docs/project/slices/16-refactor-contextresult-to-projectcontext.md
  docs/project/slices/17-configure-ci-quality-gates.md
  docs/project/slices/18-enhance-cli-user-experience.md
  docs/project/slices/19-simplify-execute-action.md
  docs/project/slices/20-invert-test-pyramid.md
  docs/project/slices/21-refactor-standardize-validation-infrastructure.md
  docs/project/slices/22-cli-polish-and-ux-improvements.md
  docs/project/slices/23-standardize-di-testing.md
  docs/project/slices/24-standardize-test-infrastructure.md
  docs/project/slices/25-standardize-test-suite.md
  docs/project/slices/26-refactor-tests-to-standard-di.md
  docs/project/slices/27-standardize-test-infrastructure.md
  docs/project/slices/28-test-refactor.md
  prompts/pathfinder.xml
Due: none

chore: delete obsolete spec & renaming
  docs/project/specs/plan-format.md
  docs/project/specs/test-suite-rebalancing.md
Due: none

docs(specs): clarify report formats and refactor milestone 09
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/report-format.md
  docs/project/specs/session-history-view.md
Due: none

refactor: remove memos, make architecture prescriptive, and enhance recovery rules
  docs/architecture/ARCHITECTURE.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor: complete removal of memo feature and long-term memory references
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/specs/context-payload-format.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/manual-cli-workflow.md
  docs/project/specs/plan-format.md
  docs/project/specs/teddy-directory-structure.md
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

added action refactor slice
  docs/project/slices/10-cli-orchestration-polish.md
Due: none

chore(prompts): enforce single responsibility for plans
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore(prompts): refine testing standards and role definitions
  prompts/architect.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore(prompts): standardize code block formatting
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore(parser): sync error hints with new formatting standards
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): automate PRUNE skip and manual handoff instructions in non-interactive mode
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/acceptance/test_non_interactive_orchestration.py
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): handle handoff and prune in non-interactive mode
  docs/project/slices/10-cli-orchestration-polish.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/manual-cli-workflow.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/core/domain/models/execution_report.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_metadata.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/acceptance/test_non_interactive_orchestration.py
  tests/acceptance/test_report_enhancements.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(report): add test and fix for missing skip details on handoffs
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/unit/core/services/test_markdown_report_formatter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(cli): polish orchestration and control flow for handoff actions
  docs/architecture/adapters/outbound/console_interactor.md
  docs/architecture/core/ports/outbound/user_interactor.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/architecture/core/services/parser_metadata.md
  docs/project/slices/10-cli-orchestration-polish.md
  docs/project/specs/manual-cli-workflow.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/acceptance/test_non_interactive_orchestration.py
  tests/integration/core/services/test_action_dispatch_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine hint message
  src/teddy_executor/core/services/markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): enhance markdown formatting and error recovery rules
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(validation): optimize EDIT error output for AI token efficiency
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove completed slice
  docs/project/slices/10-cli-orchestration-polish.md
Due: none

Revert validator diff
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/unit/core/services/test_plan_validator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(arch): add config and llm ports and adapters with security gates
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/project/slices/10-foundation-security-config-llm.md
  poetry.lock
  pyproject.toml
Due: none

chore(env): configure security gates and baseline existing codebase
  pyproject.toml
  scripts/verify_test_pyramid.py
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/core/services/markdown_report_formatter.py
  src/teddy_executor/core/services/parser_infrastructure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement IConfigService and ILlmClient foundational services
  src/teddy_executor/adapters/outbound/__init__.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/outbound/__init__.py
  src/teddy_executor/core/ports/outbound/config_service.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  tests/integration/core/services/test_container_wiring.py
  tests/unit/adapters/outbound/test_litellm_adapter.py
  tests/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(ci): track .secrets.baseline to allow pre-commit to run in CI
  .gitignore
  .secrets.baseline
Due: none

docs: update architectural status and complete Slice 10 documentation
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/architecture/core/ports/outbound/llm_client.md
  docs/project/milestones/09-interactive-session-and-config.md
  docs/project/slices/10-foundation-security-config-llm.md
Due: none

new vertical slice for performance
  docs/project/slices/11-cli-performance-optimization.md
Due: none

chore(ci): exclude baseline from scanning to prevent recursive detection failures
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

chore(ci): add types-PyYAML stubs to resolve mypy import-untyped error
  poetry.lock
  pyproject.toml
Due: none

perf(cli): optimize cold-start time via lazy loading and container refactor
  docs/project/slices/11-cli-performance-optimization.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  src/teddy_executor/container.py
  tests/acceptance/test_lazy_loading.py
  tests/integration/adapters/outbound/test_web_searcher_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Delete completed performance slice
  docs/project/slices/11-cli-performance-optimization.md
Due: none

docs(slices): define slice 11 for execution report refactoring
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/domain/execution_report.md
  docs/architecture/core/domain_model.md
  docs/architecture/core/ports/outbound/markdown_report_formatter.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/11-refactor-execution-report-template.md
Due: none

new performance slice
  docs/project/slices/12-optimize-context-performance.md
Due: none

feat(context): optimize tree generation with pruning-aware recursive walk
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
  tests/integration/adapters/outbound/test_tree_generator_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(context): update tree generator docs to reflect pruning-aware walk
  docs/project/slices/12-optimize-context-performance.md
Due: none

Delete completed performance slice
  docs/project/slices/12-optimize-context-performance.md
Due: none

chore(dx): add pre-commit hook to delete spikes directory
  .pre-commit-config.yaml
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
