Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

debug: probe
  spikes/debug/remote_probe.sh
Due: none

docs(debugging): finalize case file 02 and cleanup workspace
  docs/project/debugging/02-ci-global-test-and-lint-failure.md
  spikes/debug/remote_probe.sh
Due: none

Minor change
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix: resolve global CI test and lint failures
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/harness/drivers/cli_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): separate documentation and implementation in debugger
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(prompts): refine message protocol and remove message action
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Cleanup
  docs/project/debugging/01-windows-ci-worker-crash.md
  docs/project/debugging/02-ci-global-test-and-lint-failure.md
Due: none

feat(debugger): interleave case file updates with probe execution
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix(core): resolve EDIT ambiguity gap and migrate dependent tests
  docs/project/debugging/01-ambiguous-edit-validation-gap.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/action_changeset_builder.py
  src/teddy_executor/core/services/validation_rules/edit.py
  src/teddy_executor/core/services/validation_rules/helpers.py
  tests/suites/integration/core/services/test_action_dispatch_logic.py
  tests/suites/integration/core/services/test_config_defaults.py
  tests/suites/unit/adapters/inbound/test_console_plan_reviewer.py
  tests/suites/unit/core/services/test_validator_edit.py
  tests/suites/unit/core/services/test_validator_edit_performance.py
  tests/suites/unit/core/services/test_validator_edit_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

fix(cli): validate agent prompt existence in pre-flight check
  docs/project/debugging/02-agent-validation-delay.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): harden debugger workflow with alignment gate and integration verification
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(cli): standardize non-interactive mode to -y/--yolo
  docs/project/PROJECT.md
  src/teddy_executor/__main__.py
  tests/harness/drivers/cli_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): standardize -y/--yolo flags and add execute description
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): finalize legacy purge strategy for milestone 01
  docs/project/milestones/01-structural-message-protocol.md
  docs/project/slices/01-03-cli-flag-realignment.md
  docs/project/slices/01-05-legacy-deprecation.md
Due: none

docs(project): relax READ/EDIT validation rules and update roadmap
  docs/project/PROJECT.md
  docs/project/specs/plan-format-validation.md
Due: none

docs(slice): update legacy deprecation plan and harvest debt
  docs/project/slices/01-05-legacy-deprecation.md
Due: none

cleanup(core): purge PROMPT and PRUNE logic remnants
  docs/project/slices/01-05-legacy-deprecation.md
  src/teddy_executor/core/services/action_dispatcher.py
  src/teddy_executor/core/services/validation_rules/filesystem.py
  src/teddy_executor/registries/validators.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

cleanup(core): finalize legacy deprecation and mock refactoring
  docs/project/slices/01-05-legacy-deprecation.md
  tests/suites/acceptance/helpers.py
  tests/suites/unit/core/services/test_action_executor.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(prompts): update programmatic edits to universal pattern and add roadmap specs
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(project): add verified spec links to roadmap milestones
  docs/project/PROJECT.md
Due: none

docs(project): add EDIT side-effect and existence check to specs
  docs/project/PROJECT.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

docs: mark Milestone 01 as Completed and define Milestone 02 strategy
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/core/services/context_service.md
  docs/project/PROJECT.md
  docs/project/milestones/01-structural-message-protocol.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-01-resilient-infrastructure.md
Due: none

Formatting cleanup
  docs/project/slices/02-01-resilient-infrastructure.md
Due: none

feat(prompts): standardize edge cases and enhance milestone/wip logic
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(fs): add is_dir to IFileSystemManager and LocalFileSystemAdapter
  docs/project/slices/02-01-resilient-infrastructure.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): implement stateful retry loop for transient errors
  docs/project/slices/02-01-resilient-infrastructure.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_retries.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement recursive directory expansion in ContextService
  docs/project/slices/02-01-resilient-infrastructure.md
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/context_service.py
  tests/harness/setup/mocks.py
  tests/suites/unit/core/services/test_context_recursion.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(adapters): implement list_directory_recursive in LocalFileSystemAdapter
  docs/project/slices/02-01-resilient-infrastructure.md
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_recursion.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(fs): centralize recursive walk and ignore loading
  docs/project/slices/02-01-resilient-infrastructure.md
  src/teddy_executor/adapters/outbound/filesystem_helpers.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/adapters/outbound/local_repo_tree_generator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement configurable LLM retries and context recursion
  docs/architecture/adapters/outbound/litellm_adapter.md
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/services/planning_service.md
  docs/project/slices/02-01-resilient-infrastructure.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/adapters/outbound/system_time_adapter.py
  src/teddy_executor/core/ports/outbound/time_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_litellm_adapter_retries.py
  tests/suites/unit/core/services/test_planning_service_retries.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(arch): design resilient scraping and deepened research for slice 02-02
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/outbound/web_scraper_adapter.md
  docs/architecture/adapters/outbound/web_searcher_adapter.md
  docs/architecture/core/domain/web_search_results.md
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/core/domain/models/web_search_results.py
  src/teddy_executor/resources/config/config.yaml
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(arch): simplify deep research config and specify fault tolerance
  docs/architecture/adapters/outbound/web_searcher_adapter.md
  src/teddy_executor/resources/config/config.yaml
Due: none

test(scraping): add reproduction harness for 403 and github raw issues
  docs/project/slices/02-02-web-scraping-resilience.md
  tests/suites/integration/adapters/outbound/test_web_scraper_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(domain): refine SearchResult DTO and restore green suite state
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/core/domain/models/web_search_results.py
  tests/suites/integration/adapters/outbound/test_web_scraper_resilience.py
  tests/suites/unit/core/domain/models/test_web_search_results.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): mandate green-to-green atomic deliverables
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(slices): re-plan 02-02 for green-to-green atomic delivery
  docs/project/slices/02-02-web-scraping-resilience.md
Due: none

feat(adapters): implement 403 forbidden fallback in WebScraperAdapter
  docs/project/slices/02-02-web-scraping-resilience.md
  src/teddy_executor/adapters/outbound/web_scraper_adapter.py
  tests/suites/integration/adapters/outbound/test_web_scraper_resilience.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
