Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

refactor(editor): use centralized run_command for diff viewer launch
  docs/project/PROJECT.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(console): flush stdin escape sequences after background editor closes
  docs/project/PROJECT.md
  docs/project/debugging/24-vim-editor-escape-sequence-leak.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(test): skip flush regression test on Windows (no termios module)
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(tasks): add YOLO guardrail termination message task brief
  docs/project/tasks/00-06-yolo-guardrail-termination-message.md
Due: none

docs(yolo-guardrail): add vertical slice for guardrail termination message
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
Due: none

feat(yolo-guardrail): update contract, production guard, and unit tests to tuple return type
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
  src/teddy_executor/core/ports/outbound/session_loop_guard.py
  src/teddy_executor/core/services/session_loop_guard.py
  tests/harness/setup/mocks.py
  tests/suites/unit/core/services/test_session_loop_guard.py
  tests/suites/unit/test_session_loop_guard_harness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(yolo-guardrail): update call site, harness fakes, and replan-loop lambdas to tuple contract with termination message
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/harness/setup/composition.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(yolo-guardrail): implement detailed human-readable guardrail reasons in ProductionSessionLoopGuard
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
  src/teddy_executor/core/services/session_loop_guard.py
  tests/suites/unit/core/services/test_session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(yolo-guardrail): sync architecture docs and config.yaml comment for tuple return type and termination message
  docs/architecture/core/ports/outbound/session_loop_guard.md
  docs/architecture/core/services/session_loop_guard.md
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
  src/teddy_executor/resources/config/config.yaml
Due: none

docs(yolo-guardrail): mark slice as completed and verification steps done
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
Due: none

fix(ask-loop): strip ANSI/OSC escape sequences from editor input
  docs/project/debugging/25-vim-editor-escape-sequence-leak-fix-incomplete.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debug): case file for YOLO guardrail termination message format issues from manual smoke test
  docs/project/debugging/25-yolo-guardrail-message-format.md
Due: none

docs(debug): expand YOLO guardrail case file with guardrail timing issue and corrected causal model
  docs/project/debugging/25-yolo-guardrail-message-format.md
Due: none

fix(yolo-guardrail): resolve off-by-one, absolute config path, duplicate output, and redundant prefix
  docs/project/debugging/25-yolo-guardrail-message-format.md
  docs/project/slices/00-06-yolo-guardrail-termination-message.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_loop_guard.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(yolo-guardrail): use os.path.normpath in config path assertions for cross-platform CI
  tests/suites/unit/core/services/test_session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(yolo-guardrail): split termination message into two lines, second line normal color
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

minor change
  src/teddy_executor/core/services/session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ask-loop): unconditionally strip escape sequences and ignore stdin when editor active
  spikes/debug/25-e2e-pty-repro.py
  spikes/debug/25-manual-verify.sh
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ask-loop): prevent app exit when editor returns empty content
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ask-loop): restore no-op cleanup() and fix test for stripped OSC-e
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Fix editor loop
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_bug_15_empty_message_termination.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(adapter): replace Path.resolve() and Path methods with os.path for pyfakefs compatibility
  docs/project/debugging/26-fs-recursion-path.md
  src/teddy_executor/adapters/outbound/filesystem_helpers.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  tests/suites/unit/adapters/outbound/test_file_system_adapter_recursion.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Editor slice
  docs/project/slices/00-07-editor-subsystem-overhaul.md
Due: none

feat(editor-subsystem-overhaul): implement Wiring (Console) deliverable - add _launch_editor_background tracer bullet, logging, and mock updates
  docs/project/PROJECT.md
  docs/project/slices/00-07-editor-subsystem-overhaul.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
  tests/suites/unit/adapters/outbound/test_console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor-subsystem-overhaul): implement Wiring (TUI) deliverable - notification in launch_editor, skip_confirm in add_message_handler, file-based harvest in _finalize_user_message
  docs/project/slices/00-07-editor-subsystem-overhaul.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/acceptance/test_tui_edit_workflow.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor-subsystem-overhaul): implement Logic (TUI) deliverable - persistent temp file storage via plan metadata with restore on init, store in add_message_handler, cleanup on finalize
  docs/project/slices/00-07-editor-subsystem-overhaul.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_previews.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_core.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor-subsystem-overhaul): implement Migration deliverable - add flush-timing test for harvest path, confirm escape stripping tests already migrated
  docs/project/slices/00-07-editor-subsystem-overhaul.md
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(editor-subsystem-overhaul): implement Cleanup deliverable - confirm _open_editor_blocking and VIMINIT suppression already removed, retain flush test file as non-redundant
  docs/project/slices/00-07-editor-subsystem-overhaul.md
Due: none

docs(debugging): create Case File for editor OSC sequence leak in harvest flow
  docs/project/debugging/27-editor-osc-sequence-leak.md
Due: none

fix(session_cli_handlers): strip leading newline before split for correct YOLO guardrail colorization
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(utils): strip digits and special characters from slugify
  docs/project/PROJECT.md
  src/teddy_executor/core/utils/string.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/unit/core/utils/test_string_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ask-loop): strip stripped OSC tails, add flush timing, and use basename in editor log
  docs/project/debugging/27-editor-osc-sequence-leak.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_stdin_flush.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(yolo-guardrail): consistently add empty line before guardrail messages
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_loop_guard.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(pty): isolate editor TTY to prevent terminal emulator OSC contamination
  docs/project/debugging/28-vim-editor-osc-residual-display.md
  spikes/debug/25-e2e-pty-repro.py
  spikes/debug/25-manual-verify.sh
  spikes/debug/probe.sh
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_escape_stripping.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_pty_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): add ad-hoc vertical slice for CLI editor regression fix
  docs/project/slices/00-08-cli-editor-regression-fix.md
Due: none

docs(slice): fix duplicate deliverables in 00-08-cli-editor-regression-fix and finalize orientation
  docs/project/slices/00-08-cli-editor-regression-fix.md
Due: none

feat(cli-editor): remove PTY plumbing from ConsoleAskLoop (deliverable 1/8)
  docs/project/slices/00-08-cli-editor-regression-fix.md
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_editor_background.py
  tests/suites/unit/adapters/outbound/test_console_ask_loop_pty_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli-editor): add CLI editor classification helper (deliverable 2/8)
  docs/project/slices/00-08-cli-editor-regression-fix.md
  src/teddy_executor/adapters/outbound/console_interactor_ask_loop.py
  tests/suites/unit/adapters/outbound/test_cli_editor_classification.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
