Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

test(editor-validation-and-discovery): add end-to-end preflight editor-selection test
  docs/architecture/adapters/outbound/console_tooling.md
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture

Update docs
  docs/project/milestones/03-foundational-refactors.md
  docs/project/slices/03-01-editor-validation-and-discovery.md
Due: none

fix(config): preserve comments when persisting editor setting
  docs/project/PROJECT.md
  docs/project/debugging/63-editor-config-set-rewrites-file.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_preserves_comments.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestones): record bespoke YAML line-editor as proposed slice
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

fix(editor): persist basename and expand tilde paths
  docs/architecture/adapters/inbound/cli.md
  docs/project/debugging/64-editor-value-basename-and-tilde-paths.md
  docs/project/specs/editor-validation-and-discovery.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/inbound/test_editor_value_persistence.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(milestones): record TEDDY_DIFF_TOOL tilde-expansion debt
  docs/project/PROJECT.md
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

fix(console-tooling): expand tilde in TEDDY_DIFF_TOOL resolution
  docs/project/PROJECT.md
  docs/project/debugging/65-teddy-diff-tool-tilde-expansion.md
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
  src/teddy_executor/adapters/outbound/console_tooling.py
  tests/suites/unit/adapters/outbound/test_diff_tool_tilde_expansion.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(editor): normalize mocked which matching for Windows CI parity
  docs/project/PROJECT.md
  docs/project/debugging/66-ci-main-failure.md
  tests/suites/unit/adapters/inbound/test_editor_value_persistence.py
  tests/suites/unit/adapters/outbound/test_diff_tool_tilde_expansion.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(milestone): record path-matching side-effect normalization slice
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
Due: none

test(harness): single-source POSIX path normalization for path-matching mocks
  docs/architecture/ARCHITECTURE.md
  docs/project/PROJECT.md
  docs/project/debugging/66-ci-main-failure.md
  docs/project/milestones/05-quality-gate-debt-reconciliation.md
  tests/harness/setup/mocking.py
  tests/suites/unit/adapters/inbound/test_editor_value_persistence.py
  tests/suites/unit/adapters/outbound/test_diff_tool_tilde_expansion.py
  tests/suites/unit/test_mocking_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(tasks): add ad-hoc brief for YOLO-by-default config
  docs/project/PROJECT.md
  docs/project/milestones/04-tui-ux-enhancements.md
  docs/project/tasks/00-25-yolo-default-config.md
Due: none

docs(yolo-default-config): add vertical slice for yolo_default config
  docs/project/slices/00-25-yolo-default-config.md
Due: none

docs(yolo-default-config): record plan audit and mark contract deliverable
  docs/project/slices/00-25-yolo-default-config.md
Due: none

feat(yolo-default-config): ship yolo_default key in config template
  docs/project/slices/00-25-yolo-default-config.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/inbound/test_yolo_default_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(yolo-default-config): add tri-state yolo flag and resolution helper
  docs/project/PROJECT.md
  docs/project/slices/00-25-yolo-default-config.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_yolo_default_config.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(yolo-default-config): fall back to yolo_default config when flag unset
  docs/project/slices/00-25-yolo-default-config.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/test_yolo_default_config.py
  tests/suites/unit/adapters/inbound/test_yolo_default_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(yolo-default-config): document tri-state yolo flag and yolo_default config
  README.md
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/core/ports/outbound/config_service.md
  docs/project/slices/00-25-yolo-default-config.md
Due: none

docs(yolo-default-config): mark slice completed and record verification
  docs/project/slices/00-25-yolo-default-config.md
Due: none

docs(editor-setup): add slice 00-26 and resolve bug 67 root cause
  docs/project/debugging/67-editor-empty-config-no-prompt.md
  docs/project/slices/00-26-editor-setup-decoupling.md
Due: none

docs(editor-setup-decoupling): re-partition plan and mark contract deliverable
  docs/project/slices/00-26-editor-setup-decoupling.md
Due: none

feat(editor-setup-decoupling): add isatty() terminal-availability seam
  docs/project/slices/00-26-editor-setup-decoupling.md
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  src/teddy_executor/core/ports/outbound/system_environment.py
  tests/suites/unit/adapters/outbound/test_system_environment_adapter_isatty.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(editor-setup-decoupling): pin TTY default on env mock and add with_tty toggle
  docs/project/slices/00-26-editor-setup-decoupling.md
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness_env_mock.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(editor-setup-decoupling): add setup_editor override to preflight editor gate
  docs/project/slices/00-26-editor-setup-decoupling.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(editor-setup-decoupling): compute and thread setup_editor through the session handlers
  docs/project/slices/00-26-editor-setup-decoupling.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_editor_setup_decoupling.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_setup_editor_resolution.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(editor-setup-decoupling): complete the editor-gate truth table
  docs/project/slices/00-26-editor-setup-decoupling.md
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(editor-setup-decoupling): contract the vestigial interactive gate fallback
  docs/project/slices/00-26-editor-setup-decoupling.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(editor-setup-decoupling): retire the hidden non-interactive CLI aliases
  docs/project/slices/00-26-editor-setup-decoupling.md
  src/teddy_executor/__main__.py
  tests/suites/acceptance/helpers.py
  tests/suites/acceptance/test_change_preview_feature.py
  tests/suites/acceptance/test_cli_ux_improvements.py
  tests/suites/integration/adapters/inbound/test_cli_adapter.py
  tests/suites/integration/adapters/inbound/test_cli_flag_consolidation.py
  tests/suites/integration/core/services/test_resilient_edit_matching_integration.py
  tests/suites/integration/core/services/test_session_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(editor-setup-decoupling): reconcile editor spec and CLI docs with the setup_editor gate
  docs/architecture/adapters/inbound/cli.md
  docs/architecture/adapters/outbound/system_environment_adapter.md
  docs/architecture/core/ports/outbound/system_environment.md
  docs/architecture/tests/setup/test_environment.md
  docs/project/slices/00-26-editor-setup-decoupling.md
  docs/project/specs/editor-validation-and-discovery.md
Due: none

docs(task): add 00-27 LLM API key configuration task brief
  docs/project/tasks/00-27-llm-api-key-configuration.md
Due: none

docs(llm-api-key-configuration): author vertical slice for LLM API key configuration
  docs/project/slices/00-27-llm-api-key-configuration.md
Due: none

feat(llm-api-key-configuration): add set_env_variable to IConfigService and YamlConfigAdapter
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/core/ports/outbound/config_service.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_env_persistence.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm-api-key-configuration): add ${VAR} interpolation to YamlConfigAdapter
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_interpolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add editor-setup hint for non-PATH editors
  docs/project/PROJECT.md
  docs/project/specs/editor-validation-and-discovery.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_editor_setup_tip.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm-api-key-configuration): point bundled config.yaml llm.api_key at env var
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter_layering.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(llm-api-key-configuration): scaffold .teddy/.env placeholder in init
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/core/services/init_service.py
  tests/suites/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm-api-key-configuration): point empty-key error at .teddy/.env and TEDDY_LLM_API_KEY
  docs/project/PROJECT.md
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_preflight.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm-api-key-configuration): add additive setup_api_key preflight gate
  docs/project/PROJECT.md
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_preflight_wiring.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm-api-key-configuration): thread interactive API-key preflight setup end-to-end
  docs/project/PROJECT.md
  docs/project/slices/00-27-llm-api-key-configuration.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_api_key_setup_wiring.py
  tests/suites/acceptance/test_editor_setup_decoupling.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(llm-api-key-configuration): pin the API-key preflight gate edge-case table
  docs/project/slices/00-27-llm-api-key-configuration.md
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_api_key_gate.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): retire session-migration reqs and add single-folder task brief
  docs/architecture/core/ports/outbound/file_system_manager.md
  docs/architecture/core/services/session_service.md
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/tasks/00-28-session-turn-numbering-and-read-cap.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
