Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

fix(litellm): broadcast hydrated metadata to all candidate model IDs
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(cli): localize config check message to start command
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/acceptance/test_cli_ux_improvements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(debugging): identify deferred hydration root cause and update slice 03
  docs/project/debugging/06-openrouter-hydration-failure-revisited.md
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

fix(llm): implement deferred hydration retry for completion cost calculation
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_telemetry.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): return 0.0 on cost calculation failure
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_telemetry.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(planning): distinguish missing pricing from free models in telemetry
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter_telemetry.py
  tests/suites/unit/core/ports/outbound/test_llm_client_contract.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update docs
  docs/project/debugging/07-openrouter-hydration-persistence.md
  docs/project/slices/03-resilient-openrouter-metadata.md
Due: none

fix(llm): synchronize hydration across model aliases in cost calculation
  docs/project/slices/03-resilient-openrouter-metadata.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/ports/outbound/llm_client.py
  src/teddy_executor/core/services/planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(core): optimize startup bootstrap and inter-turn preflight
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(planning): resolve telemetry race condition and optimize hydration trigger
  src/teddy_executor/core/services/planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add descriptive success message after config check
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(cli): add model and agent to config success message
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(planning): eliminate redundant remote preflight and move feedback earlier
  src/teddy_executor/core/services/planning_service.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

perf(cli): add early initialization feedback to reduce perceived lag
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "perf(cli): add early initialization feedback to reduce perceived lag"
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update config
  src/teddy_executor/resources/config/config.yaml
Due: none

Refine prompts
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prompts): refine developer refactoring and debt logic
  src/teddy_executor/resources/prompts/developer.xml
Due: none

Update standard config model
  src/teddy_executor/resources/config/config.yaml
Due: none

refactor(cli): remove redundant empty bootstrap function
  src/teddy_executor/__main__.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Cleanup
  docs/project/debugging/01-validation-error-meta-user-request.md
  docs/project/debugging/02-openrouter-deepseek-routing-error.md
  docs/project/debugging/03-openrouter-metadata-failure.md
  docs/project/debugging/04-openrouter-timeout-startup-lag.md
  docs/project/debugging/05-openrouter-hydration-failure-ui-regression.md
  docs/project/debugging/06-openrouter-hydration-failure-revisited.md
  docs/project/debugging/07-openrouter-hydration-persistence.md
  docs/project/slices/02-fix-config-routing-logic.md
  docs/project/slices/03-resilient-openrouter-metadata.md
  spikes/showcases/03-openrouter-resilience.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(specs): align protocols and UI with as-built requirements
  docs/project/specs/handoff-protocol.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/plan-format.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

Slight change
  docs/project/specs/handoff-protocol.md
Due: none

Log debt in Vertical Slice
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine specs
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

add spec for new milestones
  docs/project/specs/milestones.md
Due: none

Refine architect & pathfinder milestone management
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Update roadmap
  docs/project/PROJECT.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

feat(prompts): standardize roadmap format and xml tag conventions
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

docs(project): standardize TUI workflow and smart diff mapping
  docs/project/PROJECT.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

feat(arch): design structural message protocol milestone and first slice
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/milestones/01-structural-message-protocol.md
  docs/project/slices/01-01-parser-message-support.md
Due: none

Refine milestone
  docs/project/milestones/01-structural-message-protocol.md
Due: none

Refine docs
  docs/project/PROJECT.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/plan-format.md
  docs/project/specs/report-format.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

chore(prompts): enforce environment wrapping for shell commands
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine specs
  docs/project/PROJECT.md
Due: none

feat(core): add MESSAGE action type
  docs/project/slices/01-01-parser-message-support.md
  src/teddy_executor/core/domain/models/plan.py
  tests/suites/unit/core/domain/models/test_message_action_type.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(parser): implement structural message protocol support
  docs/project/slices/01-01-parser-message-support.md
  src/teddy_executor/core/services/action_parser_complex.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_reporting.py
  tests/harness/drivers/plan_builder.py
  tests/suites/unit/core/services/test_parser_message_protocol.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): enforce parity law for contract/harness updates
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(parser): add structural message protocol and ActionFactory support
  docs/architecture/core/services/action_factory.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/01-01-parser-message-support.md
  src/teddy_executor/core/services/action_factory.py
  tests/suites/unit/core/services/test_action_factory_message.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine project.md blueprint
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none
