Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

docs(slice): mark Logic deliverable completed for parser trailing-text cleanup
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

feat(tests): add Harness test for mid-execution EDIT consistency
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/unit/core/services/test_action_executor.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(executor): implement mid-execution EDIT consistency with hash tracking
  docs/project/slices/02-06-orchestrator-hardening.md
  src/teddy_executor/core/services/action_executor.py
  tests/suites/unit/core/services/test_action_executor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

new case file
  docs/project/debugging/09-edit-matcher-backtick-similarity.md
Due: none

fix(test): configure read_file mock for hash tracking compatibility
  docs/project/debugging/10-similarity-fallback-missing-config.md
  tests/suites/integration/core/services/test_config_defaults.py
Due: ruff-lint, ruff-format, mypy, vulture

test(acceptance): add EXECUTE fail-fast wiring acceptance test
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/acceptance/test_execute_fail_fast.py
Due: ruff-lint, ruff-format, mypy, vulture

test(acceptance): add EDIT mid-execution consistency wiring acceptance test
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/acceptance/test_edit_mid_execution_consistency.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): reorder Implementation Notes in 02-06-orchestrator-hardening
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-06-orchestrator-hardening.md
  spikes/debug/06-windows-interactive-probe.sh
Due: none

feat(hooks): add post-commit test gate and install-script
  .githooks/post-commit
  scripts/install-hooks.sh
Due: none

docs(prompts): add Context Review step and milestone doc sync rule to pathfinder prompt
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(hooks): add unskippable post-commit test gate
  .pre-commit-config.yaml
  README.md
  scripts/install-hooks.sh
Due: none

Test hook
  README.md
Due: none

fix(ci): gate publish workflow on CI test-suite completion
  .github/workflows/publish.yml
Due: none

docs(architecture,pathfinder): move test execution reference from pre-commit to post-commit
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Refine pathfinder
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

fix(session-service): preserve leading dots in _extract_resource_path
  docs/project/debugging/11-dot-strip-context.md
  src/teddy_executor/core/services/session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(path-normalization): replace lstrip with removeprefix in validation and pruning
  docs/project/debugging/11-dot-strip-context.md
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/core/services/validation_rules/helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Rename resource contents
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/session_replanner.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/harness/observers/report_parser.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/unit/core/services/test_context_service.py
  tests/suites/unit/core/services/test_formatter_action_logs.py
  tests/suites/unit/core/services/test_formatter_misc.py
  tests/suites/unit/core/services/test_markdown_report_formatter_enhancements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-service): apply pruning before execution effects in transition_to_next_turn
  docs/project/debugging/12-read-auto-prune-order.md
  src/teddy_executor/core/services/session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(report): fence MESSAGE action content in Action Log under User Reply
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_report_message_fencing.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine requirements
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
Due: none

fix(report): render MESSAGE action content in fenced codeblock under User Reply
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_report_message_fencing.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(pathfinder): explicitly prohibit creating vertical slice .md files
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(orchestrator): skip READ actions for files already in session context
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(openrouter_hydrator): strip colon-based routing shortcuts before model ID lookup
  docs/project/debugging/12-openrouter-shortcuts-cost-bug.md
  src/teddy_executor/adapters/outbound/openrouter_hydrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(orchestrator): skip READ actions for files already in session context"
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update default config
  src/teddy_executor/resources/config/config.yaml
Due: none

Update default similarity threshold fallback
  src/teddy_executor/core/domain/models/plan.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): update similarity threshold test assertion to reflect new default of 0.95
  docs/project/debugging/13-default-threshold-mismatch.md
  tests/suites/acceptance/test_similarity_threshold_config.py
Due: ruff-lint, ruff-format, mypy, vulture

Rename Resource Contents
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/session_replanner.py
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/harness/observers/report_parser.py
  tests/suites/acceptance/test_context_command_refactor.py
  tests/suites/unit/core/services/test_context_service.py
  tests/suites/unit/core/services/test_formatter_action_logs.py
  tests/suites/unit/core/services/test_formatter_misc.py
  tests/suites/unit/core/services/test_markdown_report_formatter_enhancements.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(edit_matcher): use >= thresholds and remove 100-line fallback limit
  src/teddy_executor/core/services/validation_rules/edit_matcher_heuristics.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(debugger): mandate regression tests for every fix
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

Add READ note
  src/teddy_executor/core/services/templates/execution_report.md.j2
Due: none

docs(replanning): remove context change warning and markdown rendering TUI, add AST parser resilience and config validation retry
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

Minor change
  src/teddy_executor/core/services/session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore: suppress TID251 for MagicMock in test_regression_resume_meta
  docs/project/debugging/09-edit-matcher-backtick-similarity.md
  docs/project/debugging/13-resume-metadata-update.md
  docs/project/slices/02-07-resume-metadata-propagation.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_cli_handlers_resume_meta.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Cleanup
  docs/project/slices/02-07-resume-metadata-propagation.md
Due: none

Requirements change
  docs/project/PROJECT.md
  docs/project/specs/milestones.md
  docs/project/specs/stability-and-bugfixes.md
Due: none
