Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

Slight refinement
  docs/project/slices/02-03-safety-limits.md
Due: none

feat(core): update ISessionLoopGuard contract with cost and interactivity
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/outbound/session_loop_guard.py
  src/teddy_executor/core/services/session_loop_guard.py
  tests/harness/setup/composition.py
  tests/harness/setup/real_adapter_mixin.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
  tests/suites/unit/core/services/test_session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): ensure recursive directory expansion for paths inside context manifests
  docs/project/debugging/04-context-directory-read-failure.md
  src/teddy_executor/core/services/context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(core): ensure default context paths are expanded recursively to prevent IsADirectoryError
  src/teddy_executor/core/services/context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update research hint
  docs/project/slices/00-02-refine-research-output.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/integration/core/services/test_report_formats_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(prompts): refine agent workflows and dashboard persistence
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(cli): extract shared session loop to fix PLR0915
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Update slice
  docs/project/slices/02-03-safety-limits.md
Due: none

test(harness): implement MockSessionLoopGuard fixture
  docs/project/slices/02-03-safety-limits.md
  tests/conftest.py
  tests/harness/setup/composition.py
  tests/harness/setup/mocks.py
  tests/suites/unit/test_session_loop_guard_harness.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(core): implement constructor seam for session loop guard
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_loop_guard.py
  tests/suites/unit/core/services/test_session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): add get_cumulative_cost to ISessionManager and fix CLI turn ID extraction
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/ports/test_session_manager_contract.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement process-relative YOLO guardrails in loop guard
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/core/services/session_loop_guard.py
  tests/suites/unit/core/services/test_session_loop_guard.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): implement turn 99 centennial migration
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/core/services/session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement message turn protection in SessionPruningService
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_message_protection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(ux): add console title logging requirements to milestone 3
  docs/project/PROJECT.md
  docs/project/specs/interactive-session-workflow.md
Due: none

feat(core): relocate agent prompt to session root
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/unit/core/services/test_session_service.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Remove user request hint
  docs/project/specs/interactive-session-workflow.md
  src/teddy_executor/core/services/templates/execution_report.md.j2
  tests/suites/unit/core/services/test_report_message_fencing.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(session): wire yolo guardrails and add enabled flag
  docs/architecture/core/ports/outbound/session_loop_guard.md
  docs/project/slices/02-03-safety-limits.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_loop_guard.py
  src/teddy_executor/resources/config/config.yaml
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): strengthen message turn protection with explicit report success guard
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/core/services/test_session_pruning_message_protection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): clean up message sparing logic and metadata collection
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_message_protection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(docs): finalize design for slice 02-04 (context automation)
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-04-context-automation.md
Due: none

docs(slice): initialize 02-04-context-automation as in progress
  docs/project/slices/02-04-context-automation.md
Due: none

docs(slice): update 02-04-context-automation plan after audit
  docs/project/slices/02-04-context-automation.md
Due: none

feat(context): inject IWebScraper into ContextService
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_recursion.py
  tests/suites/unit/core/services/test_context_service.py
  tests/suites/unit/core/services/test_context_service_performance.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): support remote URL content in context gathering
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Minor change
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(core): add URL guard to recursive context resolution
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_recursion.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): relax EDIT validation rules and identical block check
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/suites/acceptance/test_redundant_edit_hints.py
  tests/suites/integration/core/services/test_session_orchestrator_validation.py
  tests/suites/unit/core/services/test_validator_edit.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): relax READ validation to allow files already in context
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/core/services/validation_rules/filesystem.py
  tests/suites/integration/core/services/test_session_orchestrator_validation.py
  tests/suites/integration/core/services/test_session_pruning_persistence.py
  tests/suites/unit/core/services/test_validator_read.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): automate CREATE and EDIT path auto-addition to turn context
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): add manifest recursion integration test and fix context service wiring
  docs/project/slices/02-04-context-automation.md
  src/teddy_executor/container.py
  tests/suites/integration/core/services/test_context_manifest_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(core): update component docs and mark context automation slice as completed
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/session_service.md
  docs/project/slices/02-04-context-automation.md
Due: none

chore(prompts): refine agent workflows and standards
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

docs(architecture): align standards with agent prompts and prune low-level details
  docs/architecture/ARCHITECTURE.md
Due: none

docs(milestones): finalize design for stability and hardening slices
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-05-architecture-efficiency.md
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

docs(slices): align pruning terminology with spec
  docs/project/slices/02-05-architecture-efficiency.md
Due: none

docs(design): stabilize milestone and slice state after spike verification
  docs/project/milestones/02-stability-and-polish.md
Due: none

docs(design): refine parser resilience deliverables in slice 02-06
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

docs(design): add session termination on empty message to slice 02-05
  docs/project/slices/02-05-architecture-efficiency.md
Due: none

docs(slice): start 02-05 architecture efficiency
  docs/project/slices/02-05-architecture-efficiency.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
