Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

refactor(prompts): restructure dev workflow for atomic scenario commits
  prompts/dev.xml
Due: none

refine spacer
  src/teddy_executor/adapters/outbound/console_interactor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(protocol): enforce terminal action isolation and handoff plan type
  docs/project/slices/00-02-enforce-action-isolation.md
  docs/project/specs/plan-format.md
  docs/project/specs/report-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(orchestrator): enforce soft isolation for terminal actions
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/00-02-enforce-action-isolation.md
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/acceptance/test_action_isolation.py
  tests/integration/core/services/test_execution_orchestrator.py
  tests/unit/core/services/test_orchestrator_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slices): add EDIT mismatch indicator slice
  docs/project/slices/00-03-edit-mismatch-indicator.md
Due: none

Refine Handoff Rule (Isolation Mandate)
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

Delete wrong slice
  docs/project/slices/00-03-edit-mismatch-indicator.md
Due: none

docs(discovery): add slice for edit mismatch indicator
  docs/project/slices/00-03-edit-mismatch-indicator.md
Due: none

feat(parser): standardize mismatch indicators across structural and action errors
  docs/architecture/core/services/parser_infrastructure.md
  docs/project/slices/00-03-edit-mismatch-indicator.md
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/parser_infrastructure.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts): move plan type mandates to action blocks
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

feat(arch): add plan reviewer service and textual TUI design
  docs/architecture/ARCHITECTURE.md
  docs/architecture/adapters/inbound/textual_plan_reviewer.md
  docs/architecture/core/ports/inbound/plan_reviewer.md
  docs/project/slices/09-06-interactive-tui-resume-workflow.md
  poetry.lock
  pyproject.toml
  src/teddy_executor/core/domain/models/plan.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refine dev scenario workflow
  prompts/dev.xml
Due: none

feat(session): implement smart resume state machine and CLI command
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_service.md
  docs/project/slices/09-06-interactive-tui-resume-workflow.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/console_interactor.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/ports/outbound/session_manager.py
  src/teddy_executor/core/ports/outbound/user_interactor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/init_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/acceptance/test_session_management.py
  tests/integration/core/services/test_session_resume.py
  tests/unit/core/services/test_session_orchestrator.py
  tests/unit/core/services/test_session_orchestrator_resume.py
  tests/unit/core/services/test_session_orchestrator_validation.py
  tests/unit/core/services/test_session_service_state.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): streamline dev scenario loop and align architect feedback
  prompts/architect.xml
  prompts/dev.xml
Due: none

refactor(cli): extract handle_report_output to remove duplication
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/cli_helpers.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Align docs
  docs/project/slices/09-06-interactive-tui-resume-workflow.md
  docs/project/specs/interactive-session-workflow.md
Due: none

feat(cli): implement streamlined init for new sessions and refactor handlers
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/acceptance/test_session_management.py
  tests/acceptance/test_streamlined_init.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(orchestrator): implement partial execution support via IPlanReviewer
  docs/architecture/ARCHITECTURE.md
  docs/project/slices/09-06-interactive-tui-resume-workflow.md
  src/teddy_executor/container.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  src/teddy_executor/core/services/action_executor.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/acceptance/test_partial_execution.py
  tests/integration/core/services/test_action_executor_integration.py
  tests/unit/core/services/test_orchestrator_data_flow.py
  tests/unit/core/services/test_orchestrator_isolation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): implement context-aware editing foundation and fix parameter normalization
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/domain_model.md
  docs/architecture/core/services/action_dispatcher.md
  docs/architecture/core/services/execution_orchestrator.md
  docs/project/slices/09-06-interactive-tui-resume-workflow.md
  src/teddy_executor/core/services/action_dispatcher.py
  tests/acceptance/test_context_aware_editing.py
  tests/acceptance/test_partial_execution.py
  tests/integration/core/services/test_partial_execution_integration.py
  tests/unit/core/services/test_action_dispatcher_normalization.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): implement Textual plan reviewer and standardize IFileSystemManager naming
  docs/project/slices/09-06-interactive-tui-resume-workflow.md
  src/teddy_executor/__main__.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/outbound/local_file_system_adapter.py
  src/teddy_executor/core/domain/models/plan.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  src/teddy_executor/core/ports/outbound/__init__.py
  src/teddy_executor/core/ports/outbound/file_system_manager.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/init_service.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/integration/core/services/test_session_orchestrator_validation.py
  tests/unit/adapters/inbound/test_reviewer_app.py
  tests/unit/adapters/inbound/test_textual_plan_reviewer.py
  tests/unit/core/services/test_action_factory.py
  tests/unit/core/services/test_init_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): standardize artifact generation templates across all agents
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

fast track vertical slice + prompt refinement
  docs/project/slices/00-04-validation-diagnostics-polish.md
  prompts/pathfinder.xml
Due: none

feat(validation): improve diagnostic feedback and AST trace visibility
  docs/architecture/core/services/action_parser_strategies.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/00-04-validation-diagnostics-polish.md
  src/teddy_executor/core/ports/inbound/plan_parser.py
  src/teddy_executor/core/services/action_parser_strategies.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/integration/core/services/test_validation_diagnostics_integration.py
  tests/unit/core/ports/inbound/test_plan_parser_errors.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine phrasing
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/integration/core/services/test_validation_diagnostics_integration.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): add hanging command management fast-track slice
  docs/project/slices/00-05-hanging-command-management.md
Due: none

docs(specs): document EXECUTE background and timeout parameters
  docs/project/specs/plan-format-validation.md
  docs/project/specs/plan-format.md
Due: none

feat(shell): implement configurable global execution timeout
  .secrets.baseline
  config/config.yaml
  docs/project/slices/00-05-hanging-command-management.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/adapters/outbound/yaml_config_adapter.py
  src/teddy_executor/container.py
  src/teddy_executor/core/ports/outbound/shell_executor.py
  src/teddy_executor/core/services/action_factory.py
  tests/acceptance/test_hanging_command_management.py
  tests/unit/adapters/outbound/test_shell_adapter_timeout.py
  tests/unit/adapters/outbound/test_yaml_config_adapter.py
  tests/unit/core/services/test_action_factory_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tests): resolve CI regressions and standardize mocking
  tests/integration/core/services/test_action_dispatch_logic.py
  tests/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(shell): capture and report partial output on command timeout
  docs/project/slices/00-05-hanging-command-management.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/acceptance/test_hanging_command_management.py
  tests/unit/adapters/outbound/test_shell_adapter_timeout.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(shell): implement intentional background execution with PID reporting
  .secrets.baseline
  docs/project/slices/00-05-hanging-command-management.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/ports/outbound/shell_executor.py
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/services/action_parser_strategies.py
  tests/acceptance/test_hanging_command_management.py
  tests/unit/adapters/outbound/test_shell_adapter_background.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(shell): implement hanging command management with timeouts and backgrounding
  .secrets.baseline
  docs/architecture/adapters/outbound/shell_adapter.md
  docs/architecture/adapters/outbound/yaml_config_adapter.md
  docs/architecture/core/domain/shell_output.md
  docs/architecture/core/services/action_factory.md
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/00-05-hanging-command-management.md
  src/teddy_executor/core/services/action_parser_strategies.py
  tests/acceptance/test_hanging_command_management.py
  tests/unit/core/services/test_markdown_plan_parser.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Slight prompt change
  prompts/dev.xml
Due: none

chore(shell): de-duplicate execute signature to satisfy jscpd
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs: align prompts and specs with new plan format
  docs/project/specs/plan-format.md
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

docs: clarify optional EXECUTE parameters in all prompts
  prompts/architect.xml
  prompts/debugger.xml
  prompts/dev.xml
  prompts/pathfinder.xml
Due: none

chore(ci): resolve code duplication and node 20 deprecation warnings
  .github/workflows/ci.yml
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(ci): resolve persistent jscpd duplication and relocate node 24 opt-in
  .github/workflows/ci.yml
  src/teddy_executor/adapters/outbound/shell_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(ci): move node 24 opt-in to top-level env for global visibility
  .github/workflows/ci.yml
Due: none

chore(ci): upgrade actions to v5/v6 for native node 24 support
  .github/workflows/ci.yml
Due: none

chore(ci): stabilize windows tests and coverage reporting
  pyproject.toml
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/acceptance/test_hanging_command_management.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
