Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

refactor(core): relocate agent prompt to session root
  docs/project/slices/02-05-architecture-efficiency.md
  src/teddy_executor/core/services/prompt_manager.py
  tests/suites/unit/core/services/test_session_service_cost.py
  tests/suites/unit/core/services/test_session_service_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(config): add preserve_message_turns to baseline and verify pruning logic
  docs/project/slices/02-05-architecture-efficiency.md
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prompts): synchronize blueprints and refine agent workflows
  spikes/prototypes/02-03-safety-limits.py
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: ruff-lint, ruff-format, mypy, vulture

ci(pre-commit): enforce pytest execution prior to commit
  .pre-commit-config.yaml
Due: none

docs(project): add post-execution user message logging requirement
  docs/project/PROJECT.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

feat(prompts): refocus pathfinder on high-level strategic alignment
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(project): refine auto-pruning threshold to count only Turn scope
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

fix(core): prevent crash on missing plan file during session resume
  docs/project/debugging/05-session-plan-resolution-crash.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): finalize Milestone 2 specs with TTY hardening and sequential edits
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/02-05-architecture-efficiency.md
  docs/project/slices/02-06-orchestrator-hardening.md
  docs/project/specs/interactive-session-workflow.md
  docs/project/specs/stability-and-bugfixes.md
Due: none

test(core): add contract test for session-root prompt placement
  docs/project/slices/02-05-architecture-efficiency.md
  tests/suites/unit/core/services/test_session_service_prompt_contract.py
Due: ruff-lint, ruff-format, mypy, vulture

test(core): add contract test for dynamic agent naming in create_session
  docs/project/slices/02-05-architecture-efficiency.md
  tests/suites/unit/core/services/test_session_service_dynamic_agent_naming.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(core): implement session termination on empty user message
  docs/project/slices/02-05-architecture-efficiency.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_empty_message.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): preserve message turns in global budget pruning
  docs/project/slices/02-05-architecture-efficiency.md
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_session_pruning_preserve_messages_budget.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): complete 02-05-architecture-efficiency with stale test verification
  docs/project/slices/02-05-architecture-efficiency.md
Due: none

docs(milestone): mark slice 02-05-architecture-efficiency as completed
  docs/project/milestones/02-stability-and-polish.md
Due: none

docs(slice): reorder 02-06 deliverables into Dependency Sequence, add Wiring and Implementation Notes
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

feat(shell): detect interactive prompts via EOFError patterns
  docs/project/slices/02-06-orchestrator-hardening.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_interactive_detection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(shell): implement interactive prompt detection via os.setsid and EOFError patterns
  docs/project/slices/02-06-orchestrator-hardening.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_interactive_detection.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(shell): implement Windows interactive prompt detection with direct-method test harness
  docs/project/slices/02-06-orchestrator-hardening.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_windows_interactive.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): create Case File 06 and update Milestone 2 for diagnostic reporting
  docs/project/PROJECT.md
  docs/project/debugging/06-session-validation-report-clutter.md
Due: none

fix(tests): correct ShellAdapter mock wiring for _popen binding and _handle_timeout return_value
  docs/project/debugging/07-shell-adapter-timeout-regression.md
  tests/suites/unit/adapters/outbound/test_shell_adapter_background.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_timeout.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_windows_interactive.py
Due: ruff-lint, ruff-format, mypy, vulture

debug: windows interactive probe
  spikes/debug/06-windows-interactive-probe.sh
Due: none

fix(test): quote file path in mid-plan failure EXECUTE command
  docs/project/debugging/08-local-failure.md
  tests/suites/acceptance/test_execute_mid_plan_failure.py
Due: ruff-lint, ruff-format, mypy, vulture

fix(shell): detect Windows interactive prompts via dual-stream check and silent exit heuristic
  docs/project/debugging/06-windows-interactive-detection.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/core/services/test_session_orchestrator_empty_message.py
  tests/suites/unit/core/services/test_session_service_dynamic_agent_naming.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(prompts): forbid handoff commands in Pathfinder strategic alignment gate
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

fix(session): propagate is_session flag through validation failure paths
  docs/project/debugging/06-session-validation-report-clutter.md
  docs/project/slices/02-06-orchestrator-hardening.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_replanner.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(assistant): add handoff to Pathfinder in conclusion phase
  src/teddy_executor/resources/prompts/assistant.xml
Due: none

Refine assistant conclude phase
  src/teddy_executor/resources/prompts/assistant.xml
Due: none

docs(architecture): fix typo and mention test suite in pre-commit hooks
  docs/architecture/ARCHITECTURE.md
Due: none

docs(pathfinder): clarify full test suite mandatory in pre-commit hooks
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

refactor(prompts): restructure assistant phases and add scope creep prevention
  src/teddy_executor/resources/prompts/assistant.xml
Due: none

test(session): add unit tests for build_failure_report is_session parameter
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/unit/core/services/test_session_replanner.py
Due: ruff-lint, ruff-format, mypy, vulture

test(session): add unit tests for gather_failed_resources is_session parameter
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/unit/core/services/test_session_replanner.py
Due: ruff-lint, ruff-format, mypy, vulture

test(session): add unit tests for trigger_replan is_session parameter
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture

test(session): enhance test proving is_session propagation in _handle_logical_validation_errors
  docs/project/slices/02-06-orchestrator-hardening.md
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(slice): mark gather_failed_resources is_session Logic deliverable as completed
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

docs(slice): mark build_failure_report is_session Logic deliverable as completed
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

docs(slice): mark Refactor deliverable is_session backward compatibility as completed
  docs/project/slices/02-06-orchestrator-hardening.md
Due: none

docs(project): add provider routing and display requirements to Milestone 2
  docs/project/PROJECT.md
  docs/project/milestones/02-stability-and-polish.md
Due: none

feat(parser): skip CodeFence and ThematicBreak between action blocks
  docs/project/slices/02-06-orchestrator-hardening.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/unit/core/services/test_parser_errors.py
  tests/suites/unit/core/services/test_parser_fence_cleanup.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
