Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

chore(prompts): refine developer workflow and refactoring steps
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(session): implement non-interactive programmatic context harvesting
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine quality check handling
  src/teddy_executor/resources/prompts/developer.xml
Due: none

Refine wording
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(session): always prompt for initial message when missing
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_start_resequencing.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): remove not interactive check from loop breakout conditions
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  tests/suites/unit/adapters/inbound/test_session_replan_loop.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

test(sessions): verify non-interactive loops, prompts, and auto-pruning
  docs/project/slices/00-04-context-management-ui.md
  tests/suites/acceptance/test_session_management.py
Due: ruff-lint, ruff-format, mypy, vulture

refactor(prompts): refine developer, debugger, and pathfinder workflows
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

mention in code block formatting rule not to include extraneous text at end of code block closing fences
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(prompts): restrict exploration to missing context and avoid tangents
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

Cleanup
  docs/project/debugging/01-windows-ci-crash.md
  docs/project/debugging/02-auto-prune-failed-recovery.md
  docs/project/debugging/03-session-loop-breakage.md
  docs/project/debugging/04-windows-path-assertion-failure.md
  docs/project/debugging/05-session-y-bugs.md
  docs/project/slices/00-01-user-modified-audit-trail.md
  docs/project/slices/00-02-session-config-preflight.md
  docs/project/slices/00-03-session-telemetry-ux.md
  docs/project/slices/00-04-context-management-ui.md
Due: none

Chronological Session History Integration slice
  docs/project/slices/00-04-chronological-session-history.md
Due: none

Slight rewording
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(session-history): prototype chronological session history
  docs/project/slices/00-04-chronological-session-history.md
  docs/project/specs/context-payload-format.md
  spikes/prototypes/00-04-session-history-prototype.py
Due: ruff-lint, ruff-format, mypy, vulture

Refine prototyper workflow
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(session): add pure helpers for session history
  docs/project/slices/00-04-chronological-session-history.md
  src/teddy_executor/core/utils/markdown.py
  tests/suites/unit/core/utils/test_markdown_utils.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): define HISTORY_LABEL constant and update _is_context_data
  docs/project/slices/00-04-chronological-session-history.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_logic.py
  tests/suites/unit/adapters/inbound/test_textual_plan_reviewer_logic.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session-history): partition and format chronological session history in context payload
  docs/project/slices/00-04-chronological-session-history.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): wire session history node and filter standard folders
  docs/project/slices/00-04-chronological-session-history.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(tui): separate and aggregate session history tokens in context preview
  docs/project/slices/00-04-chronological-session-history.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_helpers.py
  tests/suites/unit/adapters/inbound/test_reviewer_app_context_previews.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): standardize formatting, showcase rules, and edge case examples
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

refactor(session-pruning): simplify context token access and refine global budget pruning
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
  tests/suites/unit/core/services/test_session_orchestrator_pruning.py
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(prompts): refine assistant, pathfinder, and prototyper prompt templates
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

docs(session): add case file and vertical slice for auto-pruning persistence
  docs/project/debugging/02-session-autoprune-duplicates.md
  docs/project/slices/02-session-autoprune-duplicates.md
Due: none

feat(session): add plan parameter to trigger_replan contract
  docs/project/slices/02-session-autoprune-duplicates.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): deduplicate context items to prevent double-counting
  docs/project/slices/02-session-autoprune-duplicates.md
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): propagate plan in trigger_replan to ensure context persistence
  docs/project/slices/02-session-autoprune-duplicates.md
  src/teddy_executor/core/services/session_lifecycle_manager.py
  tests/suites/unit/core/services/test_session_lifecycle_manager.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): propagate plan to trigger_replan in session orchestrator
  docs/project/slices/02-session-autoprune-duplicates.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(core): enable context harvesting in interactive sessions
  docs/project/slices/02-session-autoprune-duplicates.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): wire context pruning and persistence across replans
  docs/project/slices/02-session-autoprune-duplicates.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/harness/drivers/plan_builder.py
  tests/suites/integration/core/services/test_session_pruning_persistence.py
  tests/suites/unit/core/services/test_session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator_validation.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(tests): standardize session autoprune and persistence coverage
  docs/architecture/core/services/context_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/project/slices/02-session-autoprune-duplicates.md
  tests/suites/integration/core/services/test_session_pruning_persistence.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture

chore(prompts): refine information gathering rule in all system prompts
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Cleanup
  docs/project/debugging/02-session-autoprune-duplicates.md
  docs/project/slices/02-session-autoprune-duplicates.md
Due: none

docs(debugging): document root cause for validation context reset
  docs/project/debugging/01-validation-context-reset.md
  docs/project/slices/01-fix-validation-context-reset.md
Due: none

feat(core): implement defensive context resolution in PlanningService
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/01-fix-validation-context-reset.md
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/core/services/context_service.py
  src/teddy_executor/core/services/execution_orchestrator.py
  src/teddy_executor/core/services/markdown_plan_parser.py
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/core/services/prompt_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/acceptance/test_ai_telemetry.py
  tests/suites/acceptance/test_session_management.py
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(core): centralize and automate session context resolution
  docs/architecture/ARCHITECTURE.md
  docs/architecture/core/services/planning_service.md
  docs/architecture/core/services/session_orchestrator.md
  docs/architecture/core/services/session_planner.md
  docs/project/debugging/01-validation-context-reset.md
  docs/project/milestones/10-interactive-session-and-config.md
  docs/project/slices/01-fix-validation-context-reset.md
  src/teddy_executor/core/ports/inbound/planning_use_case.py
  src/teddy_executor/core/services/session_planner.py
  tests/suites/unit/core/services/test_session_planner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Cleanup
  docs/project/debugging/01-validation-context-reset.md
  docs/project/slices/01-fix-validation-context-reset.md
Due: none

docs(session): analyze and specify user_request validation failure fix
  docs/project/debugging/01-validation-error-meta-user-request.md
  docs/project/slices/00-07-validation-error-meta-user-request.md
Due: none

feat(session): propagate validation failure in session transition
  docs/project/slices/00-07-validation-error-meta-user-request.md
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_session_service_transition.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
