Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

ruff-lint:
  name: Ruff Linter
  entry: ruff check src tests --fix
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter
  entry: ruff format src tests
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: mypy .
  language: system
  pass_filenames: false

vulture:
  name: Vulture (Dead Code)
  entry: vulture src --min-confidence 80
  language: system
  pass_filenames: false

file-length:
  name: Check File Length (Max 300 Lines)
  entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
  language: system

debug: verify python config logic remotely across OS matrix
  spikes/debug/remote_probe.sh
Due: none

refine RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

debug: remote probe for python mre
  spikes/debug/mre.py
  spikes/debug/remote_probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

Finalize RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

Cleanup
  docs/project/debugging/01-ci-platform-mismatch.md
  docs/project/debugging/01-orchestrator-crash-partial-failure.md
  docs/project/debugging/01-rpp-demonstration.md
  docs/project/debugging/02-mid-plan-failure-reporting.md
  docs/project/debugging/03-research-spacing-and-hint.md
  docs/project/debugging/04-research-spacing-and-hint-polish.md
  docs/project/debugging/05-ci-preflight-failure.md
  docs/project/debugging/06-windows-tui-worker-crash.md
  docs/project/debugging/07-research-partial-failure.md
  docs/project/debugging/08-context-command-slowdown.md
  docs/project/debugging/09-ci-performance-failure.md
  docs/project/debugging/10-windows-worker-crash-resume.md
  docs/project/debugging/11-windows-ci-failure-docs-restructure.md
  docs/project/debugging/12-context-path-crash.md
  docs/project/debugging/13-tui-session-polish.md
  docs/project/debugging/14-tui-context-management-refinement.md
  docs/project/debugging/15-auto-pruning-failure.md
  docs/project/debugging/16-windows-ci-failure-context-pruning.md
  docs/project/debugging/17-windows-ci-failure-context-retention.md
  docs/project/debugging/18-windows-encoding-crash.md
  spikes/debug/16-mre-path-context-verified.py
  spikes/debug/17-mre-fix-verified.py
  spikes/debug/18-mre-encoding.py
  spikes/debug/18-mre-systemic-fix.py
  spikes/debug/mre.py
  spikes/debug/remote_probe.py
  spikes/debug/remote_probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

polish RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

debug: remote probe for payment timeout
  spikes/debug/remote_probe.sh
Due: none

Cleanup
  spikes/debug/remote_probe.sh
Due: none

Refine RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

debug: remote probe for path resolution
  spikes/debug/remote_probe.sh
Due: none

debug: remote probe
  spikes/debug/remote_probe.sh
Due: none

debug: fix probe permissions
  spikes/debug/remote_probe.sh
Due: none

debug: remote probe for CI environment
  spikes/debug/remote_probe.sh
Due: none

feat(prompts): simplify developer integration fault isolation loop
  src/teddy_executor/resources/prompts/developer.xml
Due: none

feat(prompts): implement isolated shadow-fix mechanics and systemic debt harvesting for debugger
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Simplify RPP
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(debugger): refine RPP log filter to accurately strip CI boilerplate
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix(debugger): implement ANSI-aware and boilerplate-free log extraction
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix(debugger): integrate proven ansi-stripping and boilerplate-free log extraction pipeline
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

docs(architecture): finalize slice 00-08 for dynamic agent script runner and vcp abstraction
  docs/project/slices/00-08-agent-cli-tools.md
Due: none

docs(architecture): finalize slice 00-08 specifying strict scope and renaming vcp to commit
  docs/project/slices/00-08-agent-cli-tools.md
Due: none

Cleanup
  docs/project/slices/00-07-systemic-encoding-fix.md
  docs/project/slices/00-08-agent-cli-tools.md
Due: none

feat(prompts): replace SUCCESS/FAILURE states with ON-TRACK/OFF-TRACK/BLOCKED
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

update debug job
  .github/workflows/debug.yml
Due: none

debug: probe
  spikes/debug/remote_probe.sh
Due: none

debug: probe xdist
  spikes/debug/remote_probe.sh
Due: none

debug: probe fix
  spikes/debug/mre_runner.py
  spikes/debug/remote_probe.sh
Due: ruff-lint, ruff-format, mypy, vulture

fix(ci): identify root cause of windows xdist crash and document fix
  docs/project/debugging/01-windows-ci-crash.md
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
Due: none

fix(shell): explicitly isolate stdin for subprocess kwargs on all platforms
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_kwargs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(shell): explicitly isolate stdin for background process execution
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_background.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(system): enforce explicit stdin isolation for environment commands
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
  src/teddy_executor/adapters/outbound/system_environment_adapter.py
  tests/suites/unit/adapters/outbound/test_system_environment_adapter_kwargs.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(system): enforce explicit stdin isolation for environment inspector
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
  src/teddy_executor/adapters/outbound/system_environment_inspector.py
  tests/suites/integration/adapters/outbound/test_system_environment_inspector.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): mark windows subprocess concurrency fix slice as completed
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
Due: none

Cleanup
  docs/project/slices/00-09-windows-subprocess-concurrency-fix.md
Due: none

feat(core): implement turn retention limit pruning heuristic
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/core/services/test_session_pruning_service_refinement.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(showcase): add unified interactive context pruning showcase
  docs/project/slices/00-04-context-management-ui.md
  spikes/showcases/00-04/run_showcase.py
  spikes/showcases/00-04/showcase_heuristics.sh
Due: ruff-lint, ruff-format, mypy, vulture

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  file-length: any of: \.py$, but not: ^tests/|^spikes/
