Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

docs(slice): finalize context management ui with approved visuals
  docs/project/slices/00-04-context-management-ui.md
Due: none

feat(prompts): refine prototyper workflow to atomic single-file model
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Polish sanity check
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine sanity check iteration
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

add dry run to sanity check
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine --verify logic
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prompts): enforce functional interactive showcases in Prototyper
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine sanity check
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prototyper): implement lifecycle verification standard
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Revert "feat(prototyper): implement lifecycle verification standard"
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Refine refinement loop further
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

Further polish
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prompts): decompose prototyper refinement loop into granular steps
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

all - remove showcase metadata from vertical slice blueprint if present (redundant with prototype now)
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(context-mgmt): refine auto-pruning heuristics and align prototype
  docs/project/slices/00-04-context-management-ui.md
  docs/project/specs/context-management-ui.md
  prototypes/00-04/runner.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(slice): decompose deliverables for context management ui
  docs/project/slices/00-04-context-management-ui.md
Due: none

feat(core): add get_text_token_count contract to ILlmClient
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/ports/outbound/llm_client.py
  tests/suites/unit/core/ports/outbound/test_llm_client_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(llm): implement get_text_token_count in LiteLLMAdapter
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  tests/suites/unit/adapters/outbound/test_litellm_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Clean up vertical slice doc
  docs/project/slices/00-04-context-management-ui.md
Due: none

fix(tui): synchronize mock editor with confirmation flow
  docs/project/debugging/06-windows-tui-worker-crash.md
Due: none

fix(tui): synchronize mock editor with confirmation flow
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(tui): resolve OSError and maintain mock synchronization
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_editor.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(domain): implement ContextItem and expand ProjectContext
  docs/architecture/core/domain/project_context.md
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/core/domain/models/project_context.py
  tests/suites/unit/core/domain/models/test_project_context.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(config): add auto-pruning defaults and sanitize config
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/resources/config/config.yaml
  tests/suites/unit/adapters/outbound/test_yaml_config_adapter.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(core): expand IPlanReviewer contract and synchronize implementations
  docs/project/slices/00-04-context-management-ui.md
  pyproject.toml
  src/teddy_executor/adapters/inbound/console_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/core/ports/inbound/plan_reviewer.py
  tests/harness/vulture_whitelist.py
  tests/suites/integration/core/services/test_partial_execution_integration.py
  tests/suites/unit/core/ports/inbound/test_plan_reviewer_contract.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

refactor(ui): propagate project_context to reviewer and orchestrator
  docs/project/slices/00-04-context-management-ui.md
  src/teddy_executor/adapters/inbound/textual_plan_reviewer.py
  src/teddy_executor/adapters/inbound/textual_plan_reviewer_app.py
  src/teddy_executor/core/ports/inbound/run_plan_use_case.py
  src/teddy_executor/core/services/execution_orchestrator.py
  tests/harness/setup/mocks.py
  tests/harness/vulture_whitelist.py
  tests/suites/unit/core/services/test_execution_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(ui): restore trunk integrity and fix session test regressions
  src/teddy_executor/core/services/session_lifecycle_manager.py
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/acceptance/test_modified_audit_trail.py
  tests/suites/acceptance/test_prompt_auto_approval.py
  tests/suites/unit/core/services/test_session_orchestrator_initial_prompt.py
  tests/suites/unit/core/services/test_session_orchestrator_resume.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Refine protocol
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

feat(prompts): update VCP test scope and reorder Vertical Slice sections
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prompts): refine agent documentation and alignment duties
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(prompts): refine agent duties for debt audit, implementation logging, and systemic debugging
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
Due: none

fix(research): allow partial success in multi-query RESEARCH actions
  docs/project/debugging/07-research-partial-failure.md
  src/teddy_executor/adapters/outbound/web_searcher_adapter.py
  tests/suites/integration/adapters/outbound/test_web_searcher_partial_failure.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

chore(prompts): transition to coverage-driven dead code hygiene
  docs/project/tasks/11-retire-vulture.md
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(prompts): standardize VCP rule with shell block
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

chore: retire vulture and pivot to coverage-driven hygiene
  .pre-commit-config.yaml
  docs/architecture/ARCHITECTURE.md
  docs/project/tasks/11-retire-vulture.md
  pyproject.toml
  tests/harness/vulture_whitelist.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(prompts): simplify and standardize VCP rule across all agents
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

fix(ci): sync lockfile and update pip to 26.1.1
  poetry.lock
Due: none

Refine VCP
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none
