Repository atte500/TeDDy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, vulture, file-length

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: check-case-conflict
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: ruff-lint
        name: Ruff Linter
        entry: ruff check src tests --fix
        language: system
        types: [python]
        pass_filenames: false

    -   id: ruff-format
        name: Ruff Formatter
        entry: ruff format src tests
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: mypy .
        language: system
        types: [python]
        pass_filenames: false

    -   id: vulture
        name: Vulture (Dead Code)
        entry: vulture src --min-confidence 80
        language: system
        types: [python]
        pass_filenames: false

    -   id: file-length
        name: Check File Length (Max 300 Lines)
        entry: bash -c 'for f in "$@"; do if [ $(wc -l < "$f") -gt 300 ]; then echo "File $f is too long (>300 lines). Please refactor."; exit 1; fi; done' --
        language: system
        types: [python]
        exclude: ^tests/|^spikes/

feat(session): add resume hint after session termination message
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(parser): add task brief for stripping preamble before H1
  docs/project/tasks/21-strip-preamble-before-h1.md
Due: none

fix(parser): strip preamble text before H1 heading during parsing
  docs/architecture/core/services/markdown_plan_parser.md
  docs/project/slices/00-05-strip-preamble-before-h1.md
  src/teddy_executor/core/services/markdown_plan_parser.py
  tests/suites/unit/core/services/test_parser_errors.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(session): add session.context preservation for message and user-request turns
  docs/project/tasks/22-preserve-message-turns-to-session-context.md
  src/teddy_executor/container.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_bug_19_execution_failure_context.py
  tests/suites/unit/core/services/test_session_service_dynamic_agent_naming.py
  tests/suites/unit/core/services/test_session_service_prompt_contract.py
  tests/suites/unit/core/services/test_session_service_pruning.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(session-orchestrator): remove duplicate finalize_turn call in validation failure path
  docs/project/debugging/19-context-add-after-failed-edit.md
Due: none

fix(session): correct user-request turn detection regex to match template heading format
  .secrets.baseline
  docs/project/debugging/20-user-message-context-assignment.md
  spikes/debug/.gitkeep
  src/teddy_executor/adapters/inbound/session_cli_handlers.py
  src/teddy_executor/adapters/outbound/litellm_adapter.py
  src/teddy_executor/core/services/session_pruning_service.py
  src/teddy_executor/core/services/session_service.py
  tests/suites/unit/core/services/test_bug_20_preserved_turn_format_mismatch.py
  tests/suites/unit/core/services/test_session_pruning_preserve_user_requests.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(debugger): add MRE re-verification step after fix application
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix(debugger): remove redundant MRE lifecycle note from teardown step
  src/teddy_executor/resources/prompts/debugger.xml
Due: none

fix(session): add "path" key fallback to context auto-addition for Bug 19
  docs/project/debugging/19-context-add-after-failed-edit.md
  src/teddy_executor/core/services/session_service.py
  src/teddy_executor/core/services/validation_rules/edit.py
  tests/suites/unit/core/services/test_bug_19_execution_failure_context.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): add remaining debt note and proposed slice 02-17 for Bug 19
  docs/project/debugging/19-context-add-after-failed-edit.md
  docs/project/milestones/02-stability-and-polish.md
Due: none

docs(project): remove proposed slice 02-17 from planning per user request
  docs/project/debugging/19-context-add-after-failed-edit.md
  docs/project/milestones/02-stability-and-polish.md
Due: none

refactor(pruning): remove turn-level sparing logic and update obsolete tests
  src/teddy_executor/core/services/session_pruning_service.py
  tests/suites/unit/core/services/test_bug_20_preserved_turn_format_mismatch.py
  tests/suites/unit/core/services/test_session_pruning_message_protection.py
  tests/suites/unit/core/services/test_session_pruning_preserve_messages_budget.py
  tests/suites/unit/core/services/test_session_pruning_preserve_user_requests.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(docs): add task brief for input.md turn N, EXECUTE Tail, READ Lines, prompt updates
  docs/project/tasks/24-execute-read-adhoc-params.md
Due: none

docs(slice): add skeleton for execute-read-adhoc-params
  docs/project/slices/00-24-execute-read-adhoc-params.md
Due: none

fix(pathfinder): remove blocking approval gates and scope PROJECT.md updates to milestone tasks
  src/teddy_executor/resources/prompts/pathfinder.xml
Due: none

feat(context): add current_turn parameter to ContextService
  docs/project/slices/00-24-execute-read-adhoc-params.md
  src/teddy_executor/core/ports/inbound/get_context_use_case.py
  src/teddy_executor/core/services/context_service.py
  tests/suites/unit/core/services/test_context_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(parser): add Tail parameter extraction to EXECUTE parsing
  docs/project/slices/00-24-execute-read-adhoc-params.md
  src/teddy_executor/core/services/action_parser_complex.py
  tests/suites/unit/core/services/test_parser_metadata.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(project): extract history.log from Milestone 3 and create Task Brief
  docs/project/PROJECT.md
  docs/project/tasks/25-history-log-implementation.md
Due: none

feat(parser): add Tail parameter propagation from EXECUTE parsing to ShellAdapter truncation
  docs/project/slices/00-24-execute-read-adhoc-params.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  src/teddy_executor/core/ports/outbound/shell_executor.py
  src/teddy_executor/core/services/action_factory.py
  tests/suites/unit/adapters/outbound/test_shell_adapter_capping.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(parser): add Lines parameter extraction to READ parsing
  docs/project/slices/00-24-execute-read-adhoc-params.md
  src/teddy_executor/core/services/action_parser_strategies.py
  tests/suites/unit/core/services/test_parser_metadata.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(slice): add session history log vertical slice
  docs/project/slices/00-25-history-log.md
Due: none

feat(history-log): implement Tee utility class for stdout tee'ing
  docs/project/slices/00-25-history-log.md
  src/teddy_executor/core/utils/io.py
  tests/suites/unit/core/utils/test_io.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(read): apply Lines range in READ execution via LinesAwareReadAction
  docs/project/slices/00-24-execute-read-adhoc-params.md
  src/teddy_executor/core/services/action_factory.py
  src/teddy_executor/core/utils/string.py
  tests/suites/unit/core/services/test_action_factory.py
  tests/suites/unit/core/utils/test_extract_lines_range.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(history-log): add metadata header printing to SessionOrchestrator
  docs/project/slices/00-25-history-log.md
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(history-log): install Tee in SessionOrchestrator for history.log capture
  docs/project/slices/00-25-history-log.md
  history.log
  src/teddy_executor/core/services/session_orchestrator.py
  tests/suites/unit/core/services/test_wiring_history_log.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(history-log): install Tee in SessionOrchestrator for history.log capture
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

feat(history-log): extract shared test harness for SessionOrchestrator
  docs/project/slices/00-25-history-log.md
  tests/harness/setup/orchestrator_helpers.py
  tests/suites/unit/core/services/test_wiring_history_log.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(history-log): add unit tests for Tee flush/isatty/exception-safety
  docs/project/slices/00-25-history-log.md
  tests/suites/unit/core/utils/test_io.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(history-log): add integration tests for history.log scenarios
  docs/project/slices/00-25-history-log.md
  tests/suites/integration/core/services/test_history_log_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

feat(history-log): finalize slice - update milestone [x]
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/00-25-history-log.md
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

docs(prompts,slice): add Tail/Lines parameter docs to all 6 prompts and wire current_turn in planning_service
  docs/project/slices/00-24-execute-read-adhoc-params.md
  src/teddy_executor/core/services/planning_service.py
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
  tests/suites/unit/core/services/test_planning_service.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

fix(prompts): align Tail/Lines param formatting with existing concise style
  src/teddy_executor/resources/prompts/architect.xml
  src/teddy_executor/resources/prompts/assistant.xml
  src/teddy_executor/resources/prompts/debugger.xml
  src/teddy_executor/resources/prompts/developer.xml
  src/teddy_executor/resources/prompts/pathfinder.xml
  src/teddy_executor/resources/prompts/prototyper.xml
Due: none

feat(executor): add acceptance tests for EXECUTE Tail and READ Lines range (slice 00-24)
  docs/project/slices/00-24-execute-read-adhoc-params.md
  spikes/debug/.gitkeep
  tests/suites/acceptance/test_execute_read_adhoc_params.py
Due: ruff-lint, ruff-format, mypy, vulture

docs(project): add task brief for report and TUI parameter fixes
  docs/project/tasks/26-fix-report-and-tui-read-execute-params.md
Due: none

fix(tests): prevent space-in-path failures and relax cwd validation
  docs/architecture/ARCHITECTURE.md
  src/teddy_executor/adapters/outbound/shell_adapter.py
  tests/harness/setup/test_environment.py
  tests/suites/unit/test_environment_harness.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(history-log): finalize slice - update milestone [x]"
  docs/project/milestones/02-stability-and-polish.md
  docs/project/slices/00-25-history-log.md
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length

Revert "feat(history-log): add integration tests for history.log scenarios"
  docs/project/slices/00-25-history-log.md
  tests/suites/integration/core/services/test_history_log_integration.py
Due: ruff-lint, ruff-format, mypy, vulture

Revert "feat(history-log): add unit tests for Tee flush/isatty/exception-safety"
  docs/project/slices/00-25-history-log.md
  tests/suites/unit/core/utils/test_io.py
Due: ruff-lint, ruff-format, mypy, vulture

Revert "feat(history-log): extract shared test harness for SessionOrchestrator"
  docs/project/slices/00-25-history-log.md
  tests/harness/setup/orchestrator_helpers.py
  tests/suites/unit/core/services/test_wiring_history_log.py
Due: ruff-lint, ruff-format, mypy, vulture

Revert "feat(history-log): install Tee in SessionOrchestrator for history.log capture"
  src/teddy_executor/core/services/session_orchestrator.py
Due: ruff-lint, ruff-format, mypy, vulture, file-length
